- if @importable
  %h1 Proposed Import From #{@import.vendor}
- else
  %h1 Imported From #{@import.vendor} on #{@import.updated_at.to_formatted_s(:showtime_including_year)}

= form_for @import do
  %table.table#proposed_import
    %thead
      %tr
        %th{:scope => 'col'} Vendor's order#
        %th{:scope => 'col'} Txn date
        %th{:scope => 'col'} Tickets
        %th{:scope => 'col'} Seats
        %th{:scope => 'col'} Name on import
        %th{:scope => 'col'} Email on import
        %th{:scope => 'col', :width => '20%'}= @importable ? 'Import to customer' : ''
    %tbody
      - @import.importable_orders.each do |ord|
        - @order = ord.order
        - oid = @order.id
        %tr{:class => ('font-italic' if ord.already_imported?)}
          %td= @order.external_key
          %td= ord.transaction_date.strftime('%b %d, %-l:%M%p')
          %td= ord.description.html_safe
          %td 
            - if @importable && @order.vouchers.first.is_placeholder?
              = button_tag 'Choose Seats...', :type => 'button', :class => 'btn btn-outline-primary d-inline select-seats'
            - else
              = display_seats_field(seats: Voucher.seats_for(@order.vouchers))
          %td #{ord.import_last_name}, #{ord.import_first_name}
          %td= ord.import_email
          = hidden_field_tag "o[#{oid}][transaction_date]", ord.transaction_date
          = hidden_field_tag "o[#{oid}][first]", ord.import_first_name
          = hidden_field_tag "o[#{oid}][last]", ord.import_last_name
          = hidden_field_tag "o[#{oid}][email]", ord.import_email
          = hidden_field_tag "o[#{oid}][action]", ord.action
          %td.actions= import_choices(ord).html_safe
      %tr
        %td{:colspan => 7}
          = render :partial => 'components/seatmap'

  - if @importable
    = submit_tag 'Import Orders', :class => 'btn btn-success'
  = link_to 'Back', ticket_sales_imports_path, :class => 'btn btn-primary'

