= set_active_tab '#t_ticket_sales_imports_index'

%h1 Proposed Import From #{@import.vendor}

= hidden_field_tag 'import_url', ticket_sales_import_path(@import)
= hidden_field_tag 'import_timer_expires', (@import.created_at + Option.import_timeout.minutes).to_i
%h4.timer
  Please complete this import in
  %span#timer #{Option.import_timeout.to_i}:00
  minutes
  %br
  or it will automatically cancel.

= form_for @import do
  %table.table#proposed_import
    %thead
      %tr.text-center
        %th{:scope => 'col'} Vendor's order#
        %th{:scope => 'col'} Txn date
        %th{:scope => 'col'} Tickets
        %th{:scope => 'col'} Seats
        %th{:scope => 'col'} Name on import
        %th{:scope => 'col'} Email on import
        %th{:scope => 'col', :width => '20%'} Import to customer
    %tbody.tbody-import
      - @imported_orders.each do |ord|
        - p = ord.from_import
        %tr.import-row
          %td.import-key= ord.external_key
          %td= p.transaction_date.strftime('%b %d, %-l:%M%p')
          %td= p.description.html_safe
          %td.text-center
            = hidden_field_tag 'voucher_ids', ord.vouchers.map(&:id).join(','), :id => nil, :name => nil, :class => 'voucher-ids'
            - if (s = ord.reserved_seating_params)
              = hidden_field_tag 'showdate_id', s[:showdate_id], :id => nil, :class => 'showdate-id'
              = hidden_field_tag 'num_seats', s[:num_seats], :id => nil, :class => 'num-seats'
              = button_tag "Choose #{s[:num_seats]} Seat#{'s' if s[:num_seats] > 1}...", :type => 'button', :id => nil, :class => 'btn btn-sm btn-outline-primary  select-seats'
              = button_tag 'Confirm', :type => 'button', :id => nil, :disabled => true, :class => 'btn btn-sm btn-success d-none confirm-seats'
              = display_seats_field
            - else
              = display_seats_field(seats: Voucher.seats_for(ord.vouchers))
          %td.import-name #{p.last}, #{p.first}
          %td.import-email= p.email
          %td.actions= import_choices(ord).html_safe
      %tr#seatmap-table-row
        %td{:colspan => 7}
          = render :partial => 'components/seatmap'

  = submit_tag 'Import Orders', :id => 'submit', :class => 'btn btn-success confirm-import'

= form_for @import, :method => :delete, :class => 'form form-inline' do
  = submit_tag 'Cancel Import', :class => 'btn btn-danger my-2', 'data-confirm' => t('import.confirm_delete_import')

