.container
  %h1 Proposed Import from #{@import.vendor}

  = form_for @import do
    %table.table
      %thead
        %tr
          %th{:scope => 'col'} Vendor's order#
          %th{:scope => 'col'} Tickets
          %th{:scope => 'col'} Name on import
          %th{:scope => 'col'} Email on import
          %th{:scope => 'col', :width => '20%'} Import to customer
      %tbody
        - @import.importable_orders.each_with_index do |ord,idx|
          %tr
            %td= ord.order.external_key
            %td= ord.description
            %td #{ord.import_last_name}, #{ord.import_first_name}
            %td= ord.import_email
            %td
              - if ord.action == ImportableOrder::ALREADY_IMPORTED
                Already imported as order #
                = link_to ord.order.id, order_path(ord.order)
              - else
                = select_tag "import[#{idx}]", import_choices(ord), :class => 'form-control'

    = submit_tag 'Import Orders', :class => 'btn btn-success'
    = link_to 'Cancel', ticket_sales_imports_path, :class => 'btn btn-secondary'
  
