/ = form_tag '/auth/identity/callback' do

= form_tag '/auth/identity/callback' do

  %label{:for=>:email} Email
  = text_field_tag 'email', @email, :size => 20
  %br/

  %label{:for=>:password} Password
  = password_field_tag 'password', nil, :size => 20
  %br/

  = hidden_field_tag :callback_type, "login"
  
  = link_to "Connect with Omniauth", "/auth/developer"
  %br/

  .indented
    .small
      Need to reset your password?
      = link_to 'Get a new password by email', forgot_password_customers_path
      or if you have previously setup a secret question,
      = link_to 'answer your secret question', new_from_secret_session_path
      to reset your password.
      %br
      = check_box_tag 'remember_me', '1', @remember_me
      Remember me for next time (Don't use on public/shared computers)
    = submit_tag 'Login', :disable_with => 'Logging in...'