- unless @gCheckoutInProgress
  %h1.page_heading.center= "#{Option.value(:venue)} Online Box Office"
  
#have_account
  %h2 Subscribers and Returning Customers
  = render :partial => 'sessions/new'

#new_customer
  %h2 New Customers
  - if @gCheckoutInProgress
    = gen_button "Enter Billing Information",  :controller => 'customers', :action => 'new'
  - else
    = gen_button "Create Account", :controller => 'customers', :action => 'new'
    %br
    %br
    = link_to_if_option_text :homepage_ticket_sales_text, {:controller => :store, :action => :index}, {:class => 'genButton'}
    %br
    = link_to_if_option_text :homepage_subscription_sales_text, {:controller => 'store', :action => 'subscribe'}, {:class => 'genButton'}
    %br
    
- if USE_FACEBOOK
  #login_with_facebook
    %h2 Or Login Using Facebook
    = fb_login_button("window.location = '/customers/link_user_accounts_#{h(Option.value(:venue_shortname))}';")

.clear
