- unless @gCheckoutInProgress
  %h1.page_heading.center= "#{Option.venue} Online Box Office"
  
#have_account
  %h2 Subscribers and Returning Customers
  = render :partial => 'sessions/new'

#new_customer
  %h2 New Customers
  - if @gCheckoutInProgress
    %span#enter_billing.new_account= gen_button "Enter Billing Information",  :controller => 'customers', :action => 'new'
  - else
    %span#new_account.new_account= gen_button "Create Account", :controller => 'customers', :action => 'new'
    %br
    = link_to_if_option_text :homepage_ticket_sales_text, {:controller => :store, :action => :index}, {:class => 'genButton'}
    %br
    = link_to_if_option_text :homepage_subscription_sales_text, {:controller => 'store', :action => 'subscribe'}, {:class => 'genButton'}
    %br
    
  #login_with_facebook
    %p Facebook Connect will be back shortly...meanwhile, login with your existing email and password, or enter your email and click "Forgot Password" if you need a new password.

- if USE_FACEBOOK
  #login_with_facebook
    - if ie8
      = image_tag 'connect_disabled.png'
      %p Sorry, Facebook Connect features don't work properly with Internet Explorer 8.
    - else
      %h2 Or Login Using Facebook
      = fb_login_button("window.location = '/customers/link_user_accounts_#{h(Option.venue_shortname)}';")
      = popup_help_for 'login_using_facebook'

.clear
