- unless @gCheckoutInProgress
  %h1.page_heading.center= "#{Option.venue} Online Box Office"
  
#have_account
  %h2 Subscribers and Returning Customers
  = render :partial => 'sessions/new'

#new_customer
  %h2 New Customers
  %span#new_account.new_account= link_to "Create Account", new_customer_path, :class => 'genButton'
  %br
  - if @gCheckoutInProgress
    %span#enter_billing.new_account= link_to "Checkout as Guest",  guest_checkout_customers_path, :class => 'genButton'
    %br
  - else 
    = link_to_if_option_text :homepage_ticket_sales_text, store_path, {:class => 'genButton'}
    %br
    = link_to_if_option_text :homepage_subscription_sales_text, store_path, {:class => 'genButton'}
    %br
    
.clear
