%h1 Answer Your Secret Question

%p
  Enter the email address you've registered with us, select the secret question 
  you chose when you setup your password, and type the answer to your question.

%p
  If they match, we'll log you in and you can reset your password.

%p.strong What if I don't remember my secret answer, or I haven't set up a secret question?

%ul
  %li 
    You can 
    = link_to 'receive a new password by email', forgot_password_customers_path
  %li 
    You can
    = link_to 'create a new account', login_path
  

= form_tag create_from_secret_session_path do
  %label{:for => :email} Email
  = text_field_tag 'email', '', :size => 40
  %br
  %label{:for => :secret_question} Secret Question
  = select_tag 'secret_question', secret_question_select()
  %br
  %label{:for => :answer} Your Answer
  = text_field_tag 'answer', '', :size => 40
  %br
  = submit_tag 'Verify'
  = link_to 'Cancel', login_path, :class => 'btn btn-primary'
