%h1 Answer Your Secret Question

%p
  Enter the email address you've registered with us, select the secret question 
  you chose when you setup your password, and type the answer to your question.

%p
  If they match, we'll log you in and you can reset your password.

%p
  %strong What if I don't remember my secret answer, or I haven't set up a secret question?

%ul
  %li 
    You can 
    = link_to 'reset your password by email', forgot_password_customers_path
  %li 
    You can continue with your purchase and
    = link_to 'create a new account', login_path
    when you checkout  

= form_tag create_from_secret_session_path do
  .form-group.row
    .col-md-2
      %label.col-form-label.text-right{:for => :email} Email
    .col-md-6
      = text_field_tag 'email', @email, :class => 'form-control'
  .form-group.row
    .col-md-2
      %label.col-form-label.text-right{:for => :secret_question} Secret Question
    .col-md-6
      = select_tag 'secret_question', secret_question_select(), :class => 'form-control'
  .form-group.row
    .col-md-2
      %label.col-form-label.text-right{:for => :answer} Your Answer
    .col-md-6
      = text_field_tag 'answer', '', :class => 'form-control'
  .form-group.row
    .col-md-2.offset-md-2= submit_tag 'Verify', :class => 'btn btn-success btn-block'
    .col-md-2= link_to 'Cancel', login_path, :class => 'btn btn-secondary btn-block'
