%div[visit]

  - @visit = visit 
  = error_messages_for :visit

  %h2 
    = "Contacted by #{visit.visited_by}"
    = " on #{visit.thedate.to_s(:short)}" unless visit.new_record?

  - form_tag :action=>form_action, :id=>(@visit.new_record? ? nil: @visit) do
    = hidden_field_tag 'visit[visited_by_id]', @logged_in_id
    = hidden_field_tag 'visit[followup_assigned_to_id]', @logged_in_id
    = hidden_field_tag 'visit[customer_id]', @customer.id
    %table
      %tr
        %td
          %label{:for=>:visit_thedate} Contact Date
          %br/
          = date_select('visit','thedate')
        %td
          %label{:for=>:visit_contact_method} Contact Method
          %br/
          = input('visit','contact_method')
        %td
          %label{:for=>:visit_purpose} Purpose
          %br/
          = input('visit','purpose')
        %td
          %label{:for=>:visit_result} Result
          %br/
          = input('visit','result')
      %tr
        %td
          %label{:for=>:visit_followup_date} Follow-up Date
          %br/
          = date_select('visit','followup_date',:start_year => Time.now.year)
        %td
          %label{:for=>:visit_followup_action} Follow-up Action
          %br/
          = text_field 'visit','followup_action', :size => 20
        %td
          %label{:for=>:followup_assigned_to} Follow-up Assigned To
          %br/
          = text_field_tag 'visit', visit.followup_by, :disabled => true
        %td
          %label{:for=>:visit_location} Visit Location
          %br/
          = text_field 'visit','location', :size => 20
      %tr
        %td{:colspan=>4}
          %label{:for=>:visit_additional_notes} Notes
          %br/
          = text_area 'visit','additional_notes', :cols => 85, :rows => 2
      %tr
    = submit_tag "#{form_action.capitalize} Visit Information"
