.pageDiv#newVisit
  %h1 
    Report on Visit with
    = @customer.full_name
  = error_messages_for :visit
  = error_messages_for :customer
  = render :partial => 'visit', :object => @visit, :locals => {:customer => @customer, :form_action => 'create'}

- if @previous_visits
  .pageDiv#previousVisits
    %h1 Previous Visit Reports
    = render :partial => 'visit',:collection => @previous_visits, :locals => {:form_action => 'update'}

