.form-group.form-row
  .col-md-5.text-right
    = popup_help_for :valid_voucher_max_sales_for_type
    %label.col-form-label{:for=>:valid_voucher_max_sales_for_type} Max sales for this type (Leave blank for unlimited)
  = number_field_tag 'valid_voucher_max_sales_for_type', (@valid_voucher.max_sales_for_type unless @valid_voucher.max_sales_for_type == ValidVoucher::INFINITE), :class => 'form-control col-md-2'

.form-group.form-row
  .col-md-5.text-right
    = popup_help_for :valid_voucher_promo_code
    %label.col-form-label{:for=>:valid_voucher_promo_code} Redemption ("promo") code, if any
  = text_field 'valid_voucher', 'promo_code', :class => 'form-control col-md-4'

.form-group.form-row
  .col-md-5.text-right
    = popup_help_for :valid_voucher_sales_dates
    %label.col-form-label{:for=>:valid_voucher_start_sales}  Start sales:
  .col-md-6= datetime_select 'valid_voucher', 'start_sales'

.form-group.form-row
  .col-md-5.text-right
    %label.col-form-label  End sales:
  .form-check.form-check-inline.col-md-6
    = radio_button_tag 'end_is_relative', 1, true, :class => 'form-check-input'
    = number_field_tag 'hours_before', 2, :class => 'form-control form-control-sm col-md-1'
    %label.form-check-label.px-2 hours before show time
.form-group.form-row
  .col-md-5
  .form-check.form-check-inline.col-md-6
    = radio_button_tag 'end_is_relative', 0, false, :class => 'form-check-input'
    %span.px-2 On this date:
    = datetime_select 'valid_voucher', 'end_sales'

= render :partial => 'weekday_checkbox_links'
- cols = 5
- @showdate.show.showdates.each_with_index do |showdate,idx|  
  - if idx % cols == 0
    <div class="row pl-4">
  .col-md-2.form-check.form-check-inline
    - wkday = showdate.thedate.strftime('%a')
    .form-check-input= check_box_tag('showdates[]', 1, false, :class => "showdate showdate-#{wkday}", :id => "showdates[#{showdate.id}]")
    %label.form-check-label= showdate.thedate.to_formatted_s(:showtime_brief)
  - if idx % cols == cols-1
    </div>
- if @showdate.show.showdates.size % cols != 0
  </div>
