%label{:for=>:valid_voucher_max_sales_for_type} Max sales for this type (Leave blank for unlimited)
= text_field 'valid_voucher', 'max_sales_for_type', :size=>5 
= popup_help_for :valid_voucher_max_sales_for_type
%br

%label{:for=>:valid_voucher_promo_code} Redemption ("promo") code, if any
= text_field 'valid_voucher', 'promo_code', 'size'=>40
= popup_help_for :valid_voucher_promo_code
%br

%label{:for=>:valid_voucher_start_sales}  Start sales on
= datetime_select 'valid_voucher', 'start_sales'
= popup_help_for :valid_voucher_sales_dates
%br

%label{:for=>:valid_voucher_end_sales}  End sales:
= radio_button_tag 'end_is_relative', 1, true
= text_field_tag 'hours_before', 2, :size => 4
hours before show time
%br
%label or
= radio_button_tag 'end_is_relative', 0
On this date:
= datetime_select 'valid_voucher', 'end_sales'
%br

= link_to 'Back', show_path(@showdate.show), {:class => 'genButton' }

/[eoform:valid_voucher]


