= error_messages_for 'valid_voucher'

/[form:valid_voucher]

%label{:for=>:valid_voucher_max_sales_for_type} Max sales for this type (0=unlimited)
= text_field 'valid_voucher', 'max_sales_for_type', :size=>5 
%br

%label{:for=>:valid_voucher_password} Password
= text_field 'valid_voucher', 'password', 'size'=>40
%br

%p
  If multiple passwords are allowed, separate them by commas. 
  Passwords are not case-sensitive and redemption is tracked separately 
  for each password. 

%label{:for=>:valid_voucher_start_sales}  Start sales on
= datetime_select 'valid_voucher', 'start_sales'
%br

%label{:for=>:valid_voucher_end_sales}  End sales:
= radio_button_tag 'end_is_relative', 1, true
= text_field_tag 'hours_before', 2, :size => 4
hours before show time
%br
%label or
= radio_button_tag 'end_is_relative', 0
On this date:
= datetime_select 'valid_voucher', 'end_sales'
%br

= link_to 'Back', {:controller => 'shows', :action => 'edit', :id => @showdate.show.id }, {:class => 'genButton' }

/[eoform:valid_voucher]


