.form-row.pl-4.pb-3.border-top
  .col-md-2.text-center
    Select Dates:
    %br
    = link_to 'All', '#',  :onclick => %Q{$('.showdate').prop('checked', true); return(false);}, :class => 'btn btn-outline-secondary btn-sm px-1'
    = link_to 'None', '#', :onclick => %Q{$('.showdate').prop('checked', false); return(false);}, :class => 'btn btn-outline-secondary btn-sm px-1'
  .col-md-5.text-center
    Or Select Every:
    %br
    - %w(Mon Tue Wed Thu Fri Sat Sun).each do |wday|
      = link_to wday, '#', :onclick => %Q{$('.showdate-#{wday}').prop('checked', true); return(false);}, :class => 'btn btn-outline-secondary btn-sm px-1'
  .col-md-5.text-center
    Or Select None:
    %br
    - %w(Mon Tue Wed Thu Fri Sat Sun).each do |wday|
      = link_to wday, '#', :onclick => %Q{$('.showdate-#{wday}').prop('checked', false); return(false);}, :class => 'btn btn-outline-secondary btn-sm px-1'
