%h2 Edit Ticket Redemption

- vt = @valid_voucher.vouchertype
%p
  %strong Performance:
  =  h(@valid_voucher.printable_name)
%p
  %strong Ticket type:
  =  link_to vt.name_with_season_and_price, edit_vouchertype_path(vt)

%br

= form_tag valid_voucher_path(@valid_voucher), :method => :put do

  = hidden_field 'valid_voucher', 'vouchertype_id', :value => vt.id
  = render :partial => 'form'
  = submit_tag 'Save Changes'
  = link_to 'Cancel', edit_show_path(@valid_voucher.showdate.show), {:class => 'btn btn-primary' }
