%h2 Add ticket type(s) for #{@showdate.show.name}

= form_tag valid_vouchers_path do
  %label{:for=>:valid_voucher_vouchertypes} Voucher/ticket type (Ctrl-click to select multiple)
  = select_tag 'valid_voucher[vouchertypes]', options_from_collection_for_select(@vouchertypes, :id, :name_with_season_and_price), :multiple => true
  %br/
  = render :partial => 'form'
  %table
    %tr
      %td Add ticket type to:
      %td
        = hidden_field_tag 'valid_voucher[showdate_id]', @showdate_id
        = radio_button_tag "add_to_all", 0, !@add_to_all
        = @showdate.printable_date
        Only
        %br/
        = radio_button_tag "add_to_all", 1, @add_to_all
        All Dates
        %br/
  = submit_tag "Add", :class => 'btn btn-success'
  = link_to 'Cancel', edit_show_path(@showdate.show), {:class => 'btn btn-secondary' }
