%h2
  Add ticket type for 
  = @showdate.show.name

- form_tag :action => 'create' do
  %label{:for=>:valid_voucher_vouchertype_id} Voucher/ticket type
  = select_tag 'valid_voucher[vouchertype_id]', options_from_collection_for_select(@vouchertypes, :id, :name_with_price)
  %br/
  = render :partial => 'form'
  %table
    %tr
      %td Add ticket type to:
      %td
        = hidden_field_tag 'valid_voucher[showdate_id]', @showdate_id
        = radio_button_tag "addtojustone", 1, !@add_to_all
        = @showdate.printable_date
        Only
        %br/
        = radio_button_tag "addtojustone", 0, @add_to_all
        All Dates
        %br/
  = submit_tag "Add"
  = submit_tag "Save & Add Another"

