%h2 Add ticket type(s) for #{@showdate.show.name}

= form_tag valid_vouchers_path do
  .form-group.form-row
    %label.col-form-label.col-md-5{:for=>:valid_voucher_vouchertypes} Voucher/ticket type (Ctrl-click to select multiple)
    = select_tag 'valid_voucher[vouchertypes]', options_from_collection_for_select(@vouchertypes, :id, :name_with_season_and_price), :multiple => true, :class => 'form-control col-md-6'

  = render :partial => 'form'

  .form-row
    .col-md-2.offset-md-5= submit_tag "Add", :class => 'btn btn-success btn-block'
    .col-md-2= link_to 'Cancel', edit_show_path(@showdate.show), {:class => 'btn btn-secondary btn-block' }
