<h1>New label</h1>

<% form_for(@label) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Save' %>
    <%= f.submit 'Save & Add Another' %>
  </p>
<% end %>

<%= link_to 'Back', labels_path %>, :class => 'genButton'
