# Authentication: commenting out the single line 'require valid-user' will disable authentication
AuthUserFile /home/audienc/htpasswd-general
AuthGroupFile /dev/null
AuthName "Limited Access"
AuthType Basic
<%= (config['protected'] == 'true' ? '' : '# ') %>require valid-user

RewriteEngine On

ErrorDocument 503 /<%= venue %>/system/maintenance.html
RewriteCond %{DOCUMENT_ROOT}/<%= venue %>/system/maintenance.html -f
RewriteCond %{SCRIPT_FILENAME} !maintenance.html
<%- debugging_ips.each do |addr| %>
RewriteCond %{REMOTE_ADDR} !^<%= addr.gsub('.','\.') %>$
<%- end %>
RewriteRule ^.*$ /<%= venue %>/system/maintenance.html [redirect=503,L]

# In case Rails experiences terminal errors

ErrorDocument 500 "<h2>Temporarily Busy</h2> System is temporarily busy...please try again in about 30 seconds. Thanks!"
