%table
  %thead
    %tr
      %th
      %th Name
      %th Address
      %th City
      %th State
      %th Zip
      %th Work phone
      %th Cell phone
      %th Work fax
      %th Group Url
      %th Comments
  %tbody
    - @groups.each do |group|
      %tr
        %td= check_box_tag("group[#{group.id}]", 'yes', @customer.groups.exists?(group))
        %td= group.name
        %td= group.address_line_1 + ' ' + group.address_line_2.to_s unless group.address_line_1 == nil

        %td= group.city
        %td= group.state
        %td= group.zip
        %td= group.work_phone
        %td= group.cell_phone
        %td= group.work_fax
        %td= group.group_url
        %td= group.comments
