- unless @customer.nil?
  %h2 Selected Customer
  %table.hilite#customer
    %thead
      = render :partial => 'customers/customer_header'
    %tbody
      = render :partial => 'customers/customer', :collection => [@customer], locals: {checkbox: false}
  %h2 Manage groups or add to a new group
  %div#tab
    %ul
      %li{:class => "on", :id => "ExistingGroupTab"}= 'Existing Groups'
      %li{:class => "off", :id => "CreateGroupTab"}= 'Create a group'
    %div#select{:class => "show"}
      - unless @groups.empty?
        = form_tag update_customer_groups_path(:customer => @customer), :method => :post do
          = render :partial => 'groupslist' unless @groups == nil
          = render :plain => 'There are no groups.' if @groups == nil
          = submit_tag 'Update Groups'

    %div#create{:class => "hide"}
      = form_tag create_group_path(:customer => @customer),:method => :post do
        = render :partial => 'form'
        = submit_tag 'Create Group', :customer => @customer, :test => "joe"
