%tr{:class => cycle(:even,:odd)}
  %td.option_name= link_to_function h(humanize(attrib).capitalize_each_word), "alert('#{escape_javascript(OPTION_DESCRIPTIONS[attrib.to_s].to_s)}')"
  %td.option_value
    - type = Option.columns_hash[attrib.to_s].type
    - if type == :string
      = f.text_field attrib, {:size => 60}
    - elsif type == :text
      = f.text_area attrib, :rows => 6, :cols => 60
    - elsif type == :boolean
      = f.select attrib, [['Yes', 0], ['No', 1]]
    - elsif type == :integer
      = f.text_field attrib, :size => 6, :maxlength => 6
    - else raise "Unexpected option type: #{type.to_s}"
