%tr{:class => cycle(:even,:odd)}
  %td.option_name
    - attr_name = attrib.gsub(/^encrypted_/,'')
    %label{:for => "option_#{attr_name}"}= humanize(attr_name).capitalize_each_word
    = render :partial => 'messages/popup_help', :object => t("option_descriptions.#{attr_name}")
  %td.t.option_value
    - if attrib.to_s =~ /account_code/i
      = f.select attrib, options_from_collection_for_select(AccountCode.all, :id, :name_with_code, @o.send(attrib).to_i)
    - else 
      - case Option.columns_hash[attrib.to_s].type
      - when :string
        = f.text_field attr_name, {:size => 60, :autocomplete => 'off'}
      - when :text
        = f.text_area attr_name, :rows => 6, :cols => 60
      - when :boolean
        = f.select attr_name, [['Yes', true], ['No', false]]
      - when :integer, :float
        = f.text_field attr_name, :size => 6, :maxlength => 6
      - else raise "Unexpected option type for #{attr_name}: #{type.to_s}"
