%p.infoMsg Click on the name of each configuration option for more information.
- form_tag 'edit' do 
  - @vars.each_pair do |group,varlist|
    .pageDiv
      %h1= h(group)
      %table#options_table.hilite
        - varlist.sort_by(&:id).each do |v|
          %tr{:class=>cycle(:even,:odd)}
            %td.option_name= link_to_function h(ActiveSupport::Inflector.humanize(v.name)), "alert('#{escape_javascript(v.description)}')"
            %td.option_value= edit_field_for v
  .pageDiv
    %h1 Save Changes
    %p
      Clicking the button below will commit your changes, but it may take
      up to an hour for them to all take effect.  If you've changed your mind,
      =link_to "click here to cancel",:controller=>'customers',:action=>'welcome'
      and discard your changes.

    %p.c= submit_tag  "Update Settings"
