= form_for @o do |f|
  .container
    %h1 Your Venue Info As Seen By Customers
    = render_collection_of_options f, |
     %w(venue |
        venue_address |
        venue_city_state_zip    |
        venue_telephone |
        venue_homepage_url |
        boxoffice_telephone |
        help_email |
        privacy_policy_url |
        ) |
    .form-row
      .col-md-4.text-right
        Season Start Date
        = option_description_for(:season_start_month)   
      .col-md-8
        = select_month Option.season_start_month, :prefix => 'option', :field_name => 'season_start_month'
        = select_day   Option.season_start_day,   :prefix => 'option', :field_name => 'season_start_day'
        
  .container
    %h1 Accepting Donations and Retail Sales Online
    .form-row
      .col-md-4
      .col-md-8= link_to 'Create/Edit Account Codes...', account_codes_path, :class => 'btn btn-primary'

    = render_collection_of_options f, %w( |
      default_retail_account_code |
      default_donation_account_code |
      default_donation_account_code_with_subscriptions |
      quick_donation_banner |
      quick_donation_explanation |
      quick_donation_redirect |
      donation_ack_from |
      ) |

  .container
    %h1 Info Messages Displayed on Customer's "My Account" Page
    = render_collection_of_options f, %w( |
      welcome_page_subscriber_message |
      welcome_page_nonsubscriber_message |
      homepage_ticket_sales_text |
      homepage_subscription_sales_text |
      encourage_email_opt_in |
      display_email_opt_out |
      ) |

  .container
    %h1 Info Messages Displayed on Ticket Sales Pages
    = render_collection_of_options f, %w( |
      regular_show_sales_banner_for_nonsubscribers        |
      regular_show_sales_banner_for_current_subscribers        |
      regular_show_sales_banner_for_next_season_subscribers       |
      subscription_sales_banner_for_nonsubscribers        |
      subscription_sales_banner_for_current_subscribers        |
      subscription_sales_banner_for_next_season_subscribers       |
      class_sales_banner_for_nonsubscribers        |
      class_sales_banner_for_current_subscribers        |
      class_sales_banner_for_next_season_subscribers       |
      special_event_sales_banner_for_nonsubscribers        |
      special_event_sales_banner_for_current_subscribers        |
      special_event_sales_banner_for_next_season_subscribers       |
      ) |

  .container
    %h1 Ticket Sales
    = render_collection_of_options f, %w( |
      advance_sales_cutoff  |
      sold_out_threshold   |
      nearly_sold_out_threshold   |
      limited_availability_threshold |
      cancel_grace_period    | 
      allow_guest_checkout |
      allow_gift_tickets |
      allow_gift_subscriptions |
      precheckout_popup  |
      terms_of_sale  |       
      checkout_notices |
      ) |

  .container
    %h1 Order Service Charges
    .form-row
      .col-md-4
      .col-md-8= link_to 'Create/Edit Account Codes...', account_codes_path, :class => 'btn btn-primary'

    = render_collection_of_options f, %w( |
      subscription_order_service_charge |
      subscription_order_service_charge_description |
      subscription_order_service_charge_account_code |
      regular_order_service_charge |
      regular_order_service_charge_description |
      regular_order_service_charge_account_code |
      classes_order_service_charge |
      classes_order_service_charge_description |
      classes_order_service_charge_account_code |
      ) |
 
  .container
    %h1 Email Confirmation of Reservation Sent to Customer
    = render_collection_of_options f, %w( |
      general_confirmation_email_notes |
      subscriber_confirmation_email_notes |
      nonsubscriber_confirmation_email_notes |
      subscription_purchase_email_notes |
      ) |
    
  .container
    %h1 Email Reports Sent to Box Office Manager
    = render_collection_of_options f, %w( |
      boxoffice_daemon_notify  | 
      send_birthday_reminders  |
      ) |

  .container.text-center#configOptions
    %h1 Integrations
    #integrationWarning.hidden= t('options.integration_warning')
    #enableMaintenanceWarning.hidden= t('options.enable_maintenance_warning')
    #disableMaintenanceWarning.hidden= t('options.disable_maintenance_warning')
    %p.text-danger.lead= t('options.change_basic_settings_warning')
    %p
      = button_tag 'Allow Changes', :type => 'button', :id => 'allowChanges', :class => 'btn btn-danger'
      = link_to 'Test Integrations...', option_path(@o), :id => 'testIntegrations', :class => 'btn btn-primary'
      = link_to 'Test USB Card Swipe...', swipe_test_path, :class => 'btn btn-primary'

    = render_collection_of_options f, %w( |
      stripe_key  encrypted_stripe_secret |
      encrypted_sendgrid_key_value  sendgrid_domain |
      encrypted_mailchimp_key  mailchimp_default_list_name |
      stylesheet_url |
      staff_access_only ) |

  .container
    %h1 Save Your Changes
    %p.text-center= submit_tag  "Update Settings", :class => 'btn btn-success'
