= form_for @o, :html => {:multipart => true, :id => 'edit_options_form'} do |f|
  .card.my-1
    .card-header.h3 Your Venue Contact Info
    .card-body
      = render_collection_of_options f, |
       %w(venue |
          venue_address |
          venue_city_state_zip    |
          venue_telephone |
          venue_homepage_url |
          boxoffice_telephone |
          help_email |
          box_office_email  |
          transactional_bcc_email |
          send_birthday_reminders!days  |
          top_level_banner_text |
          privacy_policy_url |
          ) |
      .form-row
        .col-md-4.text-right
          %label.col-form-label Season Start Date
          = option_description_for(:season_start_month)
        .col-md-8
          .form-group.form-inline
            - season_start = Date.new(Time.current.year, Option.season_start_month, Option.season_start_day)
            = select_month season_start, {:prefix => 'option', :field_name => 'season_start_month'}, :class => 'form-control'
            = select_day   season_start, {:prefix => 'option', :field_name => 'season_start_day'}, :class => 'form-control'

  .card.my-1
    .card-header.h3 Accepting Donations and Retail Sales Online
    .card-body
      .form-row
        .col-md-4.text-right= link_to 'Create/Edit Account Codes...', account_codes_path, :class => 'btn btn-primary', 'data-confirm' => t('options.leave_page_warning')

      = render_collection_of_options f, %w( |
        default_retail_account_code |
        default_donation_account_code |
        default_donation_account_code_with_subscriptions |
        quick_donation_banner |
        quick_donation_explanation |
        quick_donation_redirect |
        donation_ack_from |
        ) |
      .form-row
        .col-md-4.text-right
          %label.col-form-label Allow Monthly Recurring Donations
          = option_description_for(:allow_recurring_donations)
        .col-md-8{id:"allow_recurring_donations_select"}
          = f.select :allow_recurring_donations, [['Yes', true], ['No', false]], {}, {:class => 'form-control'}
      - if Option.allow_recurring_donations
        .form-row{id:"default_donation_type_form_row"}
          .col-md-4.text-right
            %label.col-form-label Default Donation Type
            = option_description_for(:default_donation_type)
          .col-md-8{id:"donation_type_radio"}
            .radio-group.form-inline
              = f.radio_button :default_donation_type, 'one', :class => 'form-control', :id => 'one'
              = f.label :default_donation_type, 'One Time', :class => 'form-control', :for => 'one'
              = f.radio_button :default_donation_type, 'monthly', :class => 'form-control', :id => 'monthly'
              = f.label :default_donation_type, 'Monthly', :class => 'form-control', :for => 'monthly'
      = render_collection_of_options f, %w( |
        recurring_donation_contact_emails |
        notify_theater_about_new_recurring_donation |
        notify_theater_about_failed_recurring_donation_charge |
        ) |

  .card.my-1
    .card-header.h3 Customer Account
    .card-body
      = render_collection_of_options f, %w( |
        restrict_customer_email_to_domain |
        welcome_page_subscriber_message |
        welcome_page_nonsubscriber_message |
        homepage_ticket_sales_text |
        homepage_subscription_sales_text |
        encourage_email_opt_in |
        display_email_opt_out |
        ) |

  .card.my-1
    .card-header.h3 Info Messages Displayed on Ticket Sales Pages
    .card-body
      = render_collection_of_options f, %w( |
        regular_show_sales_banner_for_nonsubscribers        |
        regular_show_sales_banner_for_current_subscribers        |
        regular_show_sales_banner_for_next_season_subscribers       |
        subscription_sales_banner_for_nonsubscribers        |
        subscription_sales_banner_for_current_subscribers        |
        subscription_sales_banner_for_next_season_subscribers       |
        class_sales_banner_for_nonsubscribers        |
        class_sales_banner_for_current_subscribers        |
        class_sales_banner_for_next_season_subscribers       |
        special_event_sales_banner_for_nonsubscribers        |
        special_event_sales_banner_for_current_subscribers        |
        special_event_sales_banner_for_next_season_subscribers       |
        ) |

  .card.my-1
    .card-header.h3 Ticket Sales
    .card-body
      .form-row
        .col-md-4.text-right
          %label.col-form-label{:for => 'option_advance_sales_cutoff'} Advance Sales Cutoff
          = option_description_for 'advance_sales_cutoff'
        .col-md-2= number_field_tag 'option[advance_sales_cutoff]', @o.advance_sales_cutoff.abs, :class => 'form-control'
        .col-md-5= select_tag 'before_or_after', options_for_before_or_after_curtain(@o.advance_sales_cutoff), :class => 'form-control'

      = render_collection_of_options f, %w( |
        accessibility_advisory_for_reserved_seating |
        nearly_sold_out_threshold!%   |
        limited_availability_threshold!% |
        cancel_grace_period!minutes    |
        order_timeout!minutes |
        import_timeout!minutes |
        allow_guest_checkout |
        allow_gift_tickets |
        allow_gift_subscriptions |
        precheckout_popup  |
        terms_of_sale  |
        checkout_notices |
        ) |

  .card.my-1
    .card-header.h3 Order Service Charges
    .card-body
      .form-row
        .col-md-4.text-right= link_to 'Create/Edit Account Codes...', account_codes_path, :class => 'btn btn-primary', 'data-confirm' => t('options.leave_page_warning')

      = render_collection_of_options f, %w( |
        subscription_order_service_charge |
        subscription_order_service_charge_description |
        subscription_order_service_charge_account_code |
        regular_order_service_charge |
        regular_order_service_charge_description |
        regular_order_service_charge_account_code |
        classes_order_service_charge |
        classes_order_service_charge_description |
        classes_order_service_charge_account_code |
        ) |

  .card.my-1
    .card-header.h3 Confirmation Emails
    .card-body
      .form-row
        .col-md-4.text-right
          %label.col-form-label HTML email template
          = option_description_for 'html_email_template'
        .col-md-8
          = hidden_field_tag 'test_email_addr', current_user.email
          = link_to 'Send Test Email...', '#', :id => 'send_test', :class => 'btn btn-primary align-baseline'
          = link_to 'Download', download_email_template_options_path, :class => 'btn btn-primary align-baseline'
          %label.btn.btn-primary.align-baseline{:for => 'html_email_template'} Replace with file...
          = file_field_tag 'html_email_template', :accept => '.html', :hidden => 'hidden', :onchange => %q{$('#filename').html($('#html_email_template')[0].files[0].name + ' <i>(click Update Settings below to upload)</i>')}
          %label.col-form-label#filename (No file chosen)

      - if Option.feature_enabled?('reminder_emails')
        = render_collection_of_options f, %w( |
          general_confirmation_email_notes |
          general_reminder_email_notes |
          subscriber_confirmation_email_notes |
          nonsubscriber_confirmation_email_notes |
          subscription_purchase_email_notes |
          ) |
      - else
        = render_collection_of_options f, %w( |
          general_confirmation_email_notes |
          subscriber_confirmation_email_notes |
          nonsubscriber_confirmation_email_notes |
          subscription_purchase_email_notes |
          ) |

  .card.my-1#configOptions
    .card-header
      %h3 Integrations
      #integrationWarning.sr-only= t('options.integration_warning')
      #enableMaintenanceWarning.sr-only= t('options.enable_maintenance_warning')
      #disableMaintenanceWarning.sr-only= t('options.disable_maintenance_warning')
      %p.text-danger= t('options.change_basic_settings_warning')
    .card-body
      .form-row.my-2
        .col-md-8.offset-4
          = button_tag 'Allow Changes', :type => 'button', :id => 'allowChanges', :class => 'btn btn-danger'
          = link_to 'Test USB Card Swipe...', swipe_test_options_path, :class => 'btn btn-primary'

      = render_collection_of_options f, %w( |
        stripe_key  encrypted_stripe_secret |
        sender_domain |
        encrypted_mailchimp_key  mailchimp_default_list_name |
        stylesheet_url |
        staff_access_only ) |

  .form-row.my-2
    .col-md-2.offset-4= submit_tag  "Update Settings", :class => 'btn btn-success'
