= form_for @o do |f|
  .pageDiv
    %h1 Your Venue Info As Seen By Customers
    = render_collection_of_options f, |
     %w(venue |
        venue_address |
        venue_city_state_zip    |
        venue_telephone |
        venue_homepage_url |
        boxoffice_telephone |
        help_email |
        privacy_policy_url |
        ) |
    %label{:for => 'option_season_start'} Season Start Date
    = render :partial => 'messages/popup_help', :object => t("option_descriptions.season_start_month")
    = select_month Option.season_start_month, :prefix => 'option', :field_name => 'season_start_month'
    = select_day   Option.season_start_day,   :prefix => 'option', :field_name => 'season_start_day'
        
  .pageDiv
    %h1 Accepting Donations and Retail Sales Online
    = link_to 'Create/Edit Account Codes...', account_codes_path, :class => 'genButton'
    = render_collection_of_options f, %w( |
      default_retail_account_code |
      default_donation_account_code |
      default_donation_account_code_with_subscriptions |
      quick_donation_banner |
      quick_donation_explanation |
      quick_donation_redirect |
      donation_ack_from |
      ) |

  .pageDiv
    %h1 Info Messages Displayed on Customer's "My Account" Page
    = render_collection_of_options f, %w( |
      welcome_page_subscriber_message |
      welcome_page_nonsubscriber_message |
      homepage_ticket_sales_text |
      homepage_subscription_sales_text |
      encourage_email_opt_in |
      display_email_opt_out |
      ) |

  .pageDiv
    %h1 Info Messages Displayed on Ticket Sales Pages
    = render_collection_of_options f, %w( |
      regular_show_sales_banner_for_nonsubscribers        |
      regular_show_sales_banner_for_current_subscribers        |
      regular_show_sales_banner_for_next_season_subscribers       |
      subscription_sales_banner_for_nonsubscribers        |
      subscription_sales_banner_for_current_subscribers        |
      subscription_sales_banner_for_next_season_subscribers       |
      class_sales_banner_for_nonsubscribers        |
      class_sales_banner_for_current_subscribers        |
      class_sales_banner_for_next_season_subscribers       |
      special_event_sales_banner_for_nonsubscribers        |
      special_event_sales_banner_for_current_subscribers        |
      special_event_sales_banner_for_next_season_subscribers       |
      ) |

  .pageDiv
    %h1 Ticket Sales
    = render_collection_of_options f, %w( |
      advance_sales_cutoff  |
      sold_out_threshold   |
      nearly_sold_out_threshold   |
      limited_availability_threshold |
      cancel_grace_period    | 
      allow_gift_tickets |
      allow_gift_subscriptions |
      special_seating_requests |
      precheckout_popup  |
      terms_of_sale  |       
      checkout_notices |
      ) |

  .pageDiv
    %h1 Order Service Charges
    = link_to 'Create/Edit Account Codes', account_codes_path, :class => 'genButton'
    = render_collection_of_options f, %w( |
      subscription_order_service_charge |
      subscription_order_service_charge_description |
      subscription_order_service_charge_account_code |
      regular_order_service_charge |
      regular_order_service_charge_description |
      regular_order_service_charge_account_code |
      classes_order_service_charge |
      classes_order_service_charge_description |
      classes_order_service_charge_account_code |
      ) |
 
  .pageDiv
    %h1 Email Confirmation of Reservation Sent to Customer
    = render_collection_of_options f, %w( |
      general_confirmation_email_notes |
      subscriber_confirmation_email_notes |
      nonsubscriber_confirmation_email_notes |
      subscription_purchase_email_notes |
      ) |
    
  .pageDiv
    %h1 Email Reports Sent to Box Office Manager
    = render_collection_of_options f, %w( |
      boxoffice_daemon_notify  | 
      send_birthday_reminders  |
      ) |

  .pageDiv#configOptions
    %h1 Integrations
    #integrationWarning.hidden
      Integration options can now be edited. Proceed with care.  
      You must click 'Update Settings' to save your changes before you
      can test integrations with the new values.
    #enableMaintenanceWarning.hidden
      You're about to restrict access to Audience1st only to Staff
      or higher level users. Patrons and non-staff users will see a
      message saying the site is temporarily under maintenance.  You can
      resume normal operation later 
      by changing Staff Access Only back to "No".  Click OK to
      restrict access to Staff only, or Cancel to leave things as they
      are.  A dashed yellow border will appear while the site is in
      Staff Access Only mode. 
    #disableMaintenanceWarning.hidden
      You're about to turn off Staff Access Only and make Audience1st
      available to all users. 
      Click OK to confirm, or Cancel to cancel.
    %p.warning
      Warning: Changing these options affects the basic operation and
      appearance of your Audience1st installation.  Please be sure you 
      know what you're doing before changing these, and to be safe,
      before changing a value make a note of the old value.  Click "Allow
      Changes" to enable editing of these options, or "Test Integrations..." 
      to test if the current values seem to be working.
    %p
      = button_tag 'Allow Changes', :type => 'button', :id => 'allowChanges'
      = link_to 'Test Integrations...', option_path(@o), :id => 'testIntegrations', :class => 'genButton'
      = link_to 'Test USB Card Swipe...', swipe_test_path, :class => 'genButton'

    = render_collection_of_options f, %w( |
      stripe_key  encrypted_stripe_secret |
      encrypted_sendgrid_key_value  sendgrid_domain |
      encrypted_mailchimp_key  mailchimp_default_list_name |
      stylesheet_url |
      staff_access_only ) |

  .pageDiv
    %h1 Save Your Changes
    %p.c= submit_tag  "Update Settings"
