%p Click on the name of each configuration option for more information.
- form_for @o, :url => {:action => 'options'} do |f|
  .pageDiv
    %h1 Your Venue Info As Seen By Customers
    = render_collection_of_options f, |
     %w(venue                   venue_address           venue_city_state_zip    |
        venue_telephone         venue_homepage_url      boxoffice_telephone |
        help_email              privacy_policy_url      ) |
    %label{:for => 'option_season_start'} Season Start Date
    = render :partial => 'messages/popup_help', :object => OPTION_DESCRIPTIONS[:season_start_month]
    = select_month Option.season_start_month, :prefix => 'option', :field_name => 'season_start_month'
    = select_day   Option.season_start_day,   :prefix => 'option', :field_name => 'season_start_day'
        
  .pageDiv
    %h1 Accepting Donations and Retail Sales Online
    = render_collection_of_options f, %w( |
      default_retail_account_code |
      default_donation_account_code |
      default_donation_account_code_with_subscriptions |
      quick_donation_banner |
      quick_donation_explanation |
      quick_donation_redirect |
      donation_ack_from |
      ) |

  .pageDiv
    %h1 Info Messages Displayed on Customer's "My Account" Page
    = render_collection_of_options f, %w( |
      welcome_page_subscriber_message |
      welcome_page_nonsubscriber_message |
      homepage_ticket_sales_text |
      homepage_subscription_sales_text |
      encourage_email_opt_in |
      display_email_opt_out |
      ) |

  .pageDiv
    %h1 Info Messages Displayed on Ticket Sales Pages
    = render_collection_of_options f, %w( |
      regular_show_sales_banner_for_nonsubscribers        |
      regular_show_sales_banner_for_current_subscribers        |
      regular_show_sales_banner_for_next_season_subscribers       |
      subscription_sales_banner_for_nonsubscribers        |
      subscription_sales_banner_for_current_subscribers        |
      subscription_sales_banner_for_next_season_subscribers       |
      class_sales_banner_for_nonsubscribers        |
      class_sales_banner_for_current_subscribers        |
      class_sales_banner_for_next_season_subscribers       |
      special_event_sales_banner_for_nonsubscribers        |
      special_event_sales_banner_for_current_subscribers        |
      special_event_sales_banner_for_next_season_subscribers       |
      ) |

  .pageDiv
    %h1 Ticket Sales
    = render_collection_of_options f, %w( |
      advance_sales_cutoff  |
      sold_out_threshold   |
      nearly_sold_out_threshold   |
      cancel_grace_period    | 
      allow_gift_tickets |
      allow_gift_subscriptions |
      precheckout_popup  |
      terms_of_sale  |       
      subscription_order_service_charge |
      subscription_service_charge_description |
      regular_order_service_charge |
      regular_service_charge_description |
      checkout_notices |
      ) |
 
  .pageDiv
    %h1 Email Confirmation of Reservation Sent to Customer
    = render_collection_of_options f, %w( |
      general_confirmation_email_notes |
      subscriber_confirmation_email_notes |
      nonsubscriber_confirmation_email_notes |
      subscription_purchase_email_notes |
      ) |
    
  .pageDiv
    %h1 Email Reports Sent to Box Office Manager
    = render_collection_of_options f, %w( |
      boxoffice_daemon_notify  | 
      followup_visit_reminder_lead_time  |
      send_birthday_reminders  |
      ) |

  .pageDiv
    %h1 Integration with Stripe (for payments)
    = render_collection_of_options f, %w( |
      stripe_publishable_key | 
      stripe_secret_key |
      ) |

  .pageDiv
    %h1 Email Integration for MailChimp Users
    %p Leave blank if you don't use MailChimp.
    = render_collection_of_options f, %w(mailchimp_api_key mailchimp_default_list_name)

  .pageDiv
    %h1 Email Integration with ConstantContact
    %p Leave blank if you don't use ConstantContact.
    = render_collection_of_options f, %w( |
      constant_contact_username |
      constant_contact_password |
      constant_contact_api_key  |
      ) |

  .pageDiv
    %h1 Save Your Changes
    %p.c= submit_tag  "Update Settings"
