%tr
  %td= import.humanize_type
  %td= h(import.filename)
  %td= number_to_human_size(import.size)
  %td= h import.number_of_records
  %td.c
    - if import.completed? 
      Completed by #{import.completed_by.first_name.name_capitalize} 
      on #{import.completed_at.to_formatted_s(:short)
    - else
      = gen_button("Retry Import", edit_import_path(import)) 
      = gen_button("Cancel Import", import_path(import), :method => :delete)
