%tr
  %td= truncate_with_hovering(import.humanize_type, :length => 30)
  %td= h(import.show_name) if import.kind_of?(TicketSalesImport)
  %td= truncate_with_hovering(h(import.filename), :length => 20)
  %td= number_to_human_size(import.size)
  - if import.completed?
    %td.c #{import.customer.first_name.name_capitalize if import.customer} #{import.completed_at.to_formatted_s(:short)}
    %td.c=  h import.number_of_records
  - else
    %td.c= link_to "Preview", edit_import_path(import), :class => 'btn btn-primary'
    %td.c= link_to "Cancel", import_path(import), {:method => :delete}, {:class => 'btn btn-primary'}
