%h1 Preview your imported data

#import_metadata
  %p Filename: #{h @import.filename}
  %p Size: #{number_to_human_size @import.size}
  - if @collection.empty?
    %p 
      #{@import.number_of_records} records were successfully read from import source. 
      (Depending on the vendor, 1 record can either be 1 ticket or 1 customer's order.)
  - else
    %p Previewing #{@collection.size} of #{@import.number_of_records} total records

#import_preview
  #import_messages
    - if @import.messages
      = render :partial => "#{@partial.gsub('_with_errors', '')}_messages", :locals => {:import => @import}
  #import_records
    - if @collection.length > 0
      %table.hilite.import
        %thead
          = render :partial => "#{@partial.gsub('_with_errors', '')}_header"
        %tbody
          = render :partial => @partial, :collection => @collection

%p
  = button_to 'Continue Import', import_path(@import), {:confirm => 'Importing cannot in general be undone.  OK to continue?', :method => :put}
  = button_to 'Cancel Import', import_path(@import), {:method => :delete}
