= form_for :import, :url => imports_path, :html => {:multipart => true} do |f|
  %p
    %label{:for => :import_type} What do you want to import?
    = f.select :type, options_for_select(Import.import_types, @import.type.to_s), :id => 'import_type'
  #import_help
    - partial_names_for(Import.import_types).each do |div_id,partial_name|
      %div{:id => div_id, :class => 'hidden import_help'}
        = render :partial => partial_name

  - unless @import.size.to_i > 0
    %p
      %label{:for => :import_uploaded_data} Select file to upload:
      = f.file_field :uploaded_data
      = popup_help_for :import_choose_file

  %p= submit_tag 'Preview Import', :disable_with => 'Working...'
