%p 
  Download a CSV file containing only the records that could <strong>not</strong> be imported:
  %br
  = link_to 'Download', download_invalid_import_path(@import), :class => 'btn btn-primary'

%h2 #{@collection.length} records could not be imported:

#import_preview
  %table.hilite.import
    %thead
      = render :partial => "#{@partial.gsub('_with_errors', '')}_header"
    %tbody
      = render :partial => @partial, :collection => @collection

