
- form_tag :controller => 'customers', :action => 'login' do 
  = error_messages_for 'customer'
  %p
    %label{:for=>:customer_login} Email address
    %br/
    = text_field 'customer', 'login'
  %p
    %label{:for=>:customer_password} Password
    %br/
    = password_field 'customer', 'password'

  %p
    = check_box_tag 'forgot_password'
    I forgot my password, email it to me

  = submit_tag 'Continue'
  = gen_button "I Don't Have An Account", :action => 'new'
