
- form_tag :controller => 'customers', :action => 'login' do 
  = error_messages_for 'customer'
  %table
    %tr
      %td
        %label{:for=>:customer_login} Email address
        %br
        = text_field 'customer', 'login', :size => 20
      %td
        %label{:for=>:customer_password} Password
        %br/
        = password_field 'customer', 'password', :size => 12
      %td= submit_tag 'Go'
    %tr
      %td{:colspan=>2}
        = check_box_tag 'forgot_password'
        I forgot my password, email it to me
