- form_tag :controller => 'customers', :action => 'login' do 
  = error_messages_for 'customer'
  
  %label{:for=>:customer_login} Email 
  = text_field 'customer', 'login', :size => 20
  %br/
  
  %label{:for=>:customer_password} Password
  = password_field 'customer', 'password', :size => 20
  %br/
  
  .indented
    .small 
      = check_box_tag 'forgot_password'
      I forgot my password, email it to me
      %br/
      = check_box_tag 'remember_me'
      Remember me (Don't use on public/shared computers)
    = submit_tag 'Login', :disable_with => 'Logging in...'
  
