- disabled = defined?(passive) && passive
%fieldset.billing_info
  %legend= local_assigns[:legend] || 'Address'
  %p.text-center.bg-secondary.text-light  Fields <span class="strong">like this</span> are required.
  = fields_for customer, :namespace => (disabled ? 'gift' : '') do |f|
    .form-row
      .col-md-2.text-right
        %label.strong{:for => 'customer_first_name'} First name
      .col-md-4
        = f.text_field :first_name, :size => 16, :maxlength => 40, :readonly => disabled, :class => 'form-control form-control-sm'
      .col.md-2.text-right
        %label.strong{:for => 'customer_last_name'} Last name
      .col-md-4
        = f.text_field :last_name, :size => 16, :maxlength => 40, :readonly => disabled, :class => 'form-control form-control-sm'
    .form-row
      .col-md-2.text-right
        %label.strong{:for => 'customer_street'} Street
      .col-md-4
        = f.text_field :street, :readonly => disabled, :class => 'form-control form-control-sm'
      .col.md-2.text-right
        %label.strong{:for => 'customer_city'} City
      .col-md-4              
        = f.text_field :city, :size => 16, :maxlength => 32, :readonly => disabled, :class => 'form-control form-control-sm'
    .form-row
      .col-md-2.text-right
        %label.strong{:for => 'customer_state'} State
      .col-md-1
        = f.text_field :state, {:size => 2, :maxlength => 2, :readonly => disabled, :class => 'form-control form-control-sm'}
      .col-md-1.text-right
        %label.strong{:for => 'customer_zip'} Zip
      .col-md-2
        = f.text_field :zip, {:size => 10, :maxlength => 10, :readonly => disabled, :class => 'form-control form-control-sm'}
      .col-md-2.text-right
        %label{:for=>:customer_day_phone} Preferred phone
      .col-md-4
        = f.text_field :day_phone, {:size => 16, :maxlength => 16, :class => 'form-control form-control-sm'}
    .form-row
      .col-md-2.text-right
        %label.strong{:for=>:customer_email} Email
      .col-md-4
        = f.text_field :email, {:size => 30, :maxlength => 40, :readonly => disabled, :class => 'form-control form-control-sm' }
      .col-md-6
