%tr{:valign=>:top,:class=>display_class(customer)}
  %td= check_box_tag "merge[#{customer.id}]" if customer.id
  %td= (customer.id ? link_to(customer.full_name, {:action => 'switch_to', :id => customer }) : h(customer.full_name))
  %td= h customer.street
  %td= h customer.city
  %td= h customer.state
  %td= h customer.zip
  %td= number_to_phone_2(customer.day_phone)
  %td= number_to_phone_2(customer.eve_phone)
  %td= h customer.login
