%ul.customer_match_list
  - if defined?(matches) && !matches.nil?
    - first,last = '',''
    - matches.sort_by(&:sortable_name).each do |c|
      %li
        %span.full_name= h(c.full_name)
        - if c.first_name.downcase == first && c.last_name.downcase == last
          %span.street= " (#{h(c.street)})"
        - first,last = c.first_name.downcase, c.last_name.downcase
        %span.id.hidden.customer_url= customer_url(c)
        %span.id.hidden.customer_id= c.id
  - else
    %li.full_name (No matches)
