%tr{:valign=>:top,:class=>display_class(customer)}
  %td= check_box_tag "merge[#{customer.id}]" if customer.id
  - first,last = customer.first_name.name_capitalize, customer.last_name.name_capitalize
  - if customer.id
    %td= link_to first, {:action => 'switch_to', :id => customer }
    %td= link_to last, {:action => 'switch_to', :id => customer }
  - else
    %td= h customer.first
    %td= h customer.last
  %td= h customer.street
  %td= h customer.city
  %td= h customer.state
  %td= h customer.zip
  %td= number_to_phone_2(customer.day_phone)
  %td= number_to_phone_2(customer.eve_phone)
  %td= h customer.login
  %td= h customer.email
  %td= h customer.company
