- read_only = false unless defined?(read_only)
%tr{:valign=>:top,:class=>display_class(customer)}
  %td= check_box_tag "merge[#{customer.id}]" if customer.id && !read_only
  - first,last = customer.first_name.name_capitalize, customer.last_name.name_capitalize
  - if customer.id && !read_only
    - last_login = "Last login: " << h(customer.last_login.to_formatted_s(:long))
    %td= link_to first, welcome_path(customer), {:title => last_login}
    %td= link_to last, welcome_path(customer), {:title => last_login}
  - else
    %td= first
    %td= last
  %td= customer.street
  %td= customer.city
  %td= customer.state
  %td= customer.zip
  %td= number_to_phone_2(customer.day_phone)
  %td= number_to_phone_2(customer.eve_phone)
  %td= customer.email
  %td= customer.company
  %td= format_collection_with_style(customer.labels.map(&:name), 'customer_label')
