.card#extra
  .card-header.h3 Other Contact Info
  .card-body
    = fields_for @customer do |f|
      .form-row
        .col-md-2.text-right
          %label.col-form-label{:for=>:customer_eve_phone} Alternate phone
        .col-md-4
          = f.text_field :eve_phone, :maxlength => 16, :class => 'form-control form-control-sm'
        .col-md-6.form-group
          .form-check.form-check-inline
            .form-check-input= f.check_box :e_blacklist
            %label.form-check-label{:for => :customer_e_blacklist} Please don't send email about upcoming events.
      .form-row
        .col-md-2.text-right
          %label.col-form-label{:for => :customer_birthday} Birthday (optional)
        .col-md-4.form-inline
          = date_select 'customer', 'birthday', {:include_blank => true, :order => [:month, :day]}, {:class => 'form-control'}
        .col-md-6.form-group
          .form-check.form-check-inline
            .form-check-input= f.check_box :blacklist
            %label.form-check-label{:for=>:customer_blacklist} Please don't send announcements via US Mail.

