%p= error_messages_for :customer, :header_message => default_validation_error_message

- @customer = customer if defined?(customer)
- disabled =  defined?(passive) && passive 

#contact_info
  /[form:customer]
  %fieldset#billing_info
    %legend= defined?(legend) ? legend :  'Credit Card Billing Address'
    %p
      Fields
      %span.strong like this
      are required.
      = link_to_if_option :privacy_policy_url, "Our privacy policy", :target => '_blank'
    - fields_for @customer, :namespace => (disabled ? 'gift' : '') do |f|
      %label.strong{:for => 'customer_first_name'} First name
      = f.text_field :first_name, :size => 16, :max_length => 40, :readonly => disabled
      %br/
      %label.strong{:for => 'customer_last_name'} Last name
      = f.text_field :last_name, :size => 16, :max_length => 40, :readonly => disabled 
      %br/
      %br/
      %label.strong{:for => 'customer_street'} Street
      = f.text_field :street, :readonly => disabled  
      %br/
      %label.strong{:for => 'customer_city'} City
      = f.text_field :city, :size => 16, :max_length => 32, :readonly => disabled
      %label.no_float.strong{:for => 'customer_state'} State
      = f.text_field :state, {:size => 2, :max_length => 2, :readonly => disabled}
      %label.no_float.strong{:for => 'customer_zip'} Zip
      = f.text_field :zip, {:size => 10, :max_length => 10, :readonly => disabled}
      %br
      %br
      %label.strong{:for=>:customer_day_phone} Preferred phone
      = f.text_field :day_phone, {:size => 16, :max_length => 16, :readonly => disabled}
      %br/
      %label{:for=>:customer_eve_phone} Alternate phone
      = f.text_field :eve_phone, {:size => 16, :max_length => 16, :readonly => disabled}
      %br/
      - unless (defined?(hide_opt_out))
        %label US Mail preferences
        = f.check_box :blacklist
        %label.no_float{:for=>:customer_blacklist} Please don't send me materials via US Mail
        %br

      %label.strong{:for=>:customer_email} Email
      = f.text_field :email, {:size => 30, :max_length => 40, :readonly => disabled }
      %span.small= link_to_if_option :privacy_policy_url, "Our Privacy Policy", :target => '_blank'
      %br

      - if Option.display_email_opt_out?
        %label Email preferences
        = f.check_box :e_blacklist
        %label.no_float{:for => :customer_e_blacklist} Please don't send me email about upcoming events.
        %br

    - unless disabled || defined?(hide_birthday)
      %label{:for => :customer_birthday} Birthday (optional)
      = date_select 'customer', 'birthday', :include_blank => true, :order => [:month, :day]

  /[eoform:customer]

