/ Extra params settable only by admin

%fieldset#admin_form
  %legend Administrator Preferences
  %p
    %label{:for => :customer_last_login} Last login
    %span= @customer.last_login.to_formatted_s(:showtime_including_year)

  - if @superadmin
    %p
      %label{:for=>:customer_role} Role
      =select('customer', 'role',  roles_with_names, {:selected => @customer.role_name })
      %br/

  %label{:for=>:customer_labels} Labels
  = render :partial => 'labels'
  %p
    %label{:for=>:customer_labels} Groups:
    %br/
    - @customer.groups.each do |group|
      %span= link_to(group.name, group_path(group))
      %br/
    %p
      = link_to('Manage groups', new_group_path(:customers => [@customer.id]), :class => 'genButton')
      = popup_help_for 'manage_groups'
    %br/


  %label{:for=>:customer_comments} Staff Comments <br />(not seen by customer):
  =text_area :customer, :comments, :cols => 60, :rows => 5
  %br/

  =check_box_tag 'dont_send_email', '1', true
  %label.no_float{:for=>:dont_send_email}
    %span.strong Do not
    email customer a confirmation of these changes

  %p=button_tag "Extra Contact Info...", :id => 'extra'
  = javascript_tag %q{$('#extra').click(function() { $("#contact").slideToggle()' }) }

  #contact{:style => "display: none;"}
    = render :partial => 'contact', :locals => {:customer => @customer}
