- if @identity && @identity.errors.any?
  .error_messages
    %h2
      Error(s)
    %ul
      - @identity.errors.full_messages.each do |msg|
        %li= msg


#contact_info

  %fieldset#billing_info
    %legend= defined?(legend) ? legend :  'Credit Card Billing Address'
    %p
      Fields
      %span.strong like this
      are required.
      = link_to_if_option :privacy_policy_url, "Our privacy policy", :target => '_blank'
      %label.strong{:for => 'first_name'} First name
      = text_field_tag :first_name, :size => 16, :maxlength => 40, :readonly => disabled
      %br/
      %label.strong{:for => 'last_name'} Last name
      = text_field_tag :last_name, :size => 16, :maxlength => 40, :readonly => disabled 
      %br/
      %br/
      %label.strong{:for => 'street'} Street
      = text_field_tag :street, :readonly => disabled  
      %br/
      %label.strong{:for => 'city'} City
      = text_field_tag :city, :size => 16, :maxlength => 32, :readonly => disabled
      %label.no_float.strong{:for => 'state'} State
      = text_field_tag :state, {:size => 2, :maxlength => 2, :readonly => disabled}
      %label.no_float.strong{:for => 'zip'} Zip
      = text_field_tag :zip, {:size => 10, :maxlength => 10, :readonly => disabled}
      %br
      %br
      %label.strong{:for=>:day_phone} Preferred phone
      = text_field_tag :day_phone, {:size => 16, :maxlength => 16, :readonly => disabled}
      %br/
      %label{:for=>:eve_phone} Alternate phone
      = text_field_tag :eve_phone, {:size => 16, :maxlength => 16, :readonly => disabled}
      %br/
      - unless hide.include?(:opt_out)
        %label US Mail preferences
        = check_box :blacklist
        %label.no_float{:for=>:blacklist} Please don't send me materials via US Mail
        %br

      %label.strong{:for=>:email} Email
      = text_field_tag :email, {:size => 30, :maxlength => 40, :readonly => disabled }
      %span.small= link_to_if_option :privacy_policy_url, "Our Privacy Policy", :target => '_blank'
      %br

      - if Option.display_email_opt_out?
        %label Email preferences
        = check_box :e_blacklist
        %label.no_float{:for => :e_blacklist} Please don't send me email about upcoming events.
        %br

    - unless disabled || hide.include?(:birthday)
      %label{:for => :birthday} Birthday (optional)
      = date_select 'birthday', :include_blank => true, :order => [:month, :day]

