%p= error_messages_for :customer

- @customer = customer if defined?(customer)
- disabled =  defined?(passive) && passive 

#contact_info
  /[form:customer]
  %fieldset#billing_info
    %legend= defined?(legend) ? legend :  'Credit Card Billing Address'
    %p
      Fields
      %span.strong like this
      are required.
    %label.strong{:for=>:customer_first_name} First name
    =text_field 'customer', 'first_name', :size => 16, :max_length => 40, :id => 'customer_first_name', :readonly => disabled
    %br/

    %label.strong{:for=>:customer_last_name} Last name
    =text_field 'customer', 'last_name', :size => 16, :max_length => 40,:id => 'customer_last_name', :readonly => disabled 
    %br/
    %br/

    %label.strong{:for=>:customer_street} Street
    =text_field 'customer', 'street', :readonly => disabled  
    %br/
    %label.strong{:for=>:customer_city} City
    =text_field 'customer', 'city', :size => 16, :max_length => 32, :readonly => disabled
    %label.no_float.strong{:for=>:customer_state} State
    =text_field 'customer', 'state', {:size => 2, :max_length => 2, :readonly => disabled}
    %label.no_float.strong{:for=>:customer_zip} Zip
    =text_field 'customer', 'zip', {:size => 10, :max_length => 10, :readonly => disabled}
    - if @gAdmin.is_boxoffice && !disabled
      = submit_to_remote 'Validate','Validate...', |
        :url => {:controller => 'customers',:action => 'validate_address'}, |
        :before => "Element.show('wait_validate')", |
        :complete => "Element.hide('wait_validate')", |
        :success => "Element.show('success');Element.hide('failure')", |
        :failure => "Element.show('failure');Element.hide('success')"  |
      = spinner('wait_validate')
      = hidden_image('success')
      = hidden_image('failure')
    %br
    %br
    %label.strong{:for=>:customer_day_phone} Preferred phone
    =text_field 'customer', 'day_phone', {:size => 16, :max_length => 16, :readonly => disabled}
    %br/
    %label{:for=>:customer_eve_phone} Alternate phone
    =text_field 'customer', 'eve_phone',{:size => 16, :max_length => 16, :readonly => disabled}
    %br/
    - unless (defined?(hide_opt_out) || @customer.invalid_mailing_address?)
      %label US Mail preferences
      = check_box 'customer', 'blacklist'
      %label.no_float{:for=>:customer_blacklist} 
        Please don't send me materials via US Mail
      %br/

    %label{:for=>:customer_email,:class => (:strong unless @gCheckoutInProgress)} Email
    =text_field 'customer', 'email', {:size => 20, :max_length => 40, :readonly => disabled }
    %span.small= link_to "Our Privacy Policy", Option.value(:privacy_policy_url), :target => '_blank'
    
    - unless (defined?(hide_opt_out) || @customer.invalid_email_address)
      %br/
      %label Email preferences
      = check_box 'customer', 'e_blacklist'
      %label.no_float{:for=>:customer_e_blacklist}= "Please DON'T notify '#{@customer.email}' about upcoming shows & events."

  /[eoform:customer]

