%p
  Select customers to:
  = submit_tag 'Manual Merge'
  = submit_tag 'Auto Merge'
  = popup_help_for 'merge_customers'
  = submit_tag 'Forget',  :onclick => "return confirm('#{escape_javascript t(\'customers.confirm_delete\')}')"
  = popup_help_for 'delete_customers'
