- if group.redeemable_showdates.empty?
  .row.border-bottom.border-secondary[group.vouchers.first]
    .col-1.text-center= group.size
    .col-3.text-center= group.name
    .col-4.text-center= "Reservations unavailable for this show" if group.vouchertype.reservable?

- else
  .row.border-bottom.border-secondary[group.vouchers.first]
    = form_tag confirm_multiple_customer_vouchers_path(@customer), :method => :post, :class => 'form-inline a1-force-fullwidth' do
      = hidden_field_tag 'voucher_ids', group.voucherlist
      .col-1.text-center= menu_or_static_text('number', group.size)
      .col-3.text-center= group.name
      .col-4.text-center
        = select_tag 'showdate_id',              |
          content_tag(:option, "Select...", :value => 0) + options_from_collection_for_select(group.redeemable_showdates.sort, :showdate_id, label_function),          |
          :id => nil,                            |
          :class => 'showdate form-control',     |
          :style => 'max-width: 22em !important' |
        = text_field_tag 'comments', '', :class => 'invisible form-control form-control-sm special-seating', :placeholder => t('reservations.special_seating_requests')
      .col-2
      .col-2.text-center
        - if Option.feature_enabled? 'rs'
          .seating-options
        - else
          = submit_tag 'Confirm', :disabled => 'disabled', :disable_with => 'Confirming...', :id => nil, :class => 'submit btn btn-success'    
