- if group.redeemable_showdates.empty?
  .form-row.border-top.border-secondary.align-items-center
    .col-1.text-center= group.size
    .col-3.text-center= group.name
    .col-4.text-center= "Reservations unavailable for this show" if group.vouchertype.reservable?

- else
  .form-row.border-top.border-secondary.align-items-center
    = form_tag confirm_multiple_customer_vouchers_path(@customer), :method => :post, :autocomplete => 'off', :class => 'form-inline a1-force-fullwidth' do
      = hidden_field_tag 'voucher_ids', group.voucherlist, :class => 'voucherlist', :id => nil
      .col-1.text-center= menu_or_static_text 'number', group.size, {:id => nil, :class => 'number'}
      .col-3.text-center= group.name
      .col-4.text-center
        = select_tag 'showdate_id', content_tag(:option, 'Select...', :value => 0) + options_from_collection_for_select(group.redeemable_showdates.sort, :showdate_id, group.menu_label_function(@gAdminDisplay)), :id => nil, :class => 'showdate form-control a1-force-fullwidth'
        = text_field_tag 'comments', '', :id => nil, :class => 'invisible form-control form-control-sm special-seating a1-force-fullwidth', :placeholder => t('reservations.special_seating_requests').strip
      .col-2.text-center= text_field_tag 'seats', '', :readonly => 'readonly', :id => nil, :class => 'seat-display a1-passive-text-input'
      .col-2.text-center= submit_tag 'Confirm', :disabled => 'disabled', 'data-disable-with' => 'Confirming...', :id => nil, :class => 'confirm-seats btn btn-success'
