%fieldset#login_info
  %legend Account Login Information
  - unless (disabled =  defined?(passive) && passive)
    %p
      If you provide a login name and password, we'll remember
      your billing address for future
      visits, and you can track your ticket purchases online.
  %label{:for=>:customer_login}
    = "Choose " if defined?(newpassword)
    Login Name
  = text_field 'customer', 'login', :size => 20
  %br
  %label{:for=>:customer_password}
    = "New " if defined?(newpassword)
    Password
  = password_field 'customer', 'password', :size => 20, :value => ''
  %br
  %label{:for=>:customer_password_confirmation}
    Confirm
    = "New " if defined?(newpassword)
    Password
  = password_field 'customer', 'password_confirmation', :size => 20, :value => ''
