#customer_quick_search.adminField
  - if @customer && !@customer.new_record?
    #on_behalf_of_customer
      %span.strong Customer: 
      %span#onBehalfOfName= link_to @customer.full_name, customer_path(@customer)
      (last login: #{@customer.last_login.to_formatted_s(:month_day_year)})
  Quick search first or last name:
  = text_field_tag 'autocomplete', '', :size => 20, :class => '_autocomplete', 'data-resultfield' => 'id'
  = hidden_field_tag 'id'
  - form_tag(customers_path,{:method =>:get, :id => 'search_on_any_field'}) do
    Search any field:
    = text_field_tag 'customers_filter', @customers_filter, :size => 12
    = submit_tag 'Go'
    = gen_button 'All', customers_path
    = gen_button 'Dups', list_duplicate_customers_path
    = gen_button 'New...', new_customer_path


