#customer_quick_search.adminField
  %p
    %span.strong Customer: 
    %span#onBehalfOfName= h @gCustomer.full_name
    (last login:
    = h @gCustomer.last_login.to_formatted_s(:month_day_year)
    )
    - form_tag({:controller => 'customers',:action => 'switch_to'}, {:method => :get, :id => 'quick_search'}) do
      - if controller.controller_name =~ /store|customers/i
        = hidden_field_tag 'target_controller', controller.controller_name
        = hidden_field_tag 'target_action', (controller.action_name == 'list' ? 'welcome' : controller.action_name)
      - else
        = hidden_field_tag 'target_controller', 'customers'
        = hidden_field_tag 'target_action', 'welcome'
      Quick search by first or last name:
      = customer_search_field 'name', '', {:size => 20}, :also_update => {:id => :id}
      = hidden_field_tag 'id'
      = submit_tag 'Go'
    - form_tag({:controller => 'customers',:action =>'list'},{:method =>:get, :id => 'search_on_any_field'}) do
      Search any field:
      = text_field_tag 'customers_filter', '', :size => 12
      = submit_tag 'Go'
    - form_tag({:controller =>'customers',:action =>'new'},{:method=>:get}) do
      = submit_tag 'Add New...'
          

