- if (@gAdminDisplay || group.cancelable_by(@customer))
  = form_tag cancel_multiple_customer_vouchers_path(@customer), :method => :post, :class => 'form-inline' do
    = hidden_field_tag 'voucher_ids', group.voucherlist
    %td.text-center= menu_or_static_text('cancelnumber', group.size)
    %td.text-center= group.name
    %td.text-center
      - if local_assigns[:is_subscriber_voucher]
        = group.showdate.printable_date
      - else
        %span.showName= group.showdate.name
        %br
        %span.showDate= group.showdate.printable_date_with_description
    %td.text-center 
      = submit_tag 'Cancel', |
        :disable_with => 'Cancelling...', |
        :class => 'btn btn-danger', |
        :confirm => t('reservations.confirm_cancellation') |
  - if @gAdminDisplay
    = render :partial => 'update_voucher_comments', :locals => {:group => group}
  - else
    %td
- else
  %td.text-center= group.size
  %td.text-center= group.name
  %td.text-center= group.showdate.printable_date
  %td
  %td
