%td.c= group.size
%td{:title => (group.voucherlist if @gAdminDisplay)}= group.name
%td= group.showdate.printable_date
%td.action= render :partial => 'cancel_button', :locals => {:group => group}
= render :partial => 'update_voucher_comments', :locals => {:group => group}
