%fieldset#address_only
  %legend= local_assigns[:legend] || 'Billing Address'
  %p.text-center.bg-secondary.text-light  Fields <span class="strong">like this</span> are required.
  = fields_for customer do |f|
    .form-row
      .form-group.col-md-4
        %label.col-form-label.strong{:for => 'customer_first_name'} First name
        = f.text_field :first_name,  :class => 'form-control form-control-sm'
      .form-group.col-md-4
        %label.col-form-label.strong{:for => 'customer_last_name'} Last name
        = f.text_field :last_name,  :class => 'form-control form-control-sm'
      .form-group.col-md-4
        %label.col-form-label{:for=>:customer_day_phone} Phone
        = f.text_field :day_phone, {:type => :tel, :class => 'form-control form-control-sm'}
    .form-row
      .form-group.col-md-4
        %label.col-form-label.strong{:for => 'customer_street'} Street
        = f.text_field :street, :class => 'form-control form-control-sm'
      .form-group.col-md-4
        %label.col-form-label.strong{:for => 'customer_city'} City
        = f.text_field :city, :class => 'form-control form-control-sm'
      .form-group.col-md-1
        %label.col-form-label.strong{:for => 'customer_state'} State
        = f.text_field :state, {:size => 2,:class => 'form-control form-control-sm'}
      .form-group.col-md-2
        %label.col-form-label.strong{:for => 'customer_zip'} Zip
        = f.text_field :zip, {:size => 10, :class => 'form-control form-control-sm'}
