%table#SubscriptionReservations.full_width
  %thead
    %tr
      %th #Tix
      %th Show
      %th Your Reservation
      %th Actions
      - if @gAdmin.is_boxoffice
        %th.admin Comments
  %tbody
    - vouchertypes.keys.sort { |a,b| group_subscriber_vouchers(a,b) }.each do |v|
      - showdate,vouchertype = v
      - voucherset = vouchertypes[v]
      - vouchers = voucherset.to_a
      - voucherlist = vouchers.map { |v| v.id }.join(',')
      - num = vouchers.length
      %tr
        - if showdate
          %td.c= num
          %td= vouchertype.name
          %td= showdate.printable_date
          -# ALL vouchers must be cancellable to allow multi-cancel option.
          %td
            - if @gAdmin.is_boxoffice || vouchers.all? { |v| v.can_be_changed? }
              - form_tag :method => :post, :controller => 'vouchers', :action => 'cancel_multiple'  do
                = hidden_field_tag 'voucher_ids', voucherlist
                = submit_tag 'Click to Cancel', :disable_with => 'Cancelling...', :style => "width: 15ex"
          - if @gAdmin.is_boxoffice
            %td
              - vid = vouchers.first.id
              - svid = "save_#{vid}"
              - form_remote_tag(:url => {:controller=>'vouchers', :action=>'update_comment', :vid => vid}, :before => disable_with(svid,'Saving...'), :complete => enable_with(svid, 'Save'), :success => "alert('Comment saved')", :failure => "alert('Comment NOT saved - error ' + request.status)") do
                = text_field_tag 'comments', multiple_voucher_comments(vouchers)
                = submit_tag 'Save', :id => svid, :style => 'width: 7em'
        - elsif (dates = vouchers.first.redeemable_showdates(@gAdmin.is_boxoffice)).empty?
          %td
          %td= vouchertype.name
          %td{:colspan=>3} None of your vouchers are valid for this show
        - else
          - form_tag :controller => 'vouchers', :action => 'confirm_multiple' do
            = hidden_field_tag 'voucher_ids', voucherlist
            - if num > 1
              %td.c= select_tag 'number', options_for_select((1..num).to_a, num)
            - else
              %td.c 1
              = hidden_field_tag 'number', 1
            %td= vouchertype.name
            %td= select_tag 'showdate_id', content_tag(:option, "Select date to reserve...", :value => 0) + options_from_collection_for_select(dates, :showdate_id, :date_with_explanation), :style => "width: 200px"
            %td= submit_tag 'Click to Confirm', :disable_with => 'Confirming...', :style => "width: 17ex"  
