%table#SubscriptionReservations.full_width
  %thead
    %tr
      %th No. Tkts.
      %th Show
      %th Your Reservation
      %th Actions
  %tbody
    - vouchertypes.keys.sort { |a,b| group_subscriber_vouchers(a,b) }.each do |v|
      - showdate,vouchertype = v
      - voucherset = vouchertypes[v]
      - vouchers = voucherset.to_a
      - voucherlist = vouchers.map { |v| v.id }.join(',')
      - num = vouchers.length
      %tr
        - if showdate
          %td= num
          %td= vouchertype.name
          %td= showdate.printable_date
          -# ALL vouchers must be cancellable to allow multi-cancel option.
          - if @gAdmin.is_boxoffice || vouchers.all? { |v| v.can_be_changed? }
            %td
              - form_tag :method => :post, :controller => 'vouchers', :action => 'cancel_multiple'  do
                = hidden_field_tag 'voucher_ids', voucherlist
                = submit_tag 'Click to Cancel', :disable_with => 'Cancelling...', :style => "width: 100px"
          - else
            %td
        - elsif (dates = vouchers.first.redeemable_showdates(@gAdmin.is_boxoffice)).empty?
          %td
          %td= vouchertype.name
          %td{:colspan=>2} None of your vouchers are valid for this show
        - else
          - form_tag :controller => 'vouchers', :action => 'confirm_multiple' do
            = hidden_field_tag 'voucher_ids', voucherlist
            - if num > 1
              %td= select_tag 'number', options_for_select((1..num).to_a, num)
            - else
              %td 1
              = hidden_field_tag 'number', 1
            %td= vouchertype.name
            %td= select_tag 'showdate_id', content_tag(:option, "Select date to reserve...", :value => 0) + options_from_collection_for_select(dates, :showdate_id, :date_with_explanation), :style => "width: 200px"
            %td= submit_tag 'Click to Confirm', :disable_with => 'Confirming...', :style => "width: 17ex"  
            
