- if @gAdminDisplay || group.cancelable_by(@customer) then
    %td.c= menu_or_static_text('cancelnumber', group.size)
    %td{:title => (group.voucherlist if @gAdminDisplay)}=   group.name
    %td
      %span.showName= group.showdate.name
      %br
      %span.showDate= group.showdate.printable_date_with_description
    %td.action= render :partial => 'cancel_button', :locals => {:group => group}
    = render :partial => 'update_voucher_comments', :locals => {:group => group}
- else
    %td.c= group.size
    %td{:title => (group.voucherlist if @gAdminDisplay)}=   group.name
    %td
      %span.showName= group.showdate.name
      %br
      %span.showDate= group.showdate.printable_date_with_description
      %td
