%tr
  - if @gAdminDisplay
    %td.adminField
      = h voucher.id
      %br
      = voucher.processed_by_name unless voucher.processed_by_id == voucher.customer.id
    %td.adminField= link_to_if voucher.order_id, voucher.order_id, order_path(voucher.order_id)
  %td= h voucher.vouchertype.name
  / Reservation column: name of show + Cancel Res button, or Make Res button if open
  %td
    - if voucher.reservable? 
      = link_to 'Make reservation', reserve_customer_voucher_path(@customer,voucher)
    - elsif voucher.reserved?
      %span.showName= h voucher.reserved_show
      %br
      %span.showDate= h voucher.reserved_date
  %td
    - if voucher.reserved? &&  (@gAdminDisplay || voucher.can_be_changed?)
      = button_to 'Release', cancel_reservation_customer_voucher_path(@customer, voucher), {:confirm => 'OK to release this reservation? Click OK to release it, or Cancel to leave things as they are.'} 

  - if @gAdminDisplay
    %td.admin
      - form_remote_tag(:url => update_comment_customer_voucher_path(@customer,voucher), :success => "alert('Comment saved')", :failure => "alert('Comment NOT saved - error ' + request.status)") do
        = text_field_tag 'comments', voucher.comments
        = submit_tag 'Save'
