%h1.text-center Add Customer

= form_tag customers_path do
  = render :partial =>  'billing_address', :locals => {:customer => @customer}
  = render 'form_admin'
  = submit_tag 'Create Account', :class => 'btn btn-success'
  = link_to 'Cancel', customers_path, :class => 'btn btn-secondary'
