%h1.page_heading.center= "Changing Password for #{@customer.full_name}"

- if @customer.has_secret_question?
  %p.notice 
    You have set up a secret question.
    = link_to 'Change Secret Question or Answer', change_secret_question_customer_path(@customer), :class => 'btn btn-primary'
- else
  %p.warning
    You don't have a secret question set up yet.  
    = popup_help_for :secret_question
    = link_to 'Secret Question', change_secret_question_customer_path(@customer), :class => 'btn btn-primary'

= form_tag change_password_for_customer_path(@customer) do
  = render :partial => 'password', :locals => {:newpassword => true}
  = submit_tag 'Save Changes' 
  = link_to "Cancel", customer_path(@customer), :class => 'btn btn-primary'
