%h1.page_heading.center= "Changing Password for #{@customer.full_name}"

= error_messages_for :customer, :header_message => default_validation_error_message

- if @customer.has_secret_question?
  %p.notice 
    You have set up a secret question.
    = gen_button 'Change Secret Question or Answer', :controller => :customers, :action => :change_secret_question
- else
  %p.warning
    You don't have a secret question set up yet.  
    = popup_help_for :secret_question
    = gen_button 'Secret Question', :controller => :customers, :action => :change_secret_question

- form_tag :action => 'change_password', :customer => @id  do
  = render :partial => 'password', :locals => {:newpassword => true}
  = submit_tag 'Save Changes' 
  = link_to "Cancel", {:action => 'welcome', :id => @customer}, :class => 'genButton'
