= themed

%h1 Setup Secret Question for #{@customer.full_name}

= form_tag change_secret_question_customer_path(@customer) do
  %fieldset#secret_question
    %legend Secret Question
    %p 
      Please choose a question to answer in case you forget your password:
    .form-row
      .col-md-2.text-right
        %label.col-form-label{:for => :customer_secret_question} Question
      .col-md-5
        = select 'customer', 'secret_question', secret_question_select(@customer), :class => 'form-control form-control-sm'
      .col-md-5
    .form-row
      .col-md-2.text-right
        %label.col-form-label{:for => :customer_secret_answer} Answer
      .col-md-5
        = text_field 'customer', 'secret_answer', :class => 'form-control form-control-sm'
      .col.md-2= submit_tag 'Save Changes', :class => 'btn btn-success'
      .col.md-2= link_to "Don't Save Changes", customer_path(@customer), :class => 'btn btn-secondary'
      .col-md-1
