%h1.page_heading.center= "Changing Password for #{@customer.full_name}"

= error_messages_for :customer, :header_message => default_validation_error_message
- form_tag :action => 'change_password', :customer => @id  do
  = render :partial => 'password', :locals => {:newpassword => true}
  %p Please choose a secret question to answer in case you forget your password in the future:
  %label{:for => :customer_secret_question} Secret Question:
  = select 'customer', 'secret_question', secret_question_select(@customer)
  = text_field 'customer', 'secret_answer', :size => 40, :max => 40
  = submit_tag 'Save Changes' 
  = link_to "Cancel", {:action => 'welcome', :id => @customer}, :class => 'genButton'
