%h1.page_heading.center= "Changing Password for #{@customer.full_name}"

= error_messages_for :customer, :header_message => default_validation_error_message
- form_tag :action => 'change_password', :customer => @id  do
  = render :partial => 'password', :locals => {:newpassword => true}
  = render :partial => 'secret_question', :locals => {:customer => @customer}
  = submit_tag 'Save Changes' 
  = link_to "Cancel", {:action => 'welcome', :id => @customer}, :class => 'genButton'
