%h1.page_heading.center= "Changing Password for #{@customer.full_name}"

= error_messages_for :customer 
- form_tag :action => 'change_password', :customer => @id  do
  = render :partial => 'password', :locals => {:newpassword => 'new'}
  = submit_tag 'Change Password' 
  = link_to "Cancel", {:action => 'welcome', :id => @customer}, :class => 'genButton'
