.pageDiv
  %h1= "Changing Password for #{@customer.full_name}"
  = error_messages_for :customer 
  - form_tag :action => 'change_password', :customer => @id  do
    = render :partial => 'password', :locals => {:newpassword => 'new'}
    = submit_tag 'Change Password' 
    = link_to "Don't Change Password", {:action => 'welcome', :id => @customer}, :class => 'genButton'
