%h1.page_heading.center Setup Secret Question for #{@customer.full_name}

= error_messages_for :customer, :header_message => default_validation_error_message

- form_tag :action => :change_secret_question do
  %fieldset#secret_question
    %legend Secret Question
    %p 
      Please choose a question to answer in case you forget your password:
      = popup_help_for :secret_question
    %label{:for => :customer_secret_question} Question:
    = select 'customer', 'secret_question', secret_question_select(@customer)
    %br
    %label{:for => :customer_secret_answer} Answer:
    = text_field 'customer', 'secret_answer', :size => 40, :max => 40

    = submit_tag 'Save Changes'
    = link_to "Don't Save Changes", home_path
