%h1.page_heading.center Contact Info for #{h @customer.full_name}

= error_messages_for :customer

- if USE_FACEBOOK && !ie8 && @customer.facebook_user? && @customer.email.blank?
  #link_existing_account
    = render :partial => 'customers/link_existing_account'
  %h3 Otherwise, please complete the information below:

%br/
- form_tag :action => 'update', :id => @customer do
  = render :partial => 'form' 
  - if @is_admin
    = render :partial => 'form_admin'
  %br/
  %br/
  = submit_tag 'Save Changes' 
  = link_to 'Cancel', (@return_to || {:action => 'welcome', :id => @customer}), :class => 'genButton'
