%h1.page_heading.center Contact Info for #{h @customer.full_name}

= error_messages_for :customer

%br/
- form_tag :action => 'update', :id => @customer do
  = render :partial => 'form' 
  - if @is_admin
    = render :partial => 'form_admin'
  %br/
  %br/
  = submit_tag 'Save Changes' 
  = link_to 'Cancel', (@return_to || welcome_path(@customer)), :class => 'genButton'
