%h1.page_heading.center Update Contact Info

= error_messages_for :customer
%br/
= gen_button  'Change password...', {:action => 'change_password', :id => @customer}
- form_tag :action => 'edit', :id => @customer do
  = render :partial => 'form' 
  - if @is_admin
    = render :partial => 'form_admin'
  %br/
  %br/
  = submit_tag 'Save Changes' 
  = link_to 'Cancel', {:action => 'welcome', :id => @customer}, :class => 'genButton'
