.container
  %h1 Reset Your Password by Email

  %ol
    %li Enter the email address you've registered with us below.
    %li Click "Reset My Password" and we'll email you a link to reset your password within 1 minute.
    %li
      Or if you're having trouble receiving our emails, if you've registered a secret question and answer, you can
      = link_to "answer your secret question", new_from_secret_session_path
      instead.

  #forgot_password
    = form_tag forgot_password_customers_path do
      %label{:for => :customer_email} Email
      = text_field_tag 'email', '', :size => 20
      = submit_tag 'Reset My Password By Email', :class => 'btn btn-primary'
      = link_to 'Cancel', login_path, {:class => 'btn btn-secondary'}
