#customer_list_header
  %center
    = page_entries_info @customers, :model => @list_type
    = will_paginate @customers

%br/

- unless @customers.empty?
  - form_tag merge_customers_path, :method => :get do
    = render :partial => 'customers/merge_bar'
    = hidden_field_tag 'action_name', @controller.action_name
    = hidden_field_tag 'customers_filter', @customers_filter
    = hidden_field_tag 'page', @page
    %table.hilite#customers
      %thead
        = render :partial => 'customers/customer_header'
      %tbody
        = render :partial => 'customers/customer', :collection => @customers
    = render :partial => 'customers/merge_bar'
    %br/
