#customer_list_header
  - if @customers.respond_to?(:total_pages)
    .pagination
      = will_paginate @customers, :previous_label => '&laquo;', :next_label => '&raquo;', :container => false
      = form_tag @list_action, :method => :get do
        &nbsp;&bull;&nbsp; 
        %b #{@customers.offset+1}-#{@customers.offset+@customers.length}
        of 
        %b #{@customers.total_entries}
        &nbsp;&bull;&nbsp; Jump to page:
        = text_field_tag 'page', '', :size => 4
        = submit_tag 'Go'

%br/

- unless @customers.empty?
  = form_tag merge_customers_path, :method => :get do
    #mergebar1.merge_bar= render :partial => 'customers/merge_bar'
    = hidden_field_tag 'action_name', action_name
    = hidden_field_tag 'customers_filter', @customers_filter
    = hidden_field_tag 'page', @page
    %table.hilite#customers
      %thead
        = render :partial => 'customers/customer_header'
      %tbody
        = render :partial => 'customers/customer', :collection => @customers
    #mergebar2.merge_bar= render :partial => 'customers/merge_bar'
    %br/
