.pagination
  .h1.text-center= @page_title
  .pagination-container
    = will_paginate @customers, :previous_label => '&laquo;', :next_label => '&raquo;', :container => false
    = form_tag @list_action, :method => :get do
      - first,last,total = @customers.offset+1, @customers.offset+@customers.length, @customers.total_entries
      &nbsp;&bull;&nbsp; 
      %b #{first}-#{last} of #{total}
      - if total > @customers.per_page
        &nbsp;&bull;&nbsp; Jump to page:
        = text_field_tag 'page', '', :size => 4
        = submit_tag 'Go', :class => 'btn btn-outline-primary btn-sm'

- unless @customers.empty?
  .container.px-0.mt-2
    = form_tag merge_customers_path, :method => :get, :class => 'form' do
      .row
        .col-md-3.text-right
          %label.col-form-label Select customers to:
          = popup_help_for 'merge_customers'
        .col-8
          = submit_tag 'Manual Merge&hellip;'.html_safe, :class => 'btn btn-primary'
          = submit_tag 'Auto Merge', :class => 'btn btn-danger'
          = submit_tag 'Forget', :class => 'btn btn-danger', :onclick => "return confirm('#{escape_javascript t(%q{customers.confirm_delete})}')"
          = popup_help_for 'delete_customers'

      = hidden_field_tag 'action_name', action_name
      = hidden_field_tag 'customers_filter', @customers_filter
      = hidden_field_tag 'page', @page
      %table.a1-table.table.table-hover#customers
        %thead
          %tr
            %th= check_box_tag 'selectAll', 1, false, :onchange => '$(".selectForMerge").prop("checked", $(this).prop("checked"))'
            %th First name
            %th Last name
            %th Street
            %th City
            %th State
            %th Zip
            %th Day/Main Phone
            %th Email
            %th Labels
        %tbody
          = render :partial => 'customers/customer', :collection => @customers

