%h1.page_heading.center= @customers.empty? ? 'No matches' : h(@title)

%br/

- unless @customers.empty?
  - form_tag :action => 'merge' do
    = render :partial => 'merge_bar'
    = hidden_field_tag 'action_name', @controller.action_name
    = hidden_field_tag 'offset', @offset
    %table.hilite
      %thead
        = render :partial => 'customer_header'
      %tbody
        = render :partial => 'customer', :collection => @customers
    = render :partial => 'merge_bar'
    %br/
