%h1.page_heading.center= h(@title)

%br/

= pagination_bar(@customer_pages.current, :customers_filter, @count, {:class => 'navButton'  })
%br/

- form_tag({:action => 'merge'}, {:method => :get}) do
  - cols = %w[street city state zip day_phone eve_phone login]
  %table.hilite
    %thead
      = render :partial => 'customer_header'
    %tbody
      = render :partial => 'customer', :collection => @customers

  = pagination_bar @customer_pages.current, :customers_filter, @count, {:class => 'navButton'}

  %br/
  = submit_tag 'Merge Selected Customers'



