%h1.page_heading.center= h(@title)

%br/

- if @customer_pages
  = pagination_bar(@customer_pages.current, :customers_filter, @count, {:class => 'navButton'  })
- else
  %p= link_to 'Show More Duplicates...', {:action => :list_duplicates, :offset => @offset+@limit}, {:class => 'genButton'}

%br/

- form_tag :action => 'merge' do
  = hidden_field_tag 'action_name', @controller.action_name
  = hidden_field_tag 'offset', @offset
  %table.hilite
    %thead
      = render :partial => 'customer_header'
    %tbody
      = render :partial => 'customer', :collection => @customers

  - if @customer_pages
    = pagination_bar(@customer_pages.current, :customers_filter, @count, {:class => 'navButton'  })
  - else
    %p= link_to 'Show More Duplicates...', {:action => :list_duplicates, :offset => @offset+@limit}, {:class => 'genButton'}

  %br/
  %p
    Merge 2 selected customers:
    = submit_tag 'Manually'
    = submit_tag 'Automatically'
    = popup_help_for 'merge_customers'
