- unless @checkout_in_progress
  %h1.page_heading.center= "#{Option.value(:venue)} Online Box Office"
  
#have_account
  %h2 Subscribers and Previous Customers
  = render :partial => 'account_login'

#new_customer
  %h2 New Customer?
  = gen_button "Create Account", {:action => 'new'}
  %br/
  %br/
  = gen_button "Buy Tickets", {:controller => 'store', :action => 'index'}

.clear
