%p.infoMsg  Select which value will be retained from each record.  Unselected values will be discarded.

= form_tag finalize_merge_customers_path do
  = hidden_field_tag 'action_name', @last_action_name
  = hidden_field_tag 'offset', @offset
  = hidden_field_tag 'cust0', @cust[0].id
  = hidden_field_tag 'cust1', @cust[1].id
  %table.hilite
    %tr{:class=>cycle(:odd,:even)}
      %td Last login
      %td= @cust[0].last_login.to_formatted_s(:long)
      %td= @cust[1].last_login.to_formatted_s(:long)
    %tr{:class=>cycle(:odd,:even)}
      %td Last activity
      %td= @cust[0].most_recent_txn.txn_date.to_formatted_s(:long) rescue "???"
      %td= @cust[1].most_recent_txn.txn_date.to_formatted_s(:long) rescue "???"
    - Customer.replaceable_attributes.each do |c|
      %tr{:class=>cycle(:odd,:even)}
        %td= h c.humanize
        %td.c0
          = radio_button_tag c, 0, :selected=>true
          = h @cust[0].send(c)
        %td.c1
          = radio_button_tag c, 1
          = h @cust[1].send(c)

  = submit_tag 'Merge Records', :class => 'btn btn-success'
  = link_to 'Cancel', customers_path, :class => 'btn btn-secondary'

