%h1.page_heading.center= @gCheckoutInProgress ? 'Billing Information' : 'Create Your Account'

#inner_wrapper
  %p.strong 
    Subscribers, please
    = link_to 'sign in', login_path
    to use your existing billing information.

  - if @is_admin
    - form_tag customers_path do
      = render :partial => 'form', :object => @customer
      = render :partial => 'password' 
      = render :partial => 'form_admin'
      = submit_tag "Create New Customer Account"
      = gen_button 'Cancel', customers_path
  - else
    - form_tag user_create_customers_path do
      = render :partial => 'form', :object => @customer
      = render :partial => 'password'
      - if @gCheckoutInProgress
        = submit_tag 'CONTINUE >>'
        = gen_button 'Cancel', store_path
      - else
        = submit_tag 'Create My Account'
        = gen_button 'Cancel', login_path
