%h1.page_heading.center Sign Up

%p.strong 
  Already have an account?
  = link_to 'Sign in', login_path
  to use your existing billing information.

= form_tag user_create_customers_path do
  = render 'billing_address'
  = render 'password'
  = render 'extra'
  = submit_tag 'Create My Account'
  = link_to 'Cancel', (@gCheckoutInProgress ? store_path : login_path), :class => 'genButton'
