= themed

= hidden_field_tag 'showdates_with_reserved_seating', @showdates_with_reserved_seating

- @vouchers_by_season.each_pair do |season,subscriber_vouchers|

  %h1.text-center #{@customer.full_name}'s #{@package_type} Reservations (#{Option.humanize_season(season)})
  .row.text-light.bg-dark
    .col-1.text-center #Tix
    .col-3.text-center Show
    .col-4.text-center Your Reservation
    .col-2.text-center Seats
    .col-2.text-center Action

  - VoucherPresenter.groups_from_vouchers(subscriber_vouchers, @gAdminDisplay).each do |group|
    %div[group.vouchers.first]
      - if group.reserved
        = render :partial => 'reserved_voucher', :locals => {:group => group}
      - else
        = render :partial => 'open_voucher', :locals => {:group => group}

- unless @vouchers.empty?
  %h1.text-center #{@customer.full_name}'s Regular Tickets

  .row.text-light.bg-dark
    .col-1.text-center #Tix
    .col-3.text-center Type
    .col-4.text-center Your Reservation
    .col-2.text-center Seats
    .col-2.text-center Action

  - VoucherPresenter.groups_from_vouchers(@other_vouchers, @gAdminDisplay).each do |group|
    %div[group.vouchers.first]
      - if group.reserved
        = render :partial => 'reserved_voucher', :locals => {:group => group}
      - else
        = render :partial => 'open_voucher', :locals => {:group => group}
      
= render :partial => 'components/seatmap'
