- include_all_showdates = @gAdminDisplay && current_user.is_boxoffice
- @vouchers_by_season.each_pair do |season,subscriber_vouchers|

  %h1.page_heading.center #{@customer.full_name}'s #{@package_type} Reservations (#{humanize_season(season)})
  %br
  
  %table#subscriptionReservations.full_width
    %thead
      %tr
        %th #Tix
        %th Show
        %th Your Reservation
        %th
        - if @gAdminDisplay
          %th.admin Comments
    %tbody
      - VoucherPresenter.groups_from_vouchers(subscriber_vouchers, include_all_showdates).each do |group|
        %tr[group.vouchers.first]
          - if group.reserved
            = render :partial => 'reserved_subscriber_voucher', :locals => {:group => group}
          - elsif group.redeemable_showdates.empty?
            %td.c= group.size
            %td= group.name
            %td{:colspan=>3} Reservations unavailable for this show
          - else
            = render :partial => 'open_subscriber_voucher', :locals => {:group => group}

  %br

%h1.page_heading.center #{@customer.full_name}'s Regular Tickets
%br

- if @vouchers.empty?
  %p There are no tickets in your account.
- else
  %table#customerVoucherList.full_width.hilite
    %thead
      %tr
        %th #Tix
        %th Type
        %th Reservation
        %th
        - if @gAdminDisplay
          %th.admin Comment
    %tbody
      - VoucherPresenter.groups_from_vouchers(@other_vouchers, include_all_showdates).each do |group|
        %tr[group.vouchers.first]
          - if group.reserved
            = render :partial => 'reserved_regular_voucher', :locals => {:group => group}
          - else
            = render :partial => 'open_regular_voucher', :locals => {:group => group}

:javascript
  $('.save_comment').on('ajax:success', function(e,s,x) { alert("Comment saved") });
  $('.save_comment').on('ajax:error', function(e,s,x) { alert("Error, comment NOT saved") });
