= error_messages_for :customer, :header_message => default_validation_error_message
- @vouchers_by_season.each_pair do |season,subscriber_vouchers|
  %h1.page_heading.center #{@customer.full_name}'s #{@package_type} Reservations (#{humanize_season(season)})
  %br/
  = render :partial => 'subscriber_voucher', :locals => {:voucher_groups => VoucherPresenter.groups_from_vouchers(subscriber_vouchers) }
  %br/

%h1.page_heading.center #{@customer.full_name}'s Regular Tickets
%br/

- if @vouchers.empty?
  %p There are no tickets in your account.
- else
  %table#customerVoucherList.full_width.hilite
    %thead
      = render :partial => 'voucher_header'
    %tbody
      = render :partial => 'voucher', :collection => @other_vouchers.sort_by(&:reservation_status_then_showdate)

%br/
= gen_button 'Buy More Tickets', store_path(@customer)
