= themed

- include_all_showdates = @gAdminDisplay && current_user.is_boxoffice

- @vouchers_by_season.each_pair do |season,subscriber_vouchers|

  %h1.text-center #{@customer.full_name}'s #{@package_type} Reservations (#{humanize_season(season)})
  .row.text-light.bg-dark
    .col-1.text-center #Tix
    .col-3.text-center Show
    .col-4.text-center Your Reservation
    .col-2.text-center Seats
    .col-2.text-center Action

  - VoucherPresenter.groups_from_vouchers(subscriber_vouchers, include_all_showdates).each do |group|
    %div[group.vouchers.first]
      - if group.reserved
        = render :partial => 'reserved_voucher', :locals => {:group => group, :is_subscriber_voucher => true}
      - else
        = render :partial => 'open_voucher', :locals => {:group => group, :label_function => (@gAdminDisplay ? :date_with_explanation_for_admin : :date_with_explanation)}


- unless @vouchers.empty?
  %h1.text-center #{@customer.full_name}'s Regular Tickets

  .row.text-light.bg-dark
    .col-1.text-center #Tix
    .col-3.text-center Type
    .col-4.text-center Your Reservation
    .col-2.text-center Seats
    .col-2.text-center Action

  - VoucherPresenter.groups_from_vouchers(@other_vouchers, include_all_showdates).each do |group|
    %div[group.vouchers.first]
      - if group.reserved
        = render :partial => 'reserved_voucher', :locals => {:group => group, :is_subscriber_voucher => false}
      - else
        = render :partial => 'open_voucher', :locals => {:group => group, :label_function => :name_and_date_with_capacity_stats}

.d-none#seating-charts-wrapper
  #seatmap.seatCharts-container
