= error_messages_for :customer, :header_message => default_validation_error_message
- @vouchers_by_season.each_pair do |season,subscriber_vouchers|
  %h1.page_heading.center #{@customer.full_name}'s #{@package_type} Reservations (#{humanize_season(season)})
  %br/
  = render :partial => 'subscriber_voucher', :locals => {:vouchertypes => Set.new(subscriber_vouchers).classify { |v| [v.showdate, v.vouchertype] }}
  %br/

%h1.page_heading.center #{@customer.full_name}'s Regular Tickets
%br/

- if @vouchers.empty?
  %p There are no tickets in your account.
- else
  %table#customerVoucherList.full_width.hilite
    %thead
      = render :partial => 'voucher_header'
    %tbody
      = render :partial => 'voucher', :collection => @other_vouchers.sort_by  {|v| v.reserved? ? -(v.showdate.thedate.to_i) : -1.0e15 }

%br/
= button_to 'Buy More Tickets', store_path(@customer), {:method => :get}
