/ = render :partial => 'store/store_banner', :locals => {:subscriber => true }

= error_messages_for :customer

.pageDiv
  %h1 Reserve Regular Season Show Seats
  %table#SubscriptionReservations
    %tr
      %th Show
      %th Your Reservation
      %th
    - @subscriber_vouchers.sort_by(&:vouchertype_id).each do |v|
      - if v.reserved?
        %tr
          %td= v.vouchertype.name
          %td.c= v.showdate.printable_date
          / BUG this shouldn't appear if it's impossble to cancel this res
          - form_tag :method => :post, :controller => 'vouchers', :action => 'cancel_reservation', :id => v.id do
            %td.c= submit_tag 'Click to Cancel'
      - else
        %tr
          %td= v.vouchertype.name
          - if (dates = v.redeemable_showdates(@gAdmin.is_boxoffice)).empty?
            %td None of your vouchers are valid for this show
            %td
          - else
            - form_tag :controller => 'vouchers', :action => 'confirm_reservation', :id => v do
              %td= select_tag 'showdate_id', options_for_select({'Select date...' => 0},0) + options_from_collection_for_select(dates, :showdate_id, :date_with_explanation)
              %td= submit_tag 'Click to Confirm'

.pageDiv#additionalTickets
  %h1 Purchased Tickets
  - unless @other_vouchers.empty?
    %table#customerVoucherList
      %thead
        %tr.tableHeading
          - if @admin.is_boxoffice
            %th.adminField{:style => 'color: #555'} Tkt #
          %th Ticket Type
          %th How Acquired
          %th Redeemed For
          %th Actions
          - if @admin.is_boxoffice
            %th.adminField{:style => 'color: #555'} Admin
            %th.adminField{:style => 'color: #555'} Comment
      %tbody
        = render :partial => "voucher", :collection => @other_vouchers.sort_by  {|v| v.showdate_id.zero? ? -1.0e15 : -(v.showdate.thedate.to_i)}, :locals => {:is_boxoffice => @admin.is_boxoffice, :is_boxoffice_manager => @admin.is_boxoffice_manager, :is_subscriber => @subscriber, :customer => @customer }
  = button_to 'Buy Additional Tickets...', {:controller => 'store', :action => 'index'}, {:method => :get}
