= render :partial => 'store/store_banner', :locals => {:subscriber => false }

= error_messages_for :customer


%h1.page_heading.center= "#{h @customer.first_name.name_capitalize}'s Tickets and Reservations"
%br/
- if @vouchers.empty?
  %p There are no tickets in your account.
- else
  %table#customerVoucherList.full_width
    %thead
      %tr
        - if @admin.is_boxoffice
          %th.admin_field Tkt #
        %th Type
        %th Acquired
        %th Redeemed
        %th Actions
        - if @admin.is_boxoffice
          %th.admin_field Admin
          %th.admin_field Comment
    %tbody
      = render :partial => "voucher", :collection => @vouchers.sort_by  {|v| v.showdate_id.zero? ? -1.0e15 : -(v.showdate.thedate.to_i)}, :locals => {:is_boxoffice => @admin.is_boxoffice, :is_boxoffice_manager => @admin.is_boxoffice_manager, :is_subscriber => @subscriber, :customer => @customer }

%br/
= button_to 'Buy More Tickets', {:controller => 'store', :action => 'index'}, {:method => :get}