%div[order]
  %h3 
    %a.flippy[order, :flippy]{:href=>orders_path} &#x25BC;
    = one_line_order_summary(order)
  %div.order_info[order, :details]
    = form_tag order_path(order), :method => :put do
      %p 
        %span.label Purchaser: 
        = link_to_customer order.purchaser
      %p
        %span.label Gift order?
        = order.gift? ? 'Yes' : 'No'
      - if order.gift?
        %p
          %span.label Gift recipient:
          = link_to_customer order.customer
      %p
        %span.label Order total:
        = number_to_currency order.total_price
      %p
        %span.label Payment method:
        = humanize(order.purchase_medium)

      - unless @printable
        %p
          %span.label Refundable:
          = order.refundable? ? "Yes" : "No"

      %p
        %span.label Order comments:
        = order.comments

      %table#order_items.hilite
        %thead
          %tr
            %th{:colspan => 2} Item#
            %th Customer Holding Item
            %th Paid
            %th Show or Account Code
            %th Comments
        %tbody
          - order.items.each do |item|
            %tr
              %td= check_box_tag("items[#{item.id}]",1,false, :class => 'itemSelect') if item.cancelable? && order.refundable? && !@printable
              %td= item.id
              %td= link_to_customer item.customer
              %td= number_to_currency(item.amount)
              %td= item.one_line_description
              %td= item.comments

      - if @printable
        %h2.center #{Option.venue} thanks you for your order!
      - else
        = link_to 'Printable Receipt', order_path(order, :printable => 1), {:target => '_blank', :class => 'btn btn-primary'}
        = link_to 'Back to Customer', customer_path(order.customer), :class => 'btn btn-primary'
        - if order.refundable?
          - submit_name = (order.purchase_medium == :credit_card ? 'Refund' : 'Delete')
          = submit_tag "#{submit_name} Checked Items", :confirm => deletion_warning_for(order)

