%h1 Orders by payment type #{@report.from.to_formatted_s(:filename)} - #{@report.to.to_formatted_s(:filename)}

- %w(credit_card cash check).each do |payment_type|
  .container
    %h2= humanize(payment_type)
    %table.a1-table{:id => "tbl_#{payment_type}"}
      %thead
        %tr
          %th{:scope => 'col'} ID
          %th{:scope => 'col'} Sold on
          %th{:scope => 'col'} Purchaser
          %th{:scope => 'col'} Processed by
          %th{:scope => 'col'} Amount
          %th{:scope => 'col'} Ref
      %tbody
        = render partial: 'order_summary', collection: @report.send(payment_type)
