- args = {:start_year => @show.opening_date.year, :end_year => @show.closing_date.year, :minute_step => 15, :date => @showdate.thedate }
%table
  %tr
    %td
      %label{:for => :showdate_thedate} Date and time
    %td= datetime_select 'showdate', 'thedate', args
  %tr
    %td
      %label{:for => :showdate_description} Description (optional)
    %td
      = text_field 'showdate', 'description', :size => 20
      = popup_help_for :showdate_description
  %tr
    %td 
      %label{:for => :showdate_end_advance_sales} Advance sales cutoff
    %td
      = datetime_select 'showdate', 'end_advance_sales', args
      = popup_help_for :advance_sales_cutoff
  %tr
    %td 
      %label{:for => :showdate_max_sales} Max advance sales
    %td
      = text_field 'showdate', 'max_sales', 'size' => 5
      = popup_help_for(:max_advance_sales)

= link_to  "Don't Save Changes", edit_show_path(@showdate.show), :class => 'btn btn-primary'

<!--[eoform:showdate]-->

