= error_messages_for 'showdate', :header_message => default_validation_error_message
%table
  %tr
    %td
      %label{:for => :showdate_thedate} Date and time
    %td= parent_datetime_select 'showdate', 'thedate', 'showdate_end_advance_sales', {:start_year => Time.now.year, :end_year => Time.now.year + 3, :minute_step => 15, :date => @showdate.thedate}
  %tr
    %td 
      %label{:for => :showdate_end_advance_sales} Advance sales stop
    %td= child_datetime_select 'showdate', 'end_advance_sales',  {:start_year => Time.now.year, :end_year => Time.now.year + 3,  :minute_step => 15 }
  %tr
    %td 
      %label{:for => :showdate_max_sales} Max advance sales
    %td= text_field 'showdate', 'max_sales', 'size' => 5
    = popup_help_for(:max_advance_sales)
    = hidden_field_tag "showdate[show_id]", @showdate.show.id

= gen_button  "Don't Save Changes", {:controller => 'shows', :action => 'edit', :id => @showdate.show.id }

<!--[eoform:showdate]-->

