%h2 Editing #{@showdate.printable_name}

= form_tag show_showdate_path(@show,@showdate), :method => :put, :class => 'showdate-form' do 
  - args = {:start_year => Time.at_beginning_of_season(@show.season).year, :end_year => Time.at_end_of_season(@show.season).year, :minute_step => 15, :date => @showdate.thedate }

  .form-row.py-1
    .col-3.text-right
      %label.col-form-label Performance type
    .col-2.font-weight-bold.form-control.border-none= @showdate.performance_type

  .form-row
    .col-3.text-right
      %label.col-form-label{:for => :showdate_thedate}
        = @showdate.stream_anytime? ? 'Stream available until' : 'Date and time'
    .col-8.form-inline
      = datetime_select 'showdate', 'thedate', args, {:class => 'form-control'}

  - unless @showdate.stream?
    .form-row
      .col-3.text-right
        %label.col-form-label{:for => :showdate_seatmap_id} Seat map
        = popup_help_for :reserved_seating
      .col-3
        = select_tag 'showdate[seatmap_id]', seatmap_choices_for(@showdate), :class => 'form-control showdate-seating-choices'
      .col-3
        = link_to 'Add/Edit Seatmaps...', seatmaps_path, :class => 'btn btn-primary'

  - unless @showdate.stream?
    .form-row
      .col-3.text-right
        %label.col-form-label{:for => :showdate_house_capacity} House capacity
        = popup_help_for :showdate_house_capacity
      .col-2
        = text_field 'showdate', 'house_capacity', :class => 'form-control showdate-house-capacity'

  .form-row
    .col-3.text-right
      %label.col-form-label{:for => :showdate_description} Description (optional)
      = popup_help_for :showdate_description
    .col-6
      = text_field 'showdate', 'description', :class => 'form-control'

  .form-row
    .col-3.text-right
      %label.col-form-label{:for => :showdate_max_advance_sales}
        = @showdate.stream_anytime? ? 'Max sales' : 'Max advance sales'
      = popup_help_for(:max_advance_sales)
    .col-2
      = text_field 'showdate', 'max_advance_sales', :class => 'form-control'

  - if @showdate.stream?
    .form-row.py-1
      .col-3.text-right
        %label.col-form-label{:for => :showdate_access_instructions} Access instructions
        = popup_help_for :showdate_access_instructions
      .col-9= text_area 'showdate', 'access_instructions', :rows => 8, :class => 'form-control'


  = link_to  "Don't Save Changes", edit_show_path(@showdate.show), :class => 'btn btn-secondary'
  = submit_tag 'Save Changes', :class => 'btn btn-success'

