<h1>Listing showdates</h1>

<table>
  <tr>
  <% for column in Showdate.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for showdate in @showdates %>
  <tr>
  <% for column in Showdate.content_columns %>
    <td><%=h showdate.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => showdate %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => showdate %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => showdate }, :confirm => MESSAGES[:areyousure_0], :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @showdate_pages.current.previous } if @showdate_pages.current.previous %>
<%= link_to 'Next page', { :page => @showdate_pages.current.next } if @showdate_pages.current.next %> 

<br />

<%= link_to 'New showdate', :action => 'new' %>
