%h1 Add dates for #{@show.name}

%p.infoMsg
  The following options will be used for
  %strong all
  dates created at the same time.  If you want some performances to have different 
  options, you can either edit them after they're created, or create them 
  separately instead of all at once.

= form_tag show_showdates_path(@show) do
  
  %table
    %tr
      %td
        %label{:for => :description} Description (optional)
      %td
        = text_field_tag 'description', '', :size => 20
        = popup_help_for :showdate_description
    %tr
      %td 
        %label{:for => :advance_sales_cutoff} Advance sales stop
      %td
        = text_field_tag 'advance_sales_cutoff', Option.advance_sales_cutoff, :size => 4
        minutes before curtain
        = popup_help_for :advance_sales_cutoff
    %tr
      %td 
        %label{:for => :max_sales} Max advance sales
      %td
        = text_field_tag 'max_sales', '', :size => 5
        = popup_help_for(:max_advance_sales)
        = hidden_field_tag "show_id", @show.id

  %p.infoMsg Enter recurring dates (you can add more later, or delete exceptions later):

  %label Every
  = day_of_week_checkboxes('day')
  %br
  %label{:for => 'time'} At
  = select_time(Time.zone.parse("8:00pm"), :time_separator => ':', :prefix => 'time')
  %br
  %label{:for => 'start'} From
  = select_date_with_shortcuts 'show_run_dates', :from => @show.opening_date, :to => @show.closing_date
  %br
  %p.feedback
    
  = submit_tag 'Save & Back to List of Shows' 
  = submit_tag 'Save & Add More Dates for This Show' 
  = link_to 'Cancel', edit_show_path(@show), :class => 'btn btn-secondary'

