%fieldset
  %legend 
    Donation
    = @donation.id if !@donation.new_record?
    for #{@customer.full_name}
  %label{:for => 'amount'} Amount
  = text_field_tag 'amount', number_to_currency(@donation.amount, :unit => '')
  %br
  %label{:for => 'fund'} Fund
  = select_tag 'fund', options_from_collection_for_select(AccountCode.all, :id, :name_with_code, @donation.account_code.try(:id))
  %br
  %label{:for => 'date'} Date Posted
  = select_date Date.current, :order => [:month, :day, :year]
  %br
  %label{:for => 'comments'} Comments/Check no.
  = text_area_tag 'comments', @donation.comments
  %br




