%fieldset
  %legend Cash or Check Donation for #{@customer.full_name}
  %label{:for => 'amount'} Amount
  = text_field_tag 'amount', @donation.amount
  %br
  %label{:for => 'fund'} Fund
  = select_tag 'fund', options_from_collection_for_select(AccountCode.all, :id, :name_with_code, @donation.account_code.try(:id))
  %br
  %label{:for => 'date'} Date Posted
  = select_date Date.current, :order => [:month, :day, :year]
  %br
  %label{:for => 'payment'} Payment Method:
  %label.no_float{:for => 'payment_check'} Check
  - is_cash = @donation.order && @donation.purchasemethod == Purchasemethod.get_type_by_name('box_cash')
  = radio_button_tag 'payment', 'check', !is_cash
  %label.no_float{:for => 'payment_cash'} Cash
  = radio_button_tag 'payment', 'cash', is_cash
  %br
  %label{:for => 'comments'} Comments/Check no.
  = text_area_tag 'comments', @donation.comments, :size => '50x3'
  %br

  %label &nbsp;
  = hidden_field_tag 'customer_id', @customer.id
  = submit_tag 'Save'
