%table 
  %tbody 
    %tr 
      %td= check_box_tag 'use_cid', 1, @params[:use_cid]
      :javascript
        $('#use_cid').change(function() { 
          if (! $(this).is(':checked')) { 
            $('#show_vouchers').prop('checked',false);
          } else {
            $('#cid').val('');
          };
        });
      %td Only for this customer (type first or last name):
      %td
        = text_field_tag 'donor_name', @full_name, :size => 20, :class => '_autocomplete', 'data-resultfield' => 'cid'
        = hidden_field_tag 'cid', @params[:cid]
        :javascript
          $('#donor_name').focus(function() { $('#use_cid').prop('checked',true); })
    %tr 
      %td 
      %td{:colspan=>2} 
        = check_box_tag 'show_vouchers', 1, @params[:show_vouchers]
        Show ticket purchases as well as donations 
    %tr 
      %td= check_box_tag 'use_date', 1, @params[:use_date] 
      %td Date is in the range:
      %td
        = select_date_with_shortcuts 'dates', :from => @params[:from], :to => @params[:to], :enables => '#use_date'
        = popup_help_for 'select_dates'
    %tr 
      %td= check_box_tag 'use_amount', 1, @params[:use_amount]
      %td  Donation amount between:
      %td
        $
        = text_field_tag 'donation_min', @params[:donation_min], :size => 4
        \.00 and
        = text_field_tag 'donation_max', @params[:donation_max], :size => 4 
        \.00
    %tr
      %td.top= check_box_tag 'use_fund', 1, @params[:use_fund]
      %td.top  Only donations to these funds:
      %td.top= select_tag 'donation_funds', options_from_collection_for_select(AccountCode.all, :id, :name_with_code), :multiple => true
    %tr
      %td= check_box_tag 'use_ltr_sent', 1, @params[:use_ltr_sent]
      %td  
        Only if letter not yet sent
        = popup_help_for :donation_search_by_letter_sent
    %tr
      %td= check_box_tag 'use_repeat_donor', 1, @params[:use_repeat_donor]
      %td Only donors who have made at least
      %td
        = select_tag 'num_donations', options_for_select(2..12)
        donations since
        = select_date((@params[:donated_since] || Date.today), :prefix => 'since')
