%h1
  Listing 
  = h @things.length
  transactions totaling $
  = h sprintf("%.02f",@things.inject(0) { |t,d| t + d.amount })

- form_tag(:action => 'list', :method => :get) do
  = render :partial => 'donation_search', :locals => {:params => @params}
  = submit_tag "Search"
  = submit_tag(@export_label) unless @things.empty?
  = gen_button "Add/Edit Account Codes", account_codes_path

- unless @things.empty?
  %table#donations.hilite
    %thead
      %tr
        %th Customer
        %th Order#
        %th Date
        %th Item Amount
        %th Item Description or Acct Code
        %th Thanks Ltr Sent?
        %th Comments
    %tbody 
      - @things.each do |t|
        - donation = t.kind_of?(Donation)
        %tr{:class => if donation then 'odd' else 'even' end}
          %td= link_to t.customer.full_name, :action => 'list', :cid => t.customer, :use_cid => 1, :show_vouchers => true, :commit => 'Go'
          %td= link_to_order_containing t
          %td= t.sold_on.strftime '%D'
          %td.right= number_to_currency(t.amount)
          %td= render(:partial => 'donation_letter_sent', :locals => {:donation => t}) if donation
          %td= t.comments
  %br
