= set_active_tab '#t_donations_index'

= form_tag customer_donations_path(@customer), :id => '_stripe_payment_form' do
  
  .form-row
    .col-2.text-right
      %label.col-form-label{:for => 'amount'} Amount
    .col-md-1.col-4= number_field_tag 'amount', number_to_currency(@donation.amount, :unit => ''), :class => 'form-control'
    .col-md-2
    .col-md-2.text-right
      %label{:for => 'comments'} Comments/Check no.
    .col-md-4= text_area_tag 'comments', @donation.comments, :class => 'form-control'

  .form-row
    .col-md-2.text-right
      %label.col-form-label{:for => 'fund'} Fund
    .col-md-3= select_tag 'fund', options_from_collection_for_select(AccountCode.all, :id, :name_with_code, @donation.account_code.try(:id)), :class => 'form-control'
    .col-md-2.text-right
      %label.col-form-label{:for => 'date'} Date Posted
    .col-md-4.form-inline= select_date Date.current, {:order => [:month, :day, :year]}, {:class => 'form-control'}

  .form-row
    .col-md-4.offset-2
      .form-check.form-check-inline
        = radio_button_tag 'payment', 'check', true, :class => 'form-check-input', :onclick => '$("#credit_card_info").addClass("d-none"); $("#cash_check_info").removeClass("d-none");'
        %label.form-check-label{:for => 'payment_check'} Check
      .form-check.form-check-inline
        = radio_button_tag 'payment', 'cash', false, :class => 'form-check-input', :onclick => '$("#credit_card_info").addClass("d-none"); $("#cash_check_info").removeClass("d-none");'
        %label.form-check-label{:for => 'payment_cash'} Cash
      .form-check.form-check-inline
        = radio_button_tag 'payment', 'credit_card', false, :id => 'enable_cc', :class => 'form-check-input', :onclick => '$("#credit_card_info").removeClass("d-none"); $("#cash_check_info").addClass("d-none");'
        %label.col-form-label{:for => 'enable_cc'} Credit Card
    = hidden_field_tag 'customer_id', @customer.id

  #credit_card_info.d-none
    = render :partial => 'store/credit_card', :locals => {:name => @customer.full_name}
    = hidden_field_tag '_stripe_commit'
    .form-row
      .col-md-2.offset-1= submit_tag 'Charge Credit Card', :id => '_stripe_submit', :onclick => 'A1.stripeSubmit()', :class => 'btn btn-success'

  #cash_check_info
    .form-row
      .col-md-2.offset-1= submit_tag 'Record', :class => 'btn btn-success'
