%ul.nav.store_nav
  %li#t_walkup_sales_show= link_to 'Walkup Sales', walkup_sale_path(@showdate)
  %li#t_checkins_door_list= link_to 'Printable Door List', door_list_checkin_path(@showdate)
  %li#t_checkins_show= link_to 'Reservation Checkin', checkin_path(@showdate)
  %li#t_checkins_subscriber= link_to 'Walkup Subscriber', walkup_subscriber_checkin_path(@showdate)
  %li#t_walkup_sales_report= link_to 'Walkup Report', report_walkup_sale_path(@showdate)
  %li#t_customers_show= link_to 'Back to Main', (@customer ? customer_path(@customer) : customers_path)
