#staffButtons.adminField
  = link_to 'Add Comps&hellip;'.html_safe, new_customer_voucher_path(@customer), :class => 'adminButton'
  = link_to 'Orders&hellip;'.html_safe, orders_path(:customer_id => @customer), :class => 'adminButton'
  = link_to 'Transfer&hellip;'.html_safe, customer_vouchers_path(@customer), :class => 'adminButton'
  = link_to 'Donations&hellip;'.html_safe, {:controller => 'donations', :action => 'index', :use_cid => 1, :commit => 'Go', :cid => @customer}, :class => 'adminButton'
  = link_to 'Transactions&hellip;'.html_safe, txns_path(:txn_filter => @customer.id), :class => 'adminButton'
  = link_to 'Record Donation&hellip;'.html_safe, new_customer_donation_path(@customer), :class => 'adminButton'
.clear
