%table#walkup_tickets.hilite
  %tr
    %td
      %strong Tickets to be issued
    %td
    %td= text_field_tag 'totaltix', 0, :id => 'totaltix',  |
      :size => 4, :disabled => true, :class => 'disabledField'  |
  %tr
    %td{:colspan=>2}
      %strong TOTAL TO COLLECT
    %td= text_field_tag 'total', '0.00', :id => 'total', :size => 6, |
      :disabled => true, :class => 'disabledField strong _stripe_total' |
  %tr
    %td.label{:colspan => 2} Additional donation:
    %td= text_field_tag 'donation', @donation, :maxlength => 7, :size => 5, :class => 'item'
  - @valid_vouchers.each do |v|
    - boxoffice_mgr_only = (v.vouchertype.comp? && !@admin.is_boxoffice_manager)
    %tr
      %td.label
        %label{:for => "qty_#{v.id}"}= v.name
        - unless v.sales_unlimited?
          %span.emphasis= "#{v.name} (#{v.seats_of_type_remaining} left)"
        - if boxoffice_mgr_only
          %span.emphasis (Box office manager only)
      %td= text_field_tag "price[#{v.id}]", number_to_currency(v.price, :unit => ''), :disabled => true, :size => 6, :class => 'disabledField currency'
      %td
        - if boxoffice_mgr_only
          = popup_help_for :boxoffice_manager_only
        - else
          = select_tag("qty[#{v.id}]", options_for_select((0..12), @qty[v.id.to_s].to_i), {:class => 'item itemCount', 'data-price' => v.price})
