%table.a1-table.table.table-hover#walkup_tickets
  %tr
    %td.strong{:colspan => 2} Tickets to be issued
    %td= text_field_tag 'totaltix', 0, :id => 'totaltix',  |
      :size => 4, :disabled => true, :class => 'bg-info text-white text-center'  |
  %tr
    %td{:colspan=>2}
      %strong TOTAL TO COLLECT
    %td= text_field_tag 'total', '', :id => 'total', :placeholder => '0.00', :size => 6, |
      :disabled => true, :class => 'disabledField strong _stripe_total' |
  %tr
    %td.label{:colspan => 2} Additional donation:
    %td= text_field_tag 'donation', @donation, :size => 6, :class => 'item'
  - @valid_vouchers.each do |v|
    - boxoffice_mgr_only = (v.vouchertype.comp? && !@admin.is_boxoffice_manager)
    %tr
      %td.label
        %label{:for => "qty_#{v.id}"}= v.name
      - if boxoffice_mgr_only
        %td.text-danger{:colspan => 2}
          Box Ofc Mgr Only
          = popup_help_for :boxoffice_manager_only
      - else
        %td= text_field_tag "price[#{v.id}]", number_to_currency(v.price, :unit => ''), :disabled => true, :size => 6, :class => 'disabledField text-right'
        %td= number_field_tag "qty[#{v.id}]", (@qty[v.id.to_s].to_i if @qty[v.id.to_s]), :in => 0..12, :class => 'item itemCount ticket', 'data-price' => v.price
    - if (! v.sales_unlimited?)
      %tr.alert.alert-warning
        %td= v.name
        %td{:colspan => 2} #{v.seats_of_type_remaining} left
  - @nonticket_items.each do |v|
    %tr
      %td.label
        %label{:for => "nonticket_#{v.id}"}= v.name
      %td= text_field_tag "price[#{v.id}]", number_to_currency(v.price, :unit => ''), :disabled => true, :size => 6, :class => 'disabledField text-right'
      %td= number_field_tag "nonticket[#{v.id}]", @nonticket[v.id.to_s], :in => 0..12, :class => 'item itemCount', 'data-price' => v.price


.invisible#seatInfo
  = button_tag 'Choose Seats...', :type => 'button', :class => 'btn btn-outline-primary d-inline select-seats', :disabled => true
  = display_seats_field(:seats => @seats, :extra_classes => 'text-center')
