%h1  Walkup Sales Summary 
%table.a1-table.table.table-hover
  - @vouchers.each_key do |howpurchased|
    %tr
      %td.text-right= @vouchers[howpurchased].length
      %td= Purchasemethod.get(howpurchased).description
      %td.text-right= number_to_currency @subtotal[howpurchased]
  %tr.strong
    %td
    %td.text-right.strong Total
    %td= number_to_currency @total

- unless @vouchers.empty?
  %h1 Walkup Sales Detail
  = form_tag walkup_sale_path(@showdate), :method => :put do
    - unless @other_showdates.empty?
      %p
        %label{:for => 'to_showdate'} Transfer checked vouchers to a different performance:
        = select_tag 'to_showdate', options_from_collection_for_select(@other_showdates, :id, :menu_selection_name)
        = submit_tag 'Transfer', :class => 'btn btn-danger'
    - @vouchers.each_pair do |howpurchased, vouchers|
      %div{:id => Purchasemethod.get(howpurchased).shortdesc}
        %h3= Purchasemethod.get(howpurchased).description
        %table.a1-table.table.table-hover
          %thead= render :partial => 'vouchers/detail_header'
          %tbody
            = render :partial => 'vouchers/voucher', :collection => vouchers
