%tr.odd
  %td= link_to donation.customer.full_name, :action => 'list', :cid => donation.customer, :use_cid => 1, :show_vouchers => true, :commit => 'Go'
  %td= donation.date.strftime("%D")
  %td{:align => 'right'}= link_to number_to_currency(donation.amount), :action => 'edit', :id => donation
  %td=  [donation.account_code.name,donation.account_code.code].join(" / ")
  %td
    %div[donation]
      - if donation.letter_sent
        = "#{donation.letter_sent.strftime('%D')} by #{Customer.find(donation.processed_by_id).first_name rescue '(???)'}"
      - else
        = link_to_remote("Mark Sent", :update => "donation_#{donation.id}", :url => {:action => :mark_ltr_sent, :id => donation.id})
  %td= donation.comment
  %td= link_to 'Delete', {:action => 'destroy', :id => donation}, :confirm => MESSAGES[:areyousure_0], :post => true
