= error_messages_for 'donation', :header_message => default_validation_error_message
/[form:donation]

%p
  %label{:for=>:donation_date} Date
  = date_select 'donation', 'date'
  
%p
  %label{:for=>:donation_amount} Amount or approx. dollar value
  $ 
  = text_field 'donation', 'amount', 'size' => 8

%p
  %label{:for=>:donation_donation_fund} Donation fund
  = collection_select 'donation', 'donation_fund_id', DonationFund.find(:all), 'id', 'name'
  = gen_button 'Add new...', {:controller => 'donation_fund', :action => 'new'}

%p
  %label{:for=>:donation_purchasemethod} How effected
  = collection_select 'donation', 'purchasemethod_id', Purchasemethod.find(:all), 'id', 'description'

%p
  %label{:for=>:donation_comment} Comment
  = text_area 'donation', 'comment', 'cols' => 80, 'rows' => 2
      
= hidden_field 'donation', 'customer_id'

/[eoform:donation]

