%h1
  Listing 
  =h @things.length
  transactions totaling $
  =h sprintf("%.02f",@things.inject(0) { |t,d| t + d.price })

= start_form_tag(:action => 'list', :method => :get)
= render :partial => 'donation_search', :locals => {:params => @params}
= submit_tag "Search"
= submit_tag(@export_label) unless @things.empty?
= end_form_tag 

- unless @things.empty?
%table
  %thead
    %tr
      %th Donor
      %th Date
      %th Amount
      %th Description
      %th Type
      %th Ltr Sent? / Processed By
      %th Comment
  %tbody 
    - @things.each do |t|
    -   c = t.customer 
    -   if t.kind_of?(Donation) 
    %tr.oddRow
      %td= link_to c.full_name, :controller => 'customers', :action => 'welcome', :id => c
      %td= t.date.strftime("%D")
      %td{:align => 'right'}= sprintf("%5.0f", t.amount)
      %td= t.donation_fund.name
      %td= t.donation_type.name
      %td
        %div[t]
          - c = Customer.find(t.processed_by).login rescue "(ERROR)"
          - if t.letter_sent
          =   "#{t.letter_sent.strftime('%D')} by #{c}"
          - else
          =   link_to_remote("Mark Sent", :update => "donation_#{t.id}", :url => {:action => :mark_ltr_sent, :id => t.id})
          = c
          - end
      %td= t.comment
      %td= link_to 'Edit', :action => 'edit', :id => t
      %td= link_to 'Delete', {:action => 'destroy', :id => t}, :confirm => MESSAGES[:areyousure_0], :post => true
    -   else
    %tr.evenRow
      %td= link_to c.full_name, :controller => 'customers', :action => 'welcome', :id => c    
      %td= t.showdate.thedate.strftime("%D") 
      %td{:align=>"right"}= sprintf("%5.0f", t.price)  
      %td= t.showdate.show.name 
      %td= t.purchasemethod.description 
      %td 
      %td= t.comments 
      %td 
      %td 
    - end
  - end
%br

- end
