%h1
  Listing 
  = h @things.length
  transactions totaling $
  = h sprintf("%.02f",@things.inject(0) { |t,d| t + d.price })

- form_tag(:action => 'list', :method => :get) do
  = render :partial => 'donation_search', :locals => {:params => @params}
  = submit_tag "Search"
  = submit_tag(@export_label) unless @things.empty?
  = gen_button "Add/Edit Account Codes", account_codes_path

- unless @things.empty?
  %table.hilite
    %thead
      %tr
        %th Customer
        %th Date
        %th Amount
        %th Description/Acc Code
        %th Ltr Sent? / Processed By
        %th Comment
    %tbody 
      - @things.each do |t|
        - c = t.customer 
        - if t.kind_of?(Donation) 
          = render :partial => 'donation', :object => t
        - else
          = render :partial => 'voucher', :object => t
  %br
