<h1>Currently Defined Product Bundles</h1>

<% cols = VoucherBundle.content_columns.reject { |r| r.name == 'included_vouchers' } %>
<table>
  <tr>
  <% for column in cols %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for voucher_bundle in @voucher_bundles %>
  <tr class="<%= cycle(:oddRow,:evenRow) -%>">
  <% for column in cols %>
    <% next if column.name == 'included_vouchers' %>
    <td><%=h voucher_bundle.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => voucher_bundle %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => voucher_bundle %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => voucher_bundle }, :confirm => MESSAGES[:areyousure_0], :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @voucher_bundle_pages.current.previous } if @voucher_bundle_pages.current.previous %>
<%= link_to 'Next page', { :page => @voucher_bundle_pages.current.next } if @voucher_bundle_pages.current.next %> 

<br />

  <%= gen_button  'Define New Package', {:action => 'new'} %>
