.pageDiv
  %h1 Ticket Sales and Box Office Reports
  - form_tag({:controller => 'box_office',:action => 'walkup_report'}, {:method => :get}) do
    %p 
      Walkup Sales Summary by Ticket Type for
      = select_tag ('showdate_id', options_from_collection_for_select(@all_showdates, :id,:printable_name,@next_showdate.id)) 
      = submit_tag 'Go' 
      
  - form_tag({:action => 'advance_sales'}, {:method => :get}) do
    %p 
      All Sales Summary by Ticket Type for
      = select_tag('showdate_id', options_for_select(['Current Show', 'All Shows', 'Current and Future Shows']) +  option_separator("-----") +  options_from_collection_for_select(@all_shows, :id, :name)) 
      = submit_tag 'Go' 

  - form_tag({:action => 'unfulfilled_orders'},:method => :get) do
    %p 
      Show orders needing fulfillment as of today
      (usually means mailing something to customer).
      = submit_tag 'Generate Listing'
