- unless @all_showdates.empty?

  .pageDiv
    %h1 Sales/Box Office Reports

    = start_form_tag(:action => 'walkup_sales', :method => :get)
    %p 
      Walkup Sales Summary by Ticket Type for
      = select_tag ('showdate_id', options_from_collection_for_select(@all_showdates, :id,:printable_name,@next_showdate.id)) 
      = submit_tag 'Go' 
    = end_form_tag

    = start_form_tag({:action => 'advance_sales'}, {:method => :get}) 
    %p 
      All Sales Summary by Ticket Type for
      = select_tag('showdate_id', options_for_select(['Current Show', 'All Shows', 'Current and Future Shows']) +  option_separator("-----") +  options_from_collection_for_select(@all_shows, :id, :name)) 
      = submit_tag 'Go' 
    = end_form_tag 

    = start_form_tag({:action => 'sales_detail'},{:method => :get}) 
    %p  
      Daily transaction detail from
      = select_date Date.today, :prefix => 'from', :discard_hour => true 
      to
      = select_date Date.today, :prefix => 'to', :discard_hour => true 
      = submit_tag 'Go' 
    = end_form_tag 

    = start_form_tag({:action => 'boxoffice_report'}, {:method => :get}) 
    %p 
      Detailed boxoffice report for 
      = select_tag 'showdate_id',  options_from_collection_for_select(@all_showdates,:id,:printable_name,@next_showdate.id) 
      = submit_tag 'Go' 
    = end_form_tag 
