- s = showdate.class
- divid = "#{s}_#{showdate.id}"
%table{:width=>"100%"}
  %tr
    %td{:width=>"70%"}
      = link_to_remote(hdr ||= showdate.printable_date,:update=>"#{s}_#{showdate.id}",:url=>{:action=>"showdate_sales",:id=>showdate,:klass=>s}, :complete=>visual_effect(:toggle_slide,divid,:duration=>0.5))
    %td.r{:width=>"10%"}
      %strong= showdate.vouchers.size
    %td.c{:width=>"10%"}= number_to_percentage(showdate.percent_sold,:precision=>0)
    %td.currency{:width=>"10%"}
      %strong= number_to_currency(showdate.revenue)

%div{:id=>divid,:style=>"display: none;"}


