- form_tag :action => 'run_special_report' do
  %fieldset
    %legend= h(name.humanize)
    = render :partial => "report/special/#{name}"
    = render :partial => 'output_options'
    = hidden_field_tag '_report', name
    = submit_tag 'Download to Excel'
    = submit_to_remote 'count', 'Calculate number of matching customers', |
      :url => {:action => 'run_special_report'},  |
      :before => "Element.show('#{name}_spinner')", |
      :complete => "Element.hide('#{name}_spinner')", |
      :update => "#{name}_preview" |
    = spinner("#{name}_spinner")
    %span{:id => "#{name}_preview"}

