- if subscriptions.empty?
  %p.strong No subscriptions
- else
  %table#subsList
    %thead
      %tr
        %th Type 
        %th Qty 
        %th Price 
        %th Subttl
    %tbody 
      - total = tprice = 0 
      - subscriptions.each do |s| 
        %tr{:class=>cycle(:oddRow,:evenRow)}
          %td.l= s[0]
          %td.r= s[2]
          %td.currency= number_to_currency(s[1])
          %td.currency= number_to_currency (s[1]*s[2])
          - total += s[2] 
          - tprice += s[1]*s[2] 
      %tr.totalsRow
        %td Total  
        %td.r= total   
        %td
        %td.currency= number_to_currency tprice  

  = button_to('Download to Excel', {:action=>'subscriber_details', :year=>year, :download=>true},{:method=>:get})

