- if subscriptions.empty?
  %p.strong No subscriptions
- else
  %table#subsList
    %tr
      %thead
        %th Type 
        %th Price 
        %th Qty 
      %tbody 
        - total = tprice = 0 
        - subscriptions.each do |s| 
          %tr{:class=>cycle(:oddRow,:evenRow)}
            = s.map { |ss| "<td align='right'>#{ss}" }.join('')  
            - total += s[2] 
            - tprice += s[1]*s[2] 
        %tr
          %th Total  
          %th= tprice  
          %th= total   

  = button_to('Download to Excel', {:action=>'subscriber_details', :year=>year, :download=>true},{:method=>:get})

