.pageDiv
  %h1 
    Reconciliation Report for 
    = @from.to_formatted_s(:date_only)
    to
    = @to.to_formatted_s(:date_only)
    - total = 0.0
    - @show_txns.group_by(&:purchasemethod_id).each_pair do |pm_id, pm_txns|
      %h3= h(Purchasemethod.find(pm_id).description)
      %table
        %tr
          %th Code
          %th Description
          %th Units
          %th Gross rcpts
        - pm_txns.sort_by(&Proc.new { |tx| [tx.attributes["name"],tx.attributes["account_code"]] }).each do |t|
          %tr
            %td= link_to_function t.attributes["account_code"], "alert('" << escape_javascript(vouchertypes_for_account_code(t.attributes["account_code"])) << "')"
            %td= h(t.attributes["name"])
            %td.c= h(t.attributes["numunits"])
            %td.currency= number_to_currency(t.attributes["totalprice"])
