- if @results
  .pageDiv
    %h1 Query Results
    %p= link_to_function("Show/Hide SQL", "Effect.toggle('sql','blind')")
    %pre#sql{:style=>'display: none;'}= @sql
    %p= "#{h(@results.length)} matching records"
    %table
      - @results.each do |r|
        %tr
          %td= link_to(h(r.full_name),{:controller=>'customers',:action=>'welcome',:id=>r},{:target=>'_blank'})
          %td= r.street
          %td= r.city
          %td= r.state
          %td= r.zip
          %td= r.login

.pageDiv
  %h1 Advanced Customer Query
  - form_tag :action => 'advanced_customer_list' do
    %table
      %tr
        %td  Find
        %td= select_tag('subscribers', options_for_select(["All patrons", "Subscribers", "Non-subscribers"], @params[:subscribers]))
        %td{:colspan=>2} who:
      / date added, updated, or logged in
      %tr
        %td= check_box_tag('restrict_by_date',!@params[:restrict_by_date].blank?)
        %td{:colspan=>2}= select_tag('date_how', options_for_select(["were added since", "were added before", "were updated since", "were not updated since", "have logged in since", "have not logged in since"],@params[:date_how]))
        %td= select_date Date.today, :prefix => 'date'
      / redeemed a ticket since
      %tr
        %td= check_box_tag('restrict_by_purchase',!@params[:restrict_by_purchase].blank?)
        %td= select_tag('restrict_by_purchase_how', select_have_or_have_not)
        %td redeemed a ticket since
        %td= select_date Date.today, :prefix => "redeemed_since"
      / have a valid email addr?
      %tr
        %td= check_box_tag('restrict_by_email',!@params[:restrict_by_email].blank?)
        %td= select_tag('restrict_by_email_how', select_have_or_have_not)
        %td{:colspan=>2}  registered a valid email address
      / have a valid US Mail addr?
      %tr
        %td= check_box_tag('restrict_by_snailmail')
        %td= select_tag('restrict_by_snailmail_how', select_have_or_have_not)
        %td{:colspan=>2}  registered a valid US Mail address
      / show(s) seen
      %tr
        %td= check_box_tag('restrict_by_show')
        %td= select_tag('restrict_by_show_how', options_for_select(["Have seen ALL","Have seen NONE","Have seen ANY"]))
        %td  
          of these shows:
          %br/
          (Shift-click to select multiple)
        %td= select_tag('shows[]', options_from_collection_for_select(@show_names,:id,:name), :multiple=>true)
      / have UNRESERVED voucher(s) of these types....
      %tr
        %td= check_box_tag('restrict_by_voucher')
        / %td= select_tag('restrict_by_voucher_how', select_have_or_have_not("Have","Do not have"))
        %td{:colspan=>2} Have unreserved voucher(s) of this type: (Shift-click to select multiple)
        %td= select_tag('voucher_types[]', options_from_collection_for_select(@vouchertypes, :id, :name), :multiple => true)
      %tr
        %td= check_box_tag('restrict_by_bundle_voucher')
        / %td= select_tag('restrict_by_bundle_voucher_how', select_have_or_have_not)
        %td{:colspan=>2} Purchased ANY of these bundle voucher(s): (Shift-click to select multiple)
        %td= select_tag('bundle_voucher_types[]', options_from_collection_for_select(@bundle_vouchertypes,:id,:name), :multiple=>true)

    = submit_tag "Search"
