%h1
  = @page_title
#invoice
  %table
    %tr
      %th{:colspan=>2} Acct Code &amp; Desc
      %th Show
      %th Qty
      %th Each
      %th Total
    %tr
      %td
      %td.strong{:colspan=>2} Customer service charges per hour
      %td.r= 0
      %td.currency= number_to_currency @bill[:customer_service_per_hour]
      %td.currency= number_to_currency 0
    %tr
      %td
      %td.strong{:colspan=>2} Base Monthly Usage Fee 
      %td.r= sprintf("%.1f",@nmonths)
      %td.currency= number_to_currency @bill[:monthly_fee]
      %td.currency= number_to_currency @monthly_fee
    %tr
      %td
      %td.strong{:colspan=>5} Charges on Revenue Ticket Sales
    - @vouchers.sort_by(&Proc.new { |x| x.attributes.values_at('show_name','account_code').join(',') }).each do |vgrp|
      %tr
        %td= account_code_with_links vgrp.attributes['account_code']
        %td= vgrp.attributes['vouchertype_name']
        %td= vgrp.attributes['show_name']
        %td.r= vgrp.attributes['count']
        %td.currency= number_to_currency @bill[:per_ticket_fee]
        %td.currency= number_to_currency @subtotal[vgrp.attributes.values_at('show_name','account_code').join(',')]
    %tr.totalsRow
      %td
      %td= "Total payment due #{Time.now.to_formatted_s(:date_only)}"
      %td{:colspan=>3}
      %td.currency= number_to_currency(@total)
