%h1= "#{@vouchers.length} unfulfilled orders (#{@total} tickets) as of #{Time.now.to_s(:short)}"

%p{:align=>:top}
  = button_to 'Export Addresses to Excel', :action => 'unfulfilled_orders_addresses', :method => :get
  = button_to_function 'Check All', "checkBoxes('uf',true)"
  = button_to_function 'Clear All', "checkBoxes('uf',false)"

- form_tag({:action=>'mark_fulfilled'},:method => :post, :id=>'uf') do
  = submit_tag 'Mark Checked Orders as Fulfilled'

  %table.hilite.ordersTable
    %tr{:class=>cycle(:evenRow,:oddRow)}
      %th First name
      %th Last name
      %th Street
      %th City
      %th State
      %th Zip
      %th Product
      %th Completed


    - @vouchers.each do |v|
      - gift = v.gift_purchaser_id.to_i
      - cust =  (gift.zero? ? v.customer : Customer.find(gift))
      %tr{:class => (gift.zero? ? nil : 'highlighted')}
        - [:first_name,:last_name,:street,:city,:state,:zip].each do |c|
          %td= h cust.send(c)
        %td= h v.vouchertype.name 
        %td= check_box 'voucher', v.id, :class=>'check'
      - unless gift.zero?
        %tr.highlighted
          %td.strong{:colspan=>9}
            (Gift for 
            = h(v.customer.full_name)
            )
  = submit_tag 'Mark Checked Orders as Fulfilled'

