.clear
#show_stats
  %h1.floatleft= h(@showdate.printable_name)
  .floatleft.h1= link_to_function 'Change', |
    visual_effect(:toggle_slide, 'select_show', :duration => 0.5), |
    {:class => 'genButton'} |
  .clear

  #select_show{:style => "display: none;"}
    - form_tag :action => :change_showdate, :method => :get do
      %label{:for=>:showdate_thedate} Show and Date:
      = select_tag 'id', options_from_collection_for_select(@showdates,:id, :printable_name, @showdate.id), :onChange => 'this.form.submit();'
      %label

  %table#showdate_info
    %tr
      %td
        Capacity:
        %span#show_capacity= cap = @showdate.house_capacity
      %td
        Sold:
        - tsales = @showdate.compute_total_sales
        %span#sold{:class => (tsales>cap ? 'strong' : nil)}= @showdate.compute_total_sales
      %td
        Checked in:
        %span#checked_in= @showdate.checked_in
      %td
        Available:
        - if (avail = @showdate.total_seats_left).zero?
          %span#available.strong 0
        - else
          %span#available.highlighted= avail
.clear
