#show_stats
  %table#showdate_info
    %tr
      %td Cap:
      %td
        %span#cap= showdate.house_capacity
    %tr
      %td Advance sales:
      %td
        %span#advance_sales{:class => ('strong' if showdate.really_sold_out?)}= showdate.compute_advance_sales
      %td
        ( Checked in:
        %span#checked_in= showdate.checked_in
      %td
        Waiting for:
        %span#waiting_for= showdate.waiting_for
        )
    %tr 
      %td Walkup sales:
      %td
        %span#walkup_sales= showdate.compute_walkup_sales
    %tr
      %td Available:
      %td
        - if showdate.really_sold_out?
          %span#available.strong 0
        - else
          %span#available.highlighted= showdate.house_capacity - showdate.compute_total_sales

.clear
