#show_stats
  %table#showdate_info
    %tr
      %td.header Cap:
      %td.value
        %span#cap= showdate.house_capacity
      %td
      %td
    %tr
      %td.header Advance sales:
      %td.value
        %span#advance_sales{:class => ('strong' if showdate.really_sold_out?)}= showdate.compute_advance_sales
      %td
        ( Checked in:
        %span#checked_in= showdate.checked_in
      %td
        Waiting for:
        %span#waiting_for= showdate.waiting_for
        )
    %tr 
      %td.header Walkup sales:
      %td.value
        %span#walkup_sales= showdate.compute_walkup_sales
      %td
      %td
    %tr
      %td.header Available:
      %td.value
        - if showdate.really_sold_out?
          %span#available.strong 0
        - else
          %span#available.highlighted= showdate.house_capacity - showdate.compute_total_sales
      %td
      %td

.clear
