#show_stats
  %table#showdate_info
    %tr
      %td.header
        = popup_help_for 'checkin_house_capacity'
        = link_to 'True Cap:', edit_show_path(showdate.show)
      %td.value
        %span#cap= showdate.house_capacity
      %td
      %td
    %tr
      %td.header= link_to 'Advance sales:', :action => 'checkin', :id => showdate
      %td.value
        %span#advance_sales{:class => ('strong' if showdate.really_sold_out?)}= showdate.compute_advance_sales
      %td
        ( Checked in:
        %span#checked_in= showdate.checked_in
      %td
        Waiting for:
        %span#waiting_for= showdate.waiting_for
        )
    %tr 
      %td.header= link_to 'Walkup sales:', :action => 'walkup', :id => showdate
      %td.value
        %span#walkup_sales= showdate.compute_walkup_sales
      %td
      %td
    %tr
      %td.header Available:
      %td.value
        - if showdate.really_sold_out?
          %span#available.strong 0
        - else
          %span#available.highlighted= showdate.house_capacity - showdate.compute_total_sales
      %td
      %td

.clear
