:javascript
  recalc_total = function() { recalculate('total', '.itemQty') }
  recalc_totaltix = function() { recalculate('totaltix', '.tktQty', null, 0, true) }
  recalc_all = function() { recalc_total(); recalc_totaltix(); }
  jQuery(document).ready(recalc_all);

%table.hilite
  %tr
    %td
      %strong Tickets to be issued
    %td
    %td= text_field_tag 'totaltix', 0, :id => 'totaltix',  |
      :size => 4, :disabled => true, :class => 'disabledField'  |
  %tr
    %td{:colspan=>2}
      %strong TOTAL TO COLLECT
    %td= text_field_tag 'total', '0.00', :id => 'total', :size => 6, |
      :disabled => true, :class => 'disabledField strong _stripe_total' |
  %tr
    %td.label{:colspan => 2} Additional donation:
    %td= text_field_tag 'donation', @donation, :maxlength => 7, :size => 5, |
      :class => 'itemQty', :onchange => 'recalc_total(); recalc_totaltix()'  |
  - @valid_vouchers.each do |v|
    %tr
      %td.label
        %label.no_float{:for => "qty_#{v.id}"}= v.vouchertype_name
        - unless v.max_sales_for_type.zero?
          %span.emphasis= "(#{v.seats_remaining} left)" 
      %td= text_field_tag "price[#{v.id}]", |
        number_to_currency(v.price, :unit => ''), :disabled => true, |
        :size => 6, :id => "qty_#{v.id}_price", :class => 'disabledField currency' |
      %td= select_tag("qty[#{v.id}]", options_for_select((0..12), @qty[v.id.to_s].to_i), {:class => 'itemQty tktQty', :onchange => "recalc_total(); recalc_totaltix()"})  
