- form_tag :action => 'do_walkup_sale',:id => @showdate do
  #walkup_tickets
    .column
      %p 1. Select tickets & donation amount
      = render :partial => 'walkup_sales_tickets'
    .column
      %p 2. Collect & record payment
      %br
      = submit_tag 'Record Cash Payment or Zero Revenue Transaction'
      = submit_tag 'Record Check Payment'
      %br
      = gen_button 'Whoops, I Made a Mistake', :controller => 'box_office', :action => 'walkup_report', :id => @showdate
      %br
      %br
      #credit_card= render :partial => 'store/credit_card_swipe', :locals => {:credit_card => @credit_card}
      = submit_tag 'Record Credit Card Payment', :disable_with => 'Processing, Please Wait...', :id => 'submit_credit_card'
