= javascript_tag "function show_only(div) { $('credit_card').hide(); $('submit_credit_card').disabled = true; $('cash').hide(); $('submit_cash').disabled = true; $('check').hide(); $('submit_check').disabled = true; $(div).show(); $('submit_' + div).disabled = false; }"
- form_tag :action => 'do_walkup_sale',:id => @showdate do
  #walkup_tickets
    .column
      %p 1. Select tickets & donation amount
      = render :partial => 'walkup_sales_tickets'
    #payment.column
      %p 2. Collect & record payment
      = gen_button 'Whoops, I Made a Mistake', {:controller => 'box_office', :action => 'walkup_report', :id => @showdate}, {:id => 'whoops_button'}
      #payment_types
        %label.no_float{:for => 'payment_type'} Credit Card
        = radio_button_tag 'payment_type', 'credit_card', true, :onclick => "show_only('credit_card')"
        %label.no_float{:for => 'payment_type'} Cash or Zero-Revenue
        = radio_button_tag 'payment_type', 'cash', false, :onclick => "show_only('cash')"
        %label.no_float{:for => 'payment_type'} Check
        = radio_button_tag 'payment_type', 'check', false, :onclick => "show_only('check')"
      #payment_form
        #credit_card
          = render :partial => 'store/credit_card_swipe', :locals => {:credit_card => @credit_card}
          = submit_tag 'Submit Credit Card Charge', :disable_with => 'Processing, Please Wait...', :id => 'submit_credit_card'
        #cash{:style => 'display: none;'}
          %fieldset
            %legend Cash Payment
            %p Collect Cash, Then Click Below to Record
          = submit_tag 'Record Cash Payment or Zero Revenue Transaction', {:id => 'submit_cash'}
        #check{:style => 'display: none;'}
          %fieldset
            %legend Check Payment
            %label{:for => 'check_number'} Check Number (optional)
            = text_field_tag 'check_number', '', :size => 6
          = submit_tag 'Record Check Payment', {:id => 'submit_check'}
