- form_tag :action => 'run_special_report' do
  = hidden_field_tag '_report', 'NewCustomers'
  %fieldset
    %legend New Customers
    %p
      List customers who were <strong>added</strong> to the database
      = select_date_shortcuts 2007, 'newFrom', 'newTo'
      %br
      Custom dates:
      = select_date Date.today, :prefix => 'newFrom', :start_year => 2007
      and
      = select_date Date.today, :prefix => 'newTo', :start_year => 2007
    %p
      = check_box_tag :require_valid_email
      Require valid email address
    %p
      = check_box_tag :require_valid_address
      Require non-blank mailing address
    = submit_tag 'Download to Excel'
