%h1 Specify Shows

%p
  For each sales report identified, you must either select an existing show 
  to import to, or type the name of a new show.

%p
  If you can't tell from the file name what show the report is for, 
  uncheck the box next to it and that report won't be downloaded, 
  and you can import it manually later.


- shows = options_for_select({'' => 0}) + options_from_collection_for_select(Show.all.sort_by(&:name), :id, :name)
= form_for @download.becomes(BulkDownload) do |f|
  = render :partial => 'bulk_download', :locals => {:bulk_download => @download, :f => f}
  %table
    %thead
      %tr
        %th Import?
        %th Name on vendor site
        %th Import to existing show
        %th Or enter name of new show
    %tbody
      %tr
        %td.text-center
        %td
        %td
        %td
      - if @download.report_names
        - @download.report_names.each_pair do |production,key|
          %tr
            %td.text-center= check_box_tag "import[#{key}]", 1, true, {:class => 'chk'}
            %td= truncate_with_hovering(production, :length => 40)
            %td= select_tag "show[#{key}]", shows
            %td= text_field_tag "new[#{key}]", '', :size => 40, :maxlength => 40
            
  = f.submit 'Stage Imports'
= button_to 'Cancel', bulk_download_path(@download), {:method => :delete}
 
