.pageDiv
  %h1 Query Results
  %p= link_to_function("Show/Hide SQL", "Effect.toggle('sql','blind')")
  %pre#sql{:style=>'display: none;'}= @sql
  %p= "#{h(@results.length)} matching records"
  %p= gen_button "Download as Excel"
  %table
    - @results.each do |r|
      %tr
        %td= link_to(h(r.full_name),{:controller=>'customers',:action=>'welcome',:id=>r},{:target=>'_blank'})
        %td= r.street
        %td= r.city
        %td= r.state
        %td= r.zip
        %td= r.login

