= error_messages_for 'vouchertype'

/[form:vouchertype]

%table
  %tr
    %td
      %label{:for=>:vouchertype_name} Name
      %br/
      = text_field 'vouchertype', 'name'
    %td
      %label{:for=>:vouchertype_price}Price
      %br/
      = text_field 'vouchertype', 'price', :size => 6

%p
  %label{:for=>:vouchertype_account_code} Account Code
  = text_field 'vouchertype', 'account_code', :size => 8

%p
  %label{:for=>:vouchertype_offer_public} Availability
  = select "vouchertype", "offer_public", Vouchertype.offer_to

%p
  %label{:for=>:vouchertype_valid_date} Not valid before midnight on
  %br/
  = datetime_select 'vouchertype', 'valid_date', :discard_hour => true, :discard_minute => true

%p
  %label{:for=>:vouchertype_expiration_date} Not valid after midnight on
  %br/
  = datetime_select 'vouchertype', 'expiration_date', :discard_hour => true, :discard_minute => true

%p
  = check_box 'vouchertype', 'fulfillment_needed'
  %label{:for=>:vouchertype_fulfillment_needed} Mail fulfillment needed

%p
  = check_box 'vouchertype', 'walkup_sale_allowed'
  %label{:for=>:vouchertype_walkup_sale_allowed}Walkup sales allowed

/This part of form is for bundle vouchers 

%p
  = check_box 'vouchertype', 'is_bundle'
  %label{:for=>:vouchertype_is_bundle}This voucher type is a 'bundle'
  %br/

%p
  = check_box 'vouchertype', 'is_subscription'
  %label{:for=>:vouchertype_is_subscription}This voucher type qualifies buyer as a Subscriber
  %br/

%p
  %label{:for=>:vouchertype_comments}Comments/description
  %br/
  = text_area 'vouchertype', 'comments', 'cols' => 40, 'rows' => 3

- if @vouchertype.is_bundle?

  %p
    %label{:for=>:voucher_included_vouchers}Included vouchers
    %br/

  %table
    - Vouchertype.find(:all).each do |v|
    -   unless v.is_bundle?
    %tr
      %td.r= h(v.name)
      %td.l
        %input{:type=>:text, :id=>"vouchertype_included_vouchers[#{v.id}]", :name=>"vouchertype[included_vouchers][#{v.id}]", :size=>4, :value=>"#{@vouchertype.included_vouchers[v.id.to_s]}" }
    -   end 
    - end

- else

  %p
    %strong Note:
    You  must
    %em first 
    define a voucher to be a  bundle,
    %em then 
    go back and edit to add the appropriate tickets to the bundle.

/[eoform:vouchertype]


