- form_tag vouchertypes_path, :method=>:get do
  %h1 
    Listing
    = select_tag 'filter', options_for_select(["All","Subscriptions","Bundles","Single Tickets (Revenue)", "Single Tickets (Comp)", "Nonticket Products"],@filter), :onchange => 'this.form.submit();'
    voucher types valid during
    = select_tag 'season', options_for_seasons(@earliest,@latest,@season), :onchange => 'this.form.submit();'
    season

%table.hilite#vouchertypes
  %thead
    %tr 
      %th
      %th Sort
      %th Name
      %th Price
      %th Acc#
      %th Sub?
      %th Who can purchase?
      %th Link
      %th Description
      %th Walkup?
      %th
  %tbody
    - for vouchertype in @vouchertypes
      %tr{:class => [cycle(:odd,:even),(vouchertype.subscription? ? 'subscriberVouchertype' : '')] }
        %td
          - if @superadmin && vouchertype.vouchers.count == 0
            = link_to(image_tag('delete.png',:border => 0, :alt => '[Delete]'),{ :action => 'destroy', :id => vouchertype }, {:method =>:delete, :confirm => "This will destroy all existing '#{h vouchertype.name}' vouchers. This action cannot be undone. Continue?" })
        %td= vouchertype.display_order
        %td= link_to h(vouchertype.name), edit_vouchertype_path(vouchertype)
        %td.r= number_to_currency(vouchertype.price)   
        %td.r= account_code_with_popup_link(vouchertype.account_code)
        %td.c= vouchertype.subscription? ? "Yes" : ""
        %td= h(vouchertype.visibility)  
        %td.c= purchase_link_popup("[Link]", link_to_subscription_purchase(vouchertype.id), "'#{vouchertype.name}' subscriptions") if (vouchertype.subscription? && vouchertype.offer_public > 0)
        %td 
          -if vouchertype.bundle? 
            - vouchertype.get_included_vouchers.each_pair do |vt,qty| 
              = sprintf("%2d  %s<br/>",qty,Vouchertype.find(vt).name) if qty>0 
        %td= vouchertype.walkup_sale_allowed? ? "Yes" : ""
        %td= gen_button 'Clone', {:action => :clone, :id => vouchertype.id}, {:title => 'Prepopulate a new vouchertype with attributes based on this one'}

%br/
= gen_button  'New vouchertype', new_vouchertype_path
