%h1 Listing Voucher Types

%table
  %thead
    %tr 
      %th Name
      %th Price
      %th Acct #
      %th Sub?
      %th Who can purchase?
      %th Valid Dates
      %th Description
      %th Walkup?
  %tbody
    - for vouchertype in @vouchertypes.sort_by { |v| v.is_bundle? ? 0 : 1 }
    %span{:class => (vouchertype.is_subscription? ? 'subscriberVouchertype' : '')}
      %tr{:class => stripeclass}
        %td
          - if @superadmin
          = link_to(image_tag('delete.gif',:border => 0, :alt => '[Delete]'),{ :action => 'destroy', :id => vouchertype },{ :method =>:post, :confirm => sprintf(MESSAGES[:remove_vouchertype_1],vouchertype.name) } ) 
          - end
          = link_to h(vouchertype.name),:action=>'edit',:id =>vouchertype  
        %td.r= number_to_currency(vouchertype.price)   
        %td.r= h(vouchertype.account_code)
        %td.c= vouchertype.is_subscription? ? "Yes" : ""
        %td= h(vouchertype.visibility)  
        %td
          = vouchertype.valid_date.strftime("%m/%d/%y") 
          \-
          = vouchertype.expiration_date.strftime("%m/%d/%y")
        %td 
          -if vouchertype.is_bundle? 
          -  vouchertype.get_included_vouchers.each_pair do |vt,qty| 
          =    sprintf("%2d  %s<br/>",qty,Vouchertype.find(vt).name) if qty>0 
          -  end 
          -end 
        %td= vouchertype.walkup_sale_allowed? ? "Yes" : ""
    - end

= link_to 'Previous page', { :page => @vouchertype_pages.current.previous } if @vouchertype_pages.current.previous 
= link_to 'Next page', { :page => @vouchertype_pages.current.next } if @vouchertype_pages.current.next  

%br/

= gen_button  'New vouchertype', {:action => 'new'} 
