= error_messages_for 'show', :header_message => default_validation_error_message
%p
  %label{:for=>:show_name} Show Name
  = text_field 'show', 'name'

%p
  %label{:for=>:show_opening_date} Opens
  = date_select 'show', 'opening_date'

%p
  %label{:for=>:show_closing_date} Closes
  = date_select 'show', 'closing_date'

%p
  %label{:for=>:show_house_capacity} Actual house capacity
  = text_field 'show', 'house_capacity', :size => 5
  = popup_help_for :show_house_capacity

%p
  %label{:for=>:show_listing_date} List starting
  = date_select 'show', 'listing_date'
  = popup_help_for :show_listing_date

%p
  %label{:for => :show_description} Description (optional)
  = text_area 'show', 'description', :rows => 4
  = popup_help_for :show_description

%p.strong If show is sold out:

%p
  %label{:for => :show_sold_out_dropdown_message} Dropdown menu says
  = text_field 'show', 'sold_out_dropdown_message'
  = popup_help_for :show_sold_out_dropdown_message

%p
  %label{:for => :show_sold_out_customer_info} Information for patron
  = text_area 'show', 'sold_out_customer_info', :rows => 4
  = popup_help_for :show_sold_out_customer_info

%p
  %label{:for=>:show_landing_page_url} Landing page URL (optional)
  = text_field 'show', 'landing_page_url'
  = popup_help_for :show_landing_page_url

%p
  %label{:for=>:show_event_type} Event type
  = select 'show', 'event_type', Show::TYPES
  = popup_help_for :show_is_special

%p
  %label{:for=>:show_patron_notes} Special notes to patron (in confirmation email); leave blank if none
  = text_area :show, :patron_notes, :cols =>60,:rows => 3,:maxlength => 254


