/ form:showdate

%tr.t
  %td.t
    = showdate.printable_date
    %br
  %td.t= showdate.end_advance_sales.to_formatted_s(:showtime)
  %td.t= showdate.max_sales
  %td{:width=>"50%"}
    = link_to 'Edit', {:controller => 'showdates', :action => 'edit', :id => showdate.id}
    = "|"
    = link_to 'Report', {:controller => 'report', :action => 'boxoffice_report', :showdate_id => showdate.id }
    = "|"
    = purchase_link_popup "Link", link_to_showdate_tickets(showdate.id), showdate.printable_name
    = "|"
    = link_to_if showdate.compute_total_sales.zero?, 'Delete', { :controller => 'showdates', :action => 'destroy',  :id => showdate.id}, {:method => :post,:confirm => MESSAGES[:delete_performance_0] }
    = "|"
    = link_to_function "Show/Hide Details", visual_effect(:toggle_slide,"detail_#{showdate.id}")
%tr.t
  %td{:colspan=>4}
  %td
    %span{:id => "detail_#{showdate.id}",:style => @maybe_hide}
      %table
        - showdate.valid_vouchers.each do |v|
          %tr.t
            - nsales = showdate.sales_by_type(v.vouchertype_id)
            %td= (max = v.max_sales_for_type).zero? ? nsales : "#{nsales}/#{max}"
            %td
              = link_to v.vouchertype.name_with_price, {:controller => 'valid_vouchers', :action => 'edit', :id => v.id}
              = "(#{v.password})" unless v.password.blank?
            %td= v.start_sales.to_formatted_s(:showtime)
            %td= v.end_sales.to_formatted_s(:showtime)
            %td
              - if is_boxoffice_manager && nsales.zero?
                = gen_button 'Delete', { :controller => 'valid_vouchers', :action => 'destroy', :id => v.id }
                / %td= link_to_if nsales.zero?, 'Delete', { :controller => 'valid_vouchers', :action => 'destroy', :id => v.id }
        - if is_boxoffice_manager
          %tr
            %td{:colspan=>4}
              = gen_button  "Add New...", {:controller => 'valid_vouchers', :action => 'new', :showdate_id => showdate.id }
