.row.bg-light.no-gutters
  .col-1
    %button.a1-flippy.collapsed{:href => "#details_showdate_#{showdate.id}", 'data-toggle' => 'collapse'}
  .col-md-4.col-10
    = link_to "#{'Until ' if showdate.stream_anytime?}#{showdate.printable_date}", edit_show_showdate_path(showdate.show, showdate)
    = purchase_link_popup link_icon, link_to_showdate_tickets(showdate), showdate.printable_name
  .col-md-3
    Max sales:
    = showdate.max_advance_sales
    = percent_max_advance_sales_if_not_streaming(showdate)
  .col-md-3= showdate.seating_type_and_capacity
  .col-md-1= button_to_delete_performance(showdate)

- unless showdate.valid_vouchers.empty?
  .collapse[showdate, :details]
    .row.bg-light.text-dark.border.border-bottom.no-gutters
      .col-3 Ticket Type
      .col-3 Sales start
      .col-3 Sales end
      .col-2 Sold/Max
    - showdate.valid_vouchers.sorted.each do |v|
      .row[v]
        - nsales = showdate.sales_by_type(v.vouchertype_id)
        .col-3
          = link_to v.vouchertype.name_with_price, {:controller => 'valid_vouchers', :action => 'edit', :id => v.id}
          = "(#{h(v.promo_code)})" unless v.promo_code.blank?
        .col-3= time_in_words_relative_to(v.start_sales,showdate.thedate)
        .col-3= showdate_time_limit_for(v, :end_sales)
        .col-3
          #{nsales}/#{humanize_sales_limit(v.max_sales_for_type)}
          - if nsales.zero?
            = link_to '&#x2716;'.html_safe, valid_voucher_path(v), 'data-remote' => true, 'data-method' => :delete, 'data-confirm' => t('season_setup.confirm_delete_redemption', :type => v.vouchertype.name), 'data-type' => 'script', :class => 'text-danger'
