%tr.t
  %td.t
    = showdate.printable_date
    %br
  %td.t= time_in_words_relative_to(showdate.end_advance_sales,showdate.thedate)
  %td.t
    = showdate.max_allowed_sales
    - p = showdate.percent_max_allowed_sales
    %span{:class => ('callout' if p > 100)}= "(#{number_to_percentage p, :precision => 0})"
  %td{:width=>"50%"}
    = link_to 'Edit', edit_show_showdate_path(showdate.show,showdate)
    = "|"
    = purchase_link_popup "Link", link_to_showdate_tickets(showdate), showdate.printable_name
    = "|"
    = link_to "Ticket Details", '#', :onclick => "$('#showdate_#{showdate.id}').slideToggle(); return(false);"
    = "|"
    - if showdate.compute_total_sales.zero?
      = button_to 'Delete', show_showdate_path(showdate.show, showdate), {:method => :delete, :class => 'inline', :id => "delete_showdate_#{showdate.id}", :confirm => 'Delete this performance: are you sure?' }
%tr
  %td{:colspan=>4}
    %div[showdate]{:style => @maybe_hide}
      %table.hilite.showdates_summary
        - unless showdate.valid_vouchers.empty?
          %tr
            %th Sold
            %th Max
            %th Type
            %th Sales start
            %th Sales end
        - showdate.valid_vouchers.each do |v|
          %tr[v]
            - nsales = showdate.sales_by_type(v.vouchertype_id)
            %td= nsales
            %td= humanize_sales_limit(v.max_sales_for_type)
            %td
              = link_to v.vouchertype.name_with_price, {:controller => 'valid_vouchers', :action => 'edit', :id => v.id}
              = "(#{h(v.promo_code)})" unless v.promo_code.blank?
              %td= time_in_words_relative_to(v.start_sales,showdate.thedate)
              %td= time_in_words_relative_to(v.end_sales,showdate.thedate)
              %td
                - if nsales.zero?
                  = link_to 'Delete', valid_voucher_path(v), 'data-remote' => true, 'data-method' => :delete, 'data-type' => 'script'
        %tr
          %td{:colspan=>4}
            = link_to  "Add New...", new_valid_voucher_path(:showdate_id => showdate.id), :class => 'btn btn-primary'
