.container
  %h1
    Details for 
    %span.font-italic= @show.name

  = render :partial => 'form'

  %h2 Performances

  .row
    = link_to 'Add Performances', new_show_showdate_path(@show), :class => 'btn btn-primary mx-2'
    = link_to 'Add/Change Ticket Type(s) For Performance(s)', new_valid_voucher_path(:show_id => @show.id), :class => 'btn btn-primary'
  .row.bg-dark.text-light
    .col-md-6
    .col-md-2 Max Sell<br/>(% of House)
    .col-md-2 Seating
  .row
    .col-md-3
      = button_tag 'Expand All', :onclick => %Q{$('.flippy-div').show(); $('.flippy').html('&#x25BC'); event.preventDefault();}, :class => 'btn btn-sm btn-outline-primary mx-2'
      = button_tag 'Collapse All', :onclick => %Q{$('.flippy-div').hide(); $('.flippy').html('&#x25BA'); event.preventDefault();}, :class => 'btn btn-sm btn-outline-primary mx-2'

  = render :partial => 'showdate', :collection => @showdates, :locals => {:is_boxoffice_manager => @is_boxoffice_manager}

