.container
  %h1
    Details for 
    %span.font-italic= @show.name

  = render :partial => 'form'

  %h2 Performances

  .row
    .col-md-2
      = button_tag '&#x2335'.html_safe, :onclick => %Q{$('.collapse').collapse('show'); $('#_uncollapse').removeClass('d-none'); $(this).addClass('d-none');}, :id => '_collapse', :class => 'flippy btn btn-outline-none'
      = button_tag '&#x2335'.html_safe, :onclick => %Q{$('.collapse').collapse('hide'); $('#_collapse').removeClass('d-none'); $(this).addClass('d-none');}, :id => '_uncollapse', :class => 'd-none flippy btn btn-outline-none'
    .col-md-3= link_to 'Add Performances...', new_show_showdate_path(@show), :class => 'btn btn-primary btn-block my-1'
    .col-md-4= link_to 'Add/Change Ticket Redemptions...', new_valid_voucher_path(:show_id => @show.id), :class => 'btn btn-primary btn-block my-1'

  .accordion.md-accordion{:role => 'tablist', 'aria-multiselectable' => true}
    = render :partial => 'showdate', :collection => @showdates, :locals => {:is_boxoffice_manager => @is_boxoffice_manager}

