%h1
  Details for 
  %span.show_name= @show.name

- form_tag show_path(@show), :method => :put do
  = render :partial => 'form'
  = submit_tag 'Save Changes'
  = gen_button 'Back to List of Shows', shows_path(:season => @show.season)

%h2 Performances

%p
  = gen_button  'Add a Performance', new_show_showdate_path(@show)
  = gen_button 'Show all details', edit_show_path(@show, :display => 1)
  = gen_button 'Hide all details', edit_show_path(@show)
  = gen_button 'Add ticket type to all dates', :controller => 'valid_vouchers', :action => 'new', :showdate_id => @showdates.first, :add_to_all => true
  = gen_button 'Back to List of Shows', shows_path(:season => @show.season)

%table.hilite
  %thead
    %tr
      %th Date/time
      %th Adv sales stop
      %th Max Sale<br/> (% of House)
      %th Redeemable Ticket Types (click name to edit)
  %tbody
    = render :partial => 'showdate', :collection => @showdates, :locals => {:is_boxoffice_manager => @is_boxoffice_manager}

