.container
  %h1
    Details for 
    %span.font-italic= @show.name

  = render :partial => 'form'

  %h2 Performances

  .row
    .col-1= button_tag '&#x25BA'.html_safe, :onclick => %Q{$('.flippy-div,#collapse').show(); $('.flippy').html('&#x25BC')}, :class => 'btn btn-outline-primary mx-2'
    #collapse.d-none.col-1= button_tag '&#x25BC'.html_safe, :onclick => %Q{$('.flippy-div').hide(); $('.flippy').html('&#x25BA')}, :class => 'btn btn-outline-primary', :style => 'display:none;'
    .col-md-3= link_to 'Add Performances...', new_show_showdate_path(@show), :class => 'btn btn-primary btn-block'
    .col-md-4= link_to 'Add/Change Ticket Redemptions...', new_valid_voucher_path(:show_id => @show.id), :class => 'btn btn-primary btn-block'

  .accordion.md-accordion{:role => 'tablist', 'aria-multiselectable' => true}
    = render :partial => 'showdate', :collection => @showdates, :locals => {:is_boxoffice_manager => @is_boxoffice_manager}

