- form_tag({:action => 'list'},{:method=>:get}) do
  %h1 
    Listing shows for season:
    = select_tag 'season',options_for_select(@years.to_a.map(&:to_s) << "All", |
      @season.to_s), :onChange => 'this.form.submit();'  |

%table.hilite
  %thead
    %tr
      %th ID
      %th Show Name
      %th Link
      %th Run Dates
      %th Added to system
  %tbody
    - @shows.each do |show|
      %tr{:class=>cycle(:evenRow,:oddRow)}
        %td.r= show.id
        %td= link_to show.name, :action => 'edit', :id => show
        %td= purchase_link_popup "[Link]", link_to_show_tickets(show.id), show.name
        %td
          = show.opening_date.to_formatted_s(:month_day_year)
          \-
          = show.closing_date.to_formatted_s(:month_day_year)
        %td= show.created_on.to_formatted_s(:month_day_year)

= gen_button 'Add New Show', :action => 'new'
