%fieldset#walkup_subscriber_search
  %legend Check-in Subscriber Without Advance Reservation  
  Customer name:
  = text_field_tag 'customer', @customer.try(:name), :size => 20, :class => '_autocomplete'
  :javascript
    $('#customer').on('autocompleteselect', function(evt,selection) { 
      window.location.assign(window.location.href + "?cid=" + selection.item.value);
    })

  - if @customer
    - if @customer_vouchers.empty?
      %p.explanation #{@customer.full_name} has no vouchers redeemable for this performance.    
    - else
      = form_tag walkup_subscriber_confirm_checkin_path(@showdate) do
        %p.explanation 
          Check which voucher(s) to use.  
          Customer will be checked in and these vouchers will be marked as used.
        %table.hilite#subscriber_vouchers
          %thead
          %tbody
            - @customer_vouchers.each do |voucher,qty|
              %tr
                %td= check_box_tag "vouchers[#{voucher.id}]"
                %td (#{voucher.category.capitalize})
                - if qty.zero?
                  %td.attention= link_to(voucher.name, order_path(voucher.order), :title => 'Customer would not be able to redeem this voucher on their own, but as box office, you can override.'
        = submit_tag 'Confirm Check-In'
        = link_to 'Cancel', checkin_path(@showdate), :class => 'genBtn'
