%fieldset#walkup_subscriber_search
  %legend Check-in Subscriber Without Advance Reservation  
  Customer name:
  = text_field_tag 'customer', @customer.try(:full_name), :size => 20, :class => '_autocomplete'
  :javascript
    $('#customer').on('autocompleteselect', function(evt,selection) { 
      window.location.assign(window.location.href + "?cid=" + selection.item.value);
    })

  - if @customer
    - if @customer_vouchers.empty?
      %p.explanation
        = link_to_customer @customer
        has no vouchers redeemable for this performance.
        = link_to 'Add Comps', new_customer_voucher_path(@customer), :class => 'btn btn-primary'
    - else
      = form_tag walkup_subscriber_confirm_checkin_path(@showdate) do
        %p.explanation 
          Check which voucher(s) to use.  
          Customer will be checked in and these vouchers will be marked as used.
        #open_subscriber_vouchers
          - @customer_vouchers.each do |voucher,redeemable_qty|
            .open_subscriber_voucher
              - order = voucher.order
              %label
                #{voucher.category.capitalize} - #{voucher.name}
                = check_box_tag "vouchers[#{voucher.id}]"
              - if redeemable_qty.zero?
                %span.attention= link_to "(Order ##{order.id})", order_path(order), :title => 'Customer would not be able to redeem this voucher on their own, but as box office, you can override. ' << strip_tags(one_line_order_summary order)
              - else
                %span= link_to "(Order ##{order.id})", order_path(order), :title => strip_tags(one_line_order_summary order)
        = submit_tag 'Confirm Check-In'
        = link_to 'Cancel', checkin_path(@showdate), :class => 'btn btn-primary'
