%h1.text-center= @showdate.printable_name
%h2.text-center= "#{@num_subscriber_reservations} subscriber reservations, #{@total} total reservations"
#a1-doorlist
  %table.a1-table.table.table-hover
    %thead
      %tr
        %th{:colspan=>2} Last
        %th First
        %th Type
        %th Qty
        %th Notes
    %tbody
      - @vouchers.keys.sort_by(&:downcase).each do |k|
        - v = @vouchers[k]
        - c = v.first.customer
        %tr{:class=>(c.subscriber? ? 'subscriber' : nil)}
          %td.maincolumn= letter_header_for(c.last_name) 
          %td.lastname= link_to c.last_name.name_capitalize, customer_path(c)
          %td.firstname= link_to c.first_name.name_capitalize, customer_path(c)
          %td= ticket_type_with_seats(v)
          %td.text-center= v.size
          / concatenate all nonempty comments
          %td.comments= Voucher.combined_comments(v)

