- unless @showdate.has_reserved_seating?
  = render :partial => 'checkins/walkup_subscriber'

%table.a1-table#checkin
  %tr
    %th
    %th Last
    %th First
    %th Type/Seats
    %th
    %th Checkin #{popup_help_for(@showdate.has_reserved_seating? ? :checkin_reserved_seating : :checkin)}
    %th Notes
  - @vouchers.keys.sort_by(&:downcase).each do |entry|
    - vouchers = @vouchers[entry]
    - c = vouchers.first.customer
    %tr{:class => ('subscriber' if c.subscriber?)}
      %td.maincolumn= letter_header_for(c.last_name)
      %td= link_to_customer c, :content_text => c.last_name.name_capitalize
      %td= link_to_customer c, :content_text => c.first_name.name_capitalize
      %td.vouchertype= vouchers.first.name
      %td
        %span.un_check_in= link_to image_tag('delete.png'), checkin_path(@showdate, :uncheck => 1, :vouchers => ids(vouchers)), 'data-remote' => true, 'data-method' => :put, 'data-type' => 'script'
      %td.checkin_column= render :partial => 'checkin_buttons', :locals => {:vouchers => vouchers}
      %td= Voucher.combined_comments(vouchers)
