%fieldset#output_options
  %legend Report options
  %p
    Include
    = select_tag 'output[subscribers]', options_for_select(['Subscribers and nonsubscribers', 'Subscribers only', 'Nonsubscribers only'], 0)
  %p.fieldgroup US Mail options
  %p
    = check_box_tag 'output[require_valid_address]', '1'
    Require apparently-valid mailing address (takes longer)
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = check_box_tag 'output[remove_dups]', '1'
    One entry per mailing address: remove similar addresses associated with distinct names (takes even longer)
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = check_box_tag 'output[filter_by_zip]', '1'
    Limit to zip codes starting with 
    = text_field_tag 'output[zip_glob]', '', :size => 12
    = popup_help_for 'filter_by_zip'
    %br
    = check_box_tag 'output[exclude_blacklist]', '1'
    Exclude patrons who have opted out of US Mail mailings
  %p.fieldgroup Email/web options
  %p
    %br
    = check_box_tag 'output[require_valid_email]', '1'
    Require valid email address
    %br
    = check_box_tag 'output[exclude_e_blacklist]', '1'
    Exclude patrons who have opted out of email
    %br
    = check_box_tag 'output[login_since]', '1'
    Only those who
    = select_tag 'output[login_since_test]', options_for_select(['have','have not'])
    logged in since
    = select_date Time.now.at_beginning_of_season, :prefix => 'output[login_from]', :start_year => 2007
  %p.fieldgroup Spreadsheet options:
  %p
    Display mailing address in:
    = radio_button_tag 'output[multi_column_address]', 1, true
    Four columns (street, city, state, zip)
    = radio_button_tag 'output[multi_column_address]', 0, false
    One column (complete street address with zip)
  %p 
    Sort list by:
    = radio_button_tag 'output[sort_by_zip]', 1, true
    Zip, then last name
    = radio_button_tag 'output[sort_by_zip]', 0, false
    Last name, then zip
  %p 
    Spreadsheet should have:
    = radio_button_tag 'output[header_row]', 1, true
    Header row
    = radio_button_tag 'output[header_row]', 0,false
    No header row
    
