.container
  #report_options_header
    = form_tag do_report_reports_path, {:method => :get} do
      = hidden_field_tag 'account_codes', @account_codes
      = hidden_field_tag 'rep', (report_name || 'UNDEFINED')
      %label.plain Dates:
      = select_date_with_shortcuts 'report_dates', :from => @from, :to => @to
      %label.plain Format:
      = radio_button_tag 'format', 'html', 1
      %label.plain{:for => 'format_html'} Screen
      = radio_button_tag 'format', 'csv'
      %label.plain{:for => 'format_csv'} Excel (CSV)
      = radio_button_tag 'format', 'pdf'
      %label.plain{:for => 'format_pdf'} PDF
      = submit_tag 'Run Report'
