- s = showdate.class
- divid = "#{s}_#{showdate.id}"
%table.hilite.totalShowSales
  %tr.showSalesRow
    %td.showSalesDate{:style=>'width: 20em;'}
      - hdr ||= "#{showdate.printable_date} (#{showdate.max_allowed_sales})"
      = link_to_remote(hdr, :update=> divid, |
        :url=>{:action=>"showdate_sales",:id=>showdate,:klass=>s}, |
        :before => "Element.show('wait_#{divid}')", |
        :complete=> %Q{jQuery('##{divid}').slideToggle(); jQuery('#wait_#{divid}').hide() } |
      = spinner("wait_#{divid}")
    %td.showSalesDateQty= showdate.compute_total_sales
    %td.showSalesDatePercent
      = number_to_percentage(showdate.percent_sold,:precision=>0)
      (#{number_to_percentage(showdate.percent_of_house, :precision => 0)} house)
    %td.currency.showSalesDateRevenue= number_to_currency(showdate.revenue)

%div{:id=>divid,:style=>"display: none;"}


