- sales.vouchers.each_pair do |vt,v|
  .row.text-muted
    .col-md-3.offset-md-1= vt.name
    .col-md-2
      = v.size
      (
      = number_to_percentage(100 * v.size / sales.total_offered_for_sale, :precision => 0)
      )
    .col-md-2.text-right= number_to_currency(vt.price * v.size)
.row.bg-light
  .col-md-3.offset-md-1.text-bold Nonsubscription revenue per seat
  .col-md-2.offset-md-2.text-right= number_to_currency sales.revenue_per_seat

