- form_tag run_special_report_path(name), :method => :get do
  = render :partial => "reports/special/#{name}"
  = render :partial => 'output_options'
  %fieldset.generate_report
    %legend What to do with the results
    = submit_tag 'Download to Excel'
    = submit_tag 'Display on screen'
    = submit_tag 'Estimate number of matches', 'data-remote' => 'true', 'data-method' => 'get',  :onclick => "\$('#report_preview').load('#{run_special_report_path(name)}'); return(false)"
    %span#report_preview
    = render :partial => 'sublist' if @sublists

