= form_tag run_special_reports_path, :method => 'get', 'data-remote' => true, 'data-method' => :get, 'data-type' => 'script', :id => 'special_report' do
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %fieldset{:id => name}
    %legend= name.humanize.capitalize
    = hidden_field_tag 'report_name', name
    = render :partial => "reports/special/#{name}"
  = render :partial => 'output_options'
  %fieldset.generate_report
    %legend What to do with the results

    = radio_button_tag 'what', 'display', 1
    %label.plain{:for => 'what_display'} Display list on screen
    %br
    = radio_button_tag 'what', 'download'
    %label.plain{:for => 'what_download'} Download list to Excel
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;
    Display mailing address in:
    = radio_button_tag 'output[multi_column_address]', 1, true
    Four columns (street, city, state, zip)
    = radio_button_tag 'output[multi_column_address]', 0, false
    One column (complete street address with zip)
    %br 
    &nbsp;&nbsp;&nbsp;&nbsp;
    Sort spreadsheet by:
    = radio_button_tag 'output[sort_by_zip]', 1, true
    Zip, then last name
    = radio_button_tag 'output[sort_by_zip]', 0, false
    Last name, then zip
    %br 
    &nbsp;&nbsp;&nbsp;&nbsp;
    = radio_button_tag 'output[header_row]', 1, true
    Include header row
    = radio_button_tag 'output[header_row]', 0,false
    No header row
    %br
    = radio_button_tag 'what', 'estimate'
    %label.plain{:for => 'what_estimate'} Estimate number of matches
    %br
    - if @sublists
      = radio_button_tag 'what', 'add'
      %label.plain{:for => 'what_add'} Add to existing mailing list:
      = select_tag 'sublist', options_for_sublists(@sublists)
      %br
      = radio_button_tag 'what', 'create'
      %label.plain{:for => 'what_create'} Create new mailing list named:
      = text_field_tag 'sublist_name', '', :size => 12, :maxlength => 20
      %br
    = submit_tag 'Run Report', 'data-disable-with' => 'Just a minute...'
