- if subscriptions.empty?
  %p.strong No subscriptions
- else
  = hidden_field_tag 'year', year
  %table.a1-table.table.table-hover
    %thead
      %tr
        %th Type 
        %th Qty 
        %th Price 
        %th Subttl
    %tbody 
      - total = tprice = 0 
      - subscriptions.each do |s| 
        %tr
          %td.text-left= s[0]
          %td.text-right= s[2]
          %td.text-right= number_to_currency(s[1])
          %td.text-right= number_to_currency(s[1]*s[2])
          - total += s[2] 
          - tprice += s[1]*s[2] 
      %tr
        %td Total  
        %td.text-right= total   
        %td
        %td.text-right= number_to_currency tprice  

  = link_to 'Download to Excel', subscriber_details_reports_path(:id => year, :download => true), :class => 'btn btn-primary'
  = popup_help_for 'download_to_excel'
