- if subscriptions.empty?
  %p.strong No subscriptions
- else
  = hidden_field_tag 'year', year
  %table#subsList.hilite
    %thead
      %tr
        %th Type 
        %th Qty 
        %th Price 
        %th Subttl
    %tbody 
      - total = tprice = 0 
      - subscriptions.each do |s| 
        %tr{:class=>cycle(:odd,:even)}
          %td.l= s[0]
          %td.r= s[2]
          %td.currency= number_to_currency(s[1])
          %td.currency= number_to_currency(s[1]*s[2])
          - total += s[2] 
          - tprice += s[1]*s[2] 
      %tr.totalsRow
        %td Total  
        %td.r= total   
        %td
        %td.currency= number_to_currency tprice  

  = link_to 'Download to Excel', subscriber_details_reports_path(:id => year, :download => true), :class => 'btn btn-primary'

