#sublists
  - unless @sublists.empty?
    Add to existing mailing list:
    = select_tag 'sublist', options_for_sublists(@sublists)
    = submit_tag 'Add', 'data-disable-with' => 'Adding to list...'
  Create new mailing list named:
  = text_field_tag 'sublist_name', '', :size => 12, :maxlength => 20
  = submit_tag 'Create', 'data-disable-with' => 'Creating list...'
  = popup_help_for :sublists
  = @error_messages
