- @shows.each do |s|
  %div[s]
    %h1= "#{s.name} (#{humanize_date_range(s.opening_date,s.closing_date)})"
    %h2="#{s.showdates.size} performances (Click on a show date for details)"
    = render :partial => "showdate", :locals => {:showdate => s,:hdr=>"<b>Total all performances</b>".html_safe} 
    = render :partial => "showdate", :collection => s.showdates.sort_by { |sd| sd.thedate }

