%h1== Total #{@no_email.size + @with_email.size + @nothing.size} records

%h2== No Email (#{@no_email.size} records)

%table
  = render :partial => 'customer', :collection => @no_email

%h2== Invalid email AND invalid snailmail (#{@nothing.size} records)

%table
  = render :partial => 'customer', :collection => @nothing

%h2== Valid email (#{@with_email.size} records)

%table
  = render :partial => 'customer', :collection => @with_email


