- if @next_showdate.kind_of?(Showdate)
  .container
    %h1 Advance Sales and Orders
    = form_tag advance_sales_reports_path, :method => :get do
      %fieldset#advance_sales_report
        %legend Advance Sales
        %p 
          (Shift-click to select multiple productions)
          %br
          = select_tag('shows', |
            options_from_collection_for_select(@all_shows, :id, :name_with_run_dates_short, @next_showdate.show.id), :multiple => true) 
          = submit_tag 'Go', :id => 'advance_sales'

    = form_tag unfulfilled_orders_reports_path, :method => :get do
      %fieldset#unfulfilled_orders
        %legend Orders Needing Mail Fulfillment 
        = submit_tag 'Generate Listing'

.container#financial_reports
  %h1 Financial/Transaction Reports
  = form_tag report_orders_path, :method => :get do
    %fieldset#transaction_details_report
      %legend Transaction (Order) Details
      %label Select Dates
      = select_date_with_shortcuts 'txn_report_dates', :from => @from, :to => @to
      %br
      %label &nbsp;
      = submit_tag 'Display on Screen'
      = submit_tag 'Download as Excel'

  = form_tag retail_reports_path, :method => :get do
    %fieldset#retail_report
      %legend Retail Sales (Non-ticket products)
      %label Select Dates
      = select_date_with_shortcuts 'retail_report_dates', :from => @from, :to => @to
      %br
      %label &nbsp;
      = submit_tag 'Display on Screen'
      = submit_tag 'Download as Excel'
  
- if nil && (Voucher.count > 0 || Donation.count > 0)
  .container#accounting_reports
    %h1 Accounting/Financial Reports
    = form_tag do_report_reports_path, {:method => :get} do
      %label Select Dates
      = select_date_with_shortcuts 'report_dates', :from => @from, :to => @to
      %br
      %label{:for => 'rep'} Report type
      = select_tag 'rep', options_for_select(["Transaction details", "Earned Revenue", "Retail Sales"])
      %br
      %label{:for => 'account_codes'} Include account codes
      = select_tag 'account_codes', options_from_collection_for_select(AccountCode.all, :id, :name_with_code, Proc.new { |n| true }), :multiple => true
      %br
      %label &nbsp;
      = submit_tag 'Display report'

.container#customer_lists
  %h1 Customer Lists
  = select_tag 'special_report_name', options_for_select(@special_report_names, :selected => 'Select report...'), 'data-submit' => attendance_reports_path
  #report_body

.container#subscription_counts
  %h1
    Subscription Counts for
    - y = Time.this_season
    = select_tag('year', options_for_seasons(y-5, y+1), :onchange => "\$('#subscriber_stats').load('#{subscriber_details_reports_path}', 'id=' + \$('#year').val())" )
  #subscriber_stats= render :partial => 'subscriptions', :object => @subscriptions, :locals => {:year => y} 

