- if @next_showdate.kind_of?(Showdate)
  = render :partial => 'boxoffice', :locals => {:all_showdates => @all_showdates,:next_showdate => @next_showdate}

- if Voucher.count > 0 || Donation.count > 0
  .pageDiv#accounting_reports
    %h1 Accounting/Financial Reports
    - form_tag({:action => 'do_report'}, {:method => :get}) do
      = render :partial => 'reports/date_shortcuts'
      %table
        %tr
          %td.r 
            %label{:for => 'rep'} Report type
          %td= select_tag 'rep', options_for_select(["Transaction details", "Earned Revenue", "Unearned Revenue", "Retail Sales"])
        %tr
          %td.r= submit_tag 'Display report'

.pageDiv#database_maintenance
  %h1 Database Maintenance
  #database_maintenance
    %p= link_to 'Find Possible Duplicates...', list_duplicate_customers_path
    %p= link_to_function 'Synchronize with Email Database...', 'alert("This function is coming soon.")'

.pageDiv#customer_lists
  %h1 Customer Lists
  = select_tag 'report_name', options_for_select(@special_report_names.map { |n| [n.humanize,n] }.unshift(['Select report...','']), '')
  = spinner('report_type')
  = observe_field 'report_name', |
    :url => {:action => 'show_special_report'}, |
    :with => :report_name, |
    :update => 'report_body', |
    :before => "Element.show('report_type')", |
    :complete => "Element.hide('report_type')" |
  #report_body

.pageDiv#subscription_counts
  %h1
    Subscription Counts for
    - y = Time.this_season
    = select_tag('year', options_for_seasons(y-5, y+1))
    = spinner('wait_subs')
  = observe_field('year', :with=>'id', |
    :update=>'subscriber_stats',      |
    :url => {:action => 'subscriber_details'}, |
    :before => "Element.show('wait_subs')",    |
    :complete => "Element.hide('wait_subs')")  |

  #subscriber_stats= render :partial => 'subscriptions', :object => @subscriptions, :locals => {:year => y} 

