- if @next_showdate.kind_of?(Showdate)
  = render :partial => 'boxoffice', :locals => {:all_showdates => @all_showdates,:next_showdate => @next_showdate}

- if Voucher.count > 0 || Donation.count > 0
  .pageDiv#accounting_reports
    %h1 Accounting/Financial Reports
    - form_tag({:action => 'do_report'}, {:method => :get}) do
      = render :partial => 'reports/date_shortcuts'
      %table
        %tr
          %td.r 
            %label{:for => 'rep'} Report type
          %td= select_tag 'rep', options_for_select(["Transaction details", "Earned Revenue", "Retail Sales"])
        %tr
          %td.r
            %label{:for => 'account_codes'} Include account codes
          %td= select_tag 'account_codes', options_from_collection_for_select(AccountCode.all, :id, :name_with_code, Proc.new { |n| true }), :multiple => true
        %tr
          %td.r= submit_tag 'Display report'

.pageDiv#database_maintenance
  %h1 Database Maintenance
  #database_maintenance
    %p= gen_button 'Find Possible Duplicates...', list_duplicate_customers_path
    %p= link_to_function 'Synchronize with Email Database...', 'alert("This function is coming soon.")'

.pageDiv#customer_lists
  %h1 Customer Lists
  = select_tag 'report_name', options_for_select(@special_report_names, :selected => 'Select report...'), 'data-submit' => attendance_reports_path
  #report_body

.pageDiv#subscription_counts
  %h1
    Subscription Counts for
    - y = Time.this_season
    = select_tag('year', options_for_seasons(y-5, y+1), :onchange => "\$('#subscriber_stats').load('#{subscriber_details_reports_path}', 'id=' + \$('#year').val())" )
  #subscriber_stats= render :partial => 'subscriptions', :object => @subscriptions, :locals => {:year => y} 

