- if @next_showdate.kind_of?(Showdate)
  = render :partial => 'boxoffice', :locals => {:all_showdates => @all_showdates,:next_showdate => @next_showdate}

- if Voucher.find(:first)
  .pageDiv
    %h1 Accounting Reports
    
    - form_tag({:action => 'do_report'}, {:method => :get}) do
      %table
        %tr
          %td.r Report type
          %td= select_tag 'rep', options_for_select(["Transaction details", "Earned Revenue", "Unearned Revenue"])
        %tr
          %td.r Date shortcuts:
          %td= select_date_shortcuts :start_year => 2007, :from_prefix => 'from', :to_prefix => 'to'
        %tr
          %td.r Or custom dates from:
          %td= select_datetime Date.today, :prefix => 'from', :start_year => 2007, :time_separator => ':', :datetime_separator => ' - '
        %tr
          %td.r To:
          %td
            = select_datetime Date.today, :prefix => 'to',  :start_year => 2007, :time_separator => ':', :datetime_separator => ' - '
            = submit_tag 'Go'

.pageDiv
  %h1 Database Maintenance
  #database_maintenance
    %p= link_to 'Find Possible Duplicates...', {:controller => :customers, :action => :list_duplicates}
    %p= link_to_function 'Synchronize with Email Database...', 'alert("This function is coming soon.")'

.pageDiv
  %h1 Customer Lists
  = select_tag 'report_name', options_for_select(@special_report_names.map { |n| [n.humanize,n] }.unshift(['Select report...','']), '')
  = spinner('report_type')
  = observe_field 'report_name', |
    :url => {:action => 'show_special_report'}, |
    :with => :report_name, |
    :update => 'report_body', |
    :before => "Element.show('report_type')", |
    :complete => "Element.hide('report_type')" |
  #report_body

.pageDiv
  %h1
    Subscription Counts for
    - y = Time.now.year
    = select_tag('year', options_for_select((y-2..y+1).to_a, y))
    = spinner('wait_subs')
  = observe_field('year', :with=>'id', |
    :update=>'subscriber_stats',      |
    :url => {:action => 'subscriber_details'}, |
    :before => "Element.show('wait_subs')",    |
    :complete => "Element.hide('wait_subs')")  |

  #subscriber_stats= render :partial => 'subscriptions', :object => @subscriptions, :locals => {:year => y} 

