%h1.text-center Revenue Details
%h2.text-center= @report.title

.accordion{:role => 'tablist', 'aria-multiselectable' => true}
  - @report.payment_types.each_pair do |payment_type, account_code_groups|
    .card
      .card-header.text-light.bg-primary.font-weight-bold
        .row
          .col-md-9.offset-md-1{:id => "#{payment_type}_total"} Total #{humanize payment_type}, all account codes
          .col-md-2.text-right= number_to_currency(@report.totals[payment_type])
      .card-body
        - account_code_groups.each do |account_code, items|
          .row
            .col-md-1
              %button.a1-flippy.collapsed.d-inline{:href => "#details_#{payment_type}_#{account_code.id}", 'data-toggle' => 'collapse'}
            .col-md-9.text-left= account_code.name_with_code
            .col-md-2.text-right{:id => "subtotal_#{payment_type}_#{account_code.id}"}= number_to_currency(items.map(&:amount).sum)
          .row.collapse{:id => "details_#{payment_type}_#{account_code.id}"}
            .col-12
              %table.a1-table{:id => "table_#{payment_type}_#{account_code.id}"}
                %thead
                  %tr
                    %th{:scope => 'col'} Order
                    %th{:scope => 'col'} Item
                    %th{:scope => 'col'} Description
                    %th.a1-date{:scope => 'col'} Sold on
                    %th{:scope => 'col'} Customer
                    %th{:scope => 'col'} Promo Code
                    %th.a1-amount{:scope => 'col'} Amount
                %tbody
                  - items.each do |item|
                    %tr{:id => "item_#{item.id}"}
                      %td= link_to item.order_id, order_path(item.order)
                      %td= item.id
                      %td= item.one_line_description(suppress_price: true)
                      %td= item.sold_on.strftime('%Y-%m-%d %H:%M')
                      %td= item.customer.full_name
                      %td= item.promo_code
                      %td.text-right= number_to_currency item.amount
