= render :partial => 'reports/report_options_header', :locals => {:report_name => 'Transaction Details'}

#pageDiv
  %h1 #{@report.size} transactions: #{@from.to_formatted_s(:long)} - #{@to.to_formatted_s(:long)}

  %table.hilite
    %thead
      %tr
        %th Order#
        %th Sold on
        %th Customer
        %th Payment method
        %th Total
        %th Items
    %tbody
      - @report.data.each do |row|
        - pmt = row['Payment method']
        %tr
          %td= link_to row['Order#'],order_path(row['Order#']) 
          %td= row['Sold on'].strftime('%m/%d/%y %I:%M:%S')
          %td= link_to_customer row['Cust#'], :content_text => row['Name']
          %td= pmt =~ /credit/i ? link_to_stripe(pmt,row['Stripe Auth']) : pmt
          %td= number_to_currency row['Total']
          %td= row['Items'].gsub( /$/, '<br/>')






