%h1= "#{@vouchers.length} unfulfilled orders (#{@unique_addresses} unique addresses) as of #{Time.now.to_s(:short)}"

%p{:align=>:top}
  = gen_button 'Download to Excel', {:action => 'unfulfilled_orders', :csv => true}, {:method => :get}
  = button_to_function 'Check All', "checkBoxes('uf',true)"
  = button_to_function 'Clear All', "checkBoxes('uf',false)"

- form_tag mark_fulfilled_path, :id=>'uf' do
  = submit_tag 'Mark Checked Orders as Fulfilled'

  %table.hilite.ordersTable
    %tr{:class=>cycle(:even,:odd)}
      %th First name
      %th Last name
      %th Street
      %th City
      %th State
      %th Zip
      %th Order Date
      %th Product
      %th Completed


    - @vouchers.each do |v|
      - if v.gift_purchaser
        - cust = if v.ship_to_purchaser? then v.gift_purchaser else v.customer end
      - else  # not a gift
        - cust = v.customer
      %tr{:class => (v.gift_purchaser ? nil : 'highlighted')}
        %td= rollover_with_contact_info(cust, :first_name)
        %td= rollover_with_contact_info(cust, :last_name)
        %td= cust.street
        %td= cust.city
        %td= cust.state
        %td= cust.zip
        %td= v.sold_on.to_formatted_s(:compact)
        %td= v.vouchertype.name 
        %td= check_box 'voucher', v.id, :class=>'check'
      - if v.gift_purchaser
        %tr.highlighted
          %td.strong{:colspan=>9}
            Gift for #{link_to_customer v.customer} from #{link_to_customer v.gift_purchaser}
            (ship to #{cust.full_name})
  = submit_tag 'Mark Checked Orders as Fulfilled'

