%h1= "#{@report.vouchers.length} unfulfilled orders (#{@report.unique_addresses} unique addresses) as of #{Time.current.to_s(:short)}"

= form_tag mark_fulfilled_path, :id=>'uf' do
  = link_to 'Download to Excel', unfulfilled_orders_reports_path(:csv => true), :class => 'btn btn-primary'
  = popup_help_for 'download_to_excel'
  = submit_tag 'Mark Checked Orders as Fulfilled', :class => 'btn btn-success'

  %table.a1-table.table.table-hover
    %tr
      %th First name
      %th Last name
      %th Street
      %th City
      %th State
      %th Zip
      %th Order Date
      %th Product
      %th
        = check_box_tag 'all'
        = javascript_tag %q{$('#all').change(function() { $('#uf input.check').prop('checked', $(this).prop('checked')) }) }


    - @report.vouchers.each do |v|
      - cust = v.ship_to
      %tr{:class => ('highlighted' if v.gift?)}
        %td= rollover_with_contact_info(cust, :first_name)
        %td= rollover_with_contact_info(cust, :last_name)
        %td= cust.street
        %td= cust.city
        %td= cust.state
        %td= cust.zip
        %td= v.sold_on.to_formatted_s(:compact)
        %td= v.vouchertype.name 
        %td= check_box 'voucher', v.id, :class=>'check'
      - if v.gift?
        %tr.highlighted
          %td.strong{:colspan=>9}
            Gift for #{link_to_customer v.order.customer} from #{link_to_customer v.order.purchaser}
            (ship to #{cust.full_name})

