/ select tickets and add to cart

- if customer.is_subscriber?

  %h1 Renew Your Subscription for 2008!
  %p
    As a "Thank You" to our 2007 subscribers, we'll give you an
    %strong additional 10% off
    your 2008 subscription package if you renew by 
    %strong= h(@renew_discount_date).

- else

  %h1 Become a Subscriber!
  %p 
    Enjoy preferred seating, penalty-free ticket exchanges for any
    show in your subscription, discounts for your guests, exclusive
    access to special events, and more!
    = link_to( "Learn more",Option.value(:subscription_info),{:popup => true})
    about subscription packages and why it pays to subscribe!

#selectSubscription
  - form_tag :action => 'add_subscriptions_to_cart' do
    - if id 
      = hidden_field_tag 'id', id
    %table.ticketSelect
      %tr
        %td.label Subscription type and price
        %td
          - if @subs_to_offer.empty?
            %p (No subscriptions on sale at this time)
          - else
            = select_tag "subscription_vouchertype_id", options_from_collection_for_select(@subs_to_offer,'id','name_with_price')
      %tr
        %td.label
          %label{:for=>:subscription_qty} Quantity
        %td
          = select_tag("subscription_qty",  (1..10).map { |n| "<option>#{n}</option>\n" } )
          = submit_tag 'Add Subscriptions to Cart', :class => 'genButton'
