#cart
  - unless @checkout_message.blank?
    = hidden_field_tag 'timer_expires', (@gOrderInProgress.created_at + Option.order_timeout.minutes).to_i
  .h3.timer.d-none
    Please complete your order in
    %span#timer #{Option.order_timeout.to_i}:00
    minutes.

  - @gOrderInProgress.vouchers.each do |v|
    .row.order-row.border-top.bg-light
      .col-md-5.text-truncate.h5
        .a1-cart-show-name= v.showdate.try(:name)
      .col-md-5.font-italic.h5
        .a1-cart-show-date= v.showdate.try(:printable_date_with_description)
        .a1-cart-voucher-type.text-secondary
          - if v.promo_code.blank?
            = v.name
          - else
            #{v.name} (#{v.promo_code})
          - if !v.seat.blank?
            = "&bull; Seat #{v.seat}".html_safe
      .col-md-2.text-right.text-primary.h4
        .a1-cart-amount= number_to_currency(v.amount)

  - if (d = @gOrderInProgress.donation)
    .row.order-row.border-top.bg-light
      .col-md-5.text-truncate.h5
        .a1-cart-donation-to Donation to #{d.account_code.name}
      .col-md-5.font-italic.text-truncate.h5
        .a1-cart-donation-comments= d.comments
      .col-md-2.h4.text-right.text-primary
        .a1-cart-amount= number_to_currency(d.amount)

  - @gOrderInProgress.retail_items.each do |item|
    .row.order-row.border-top.bg-light
      .col-md-10.h5
        .a1-cart-retail-item= item.comments
      .col-md-2.h4.text-right.text-primary
        .a1-cart-amount= number_to_currency(item.amount)

  - unless @gOrderInProgress.comments.blank?
    #order_notes.row.border-top.bg-secondary.text-light.a1-cart-comments
      .col-md-5.h5 Notes
      .col-md-7.h5= @gOrderInProgress.comments

  .row.bg-primary.text-white.a1-total
    .a1-cart-total-label.col-md-2.offset-md-8.h3 Total
    .col-md-2.text-right.h3
      .a1-cart-total-amount._stripe_total= number_to_currency(@gOrderInProgress.total_price)

