- @cart ||= cart 

#cart.container
  - if @cart.cart_empty?
    %p#empty_cart No items in your order.
  - else
    %h2#check_dates Please double check your order
    %ul#cart_items
      - @cart.each_voucher do |v|
        %li.cart_item{:class=>cycle(:even,:odd)}
          .price_and_actions
            .cart_item_price= number_to_currency(v.price)
          %span.cart_item_desc
            %span.voucher_show_name= v.showdate.try(:name)
            %span.voucher_show_date= v.showdate.thedate.to_formatted_s(:showtime) if v.showdate
            %span.voucher_type= v.name
            - if !v.promo_code.blank?
              %span.promo_code (Promo #{h(v.promo_code)})

      - if (d = @cart.donation)
        %li.cart_item{:class=>cycle(:even,:odd)}
          .price_and_actions
            .cart_item_price= number_to_currency(d.amount)
          %span.donation_name.cart_item_desc 
            = ["Donation to #{h(d.account_code.name)}", d.comments].join(' - ')

      - @cart.retail_items.each do |item|
        %li.cart_item{:class=>cycle(:even,:odd)}
          .price_and_actions
            .cart_item_price= number_to_currency(item.amount)
          %span.retail_item_description.cart_item_desc= item.comments

    #cart_total
      #total_price._stripe_total= number_to_currency(@cart.total_price)
      %div &nbsp;

    - unless @cart.comments.blank?
      #cart_comments
        %p
          %span.emphasis Special seating needs:
          = h @cart.comments
