- @cart ||= cart 

.container
  - if @cart.cart_empty?
    .alert.alert-danger No items in your order.
  - else
    %ul.list-group
      - @cart.each_voucher do |v|
        %li.list-group-item
          .pull-left
            = v.showdate.try(:name)
            = v.showdate.thedate.to_formatted_s(:showtime) if v.showdate
            - if v.promo_code.blank?
              = v.name
            - else
              Promo #{v.promo_code}
          .pull-right= number_to_currency(v.price)

      - if (d = @cart.donation)
        %li.list-group-item.list-group-item-light
          .pull-left= ["Donation to #{h(d.account_code.name)}", d.comments].join(' - ')
          .pull-right= number_to_currency(d.amount)

      - @cart.retail_items.each do |item|
        %li.list-group-item.list-group-item-light
          .pull-left #{item.name} - #{item.comments}
          .pull-right= number_to_currency(item.amount)

    #cart_total
      #total_price._stripe_total= number_to_currency(@cart.total_price)
      %div &nbsp;

    - unless @cart.comments.blank?
      #cart_comments
        %p
          %span.alert.alert-warning Special seating needs:
          = h @cart.comments
