- fields_for :credit_card, credit_card do |cc|
  = label :credit_card, :type, 'Type'
  = select 'credit_card', 'type', options_for_credit_card, {:id=>'credit_card_type'}
  %br/

  = label :credit_card, :number, 'Number (no spaces)'
  = cc.text_field :number, :size => 16, :max_length => 16, :autocomplete => :off
  %br/

  - dt = Date.civil(credit_card.year || Date.today.year, credit_card.month || Date.today.month)

  = label :credit_card, :month, 'Expiration Month'
  = select_month dt, :add_month_numbers => true,:prefix => 'credit_card', :id => 'credit_card_month'
  %br/
  = label :credit_card, :year, 'Expiration Year'
  = select_year dt, :start_year => dt.year, :end_year => dt.year + 6, :prefix => 'credit_card'
  %br/

  = label :credit_card, :verification_value, 'Security (CVV) code'
  = cc.text_field 'verification_value', :size => 4, :max_length => 4
%br/
