- credit_card = @credit_card unless defined?(credit_card)
%fieldset#credit_card
  %legend= defined?(legend) ? legend : 'Credit Card Information'
  - fields_for :credit_card, credit_card do |cc|
    %p#payment_errors
    = label :credit_card, :first_name, 'First Name'
    = cc.text_field :first_name, :size => 20
    %br
    = label :credit_card, :last_name, 'Last Name'
    = cc.text_field :last_name, :size => 20
    %br
    = hidden_field_tag 'credit_card_token', 'DUMMY'
    = hidden_field_tag '_stripe_api_key', Option.value(:stripe_publishable_key)
    = make_unsubmitted '_stripe_api_key'
    = label :credit_card, :number, 'Number (no spaces)'
    = cc.text_field :number, :size => 24, :max_length => 16, :autocomplete => :off
    = make_unsubmitted 'credit_card_number'
    %br
    %label We accept
    = image_tag 'credit_card_logos_horizontal.png'
    %br
    = label :credit_card, :month, 'Expiration Month'
    = select_month Time.now.month, :add_month_numbers => true, :prefix => 'credit_card'
    = make_unsubmitted 'credit_card_month'
    %br
    = label :credit_card, :year, 'Expiration Year'
    - y = Time.now.year
    = select_year y, :start_year => y, :end_year => y+5, :prefix => 'credit_card'
    = make_unsubmitted 'credit_card_year'
    %br
    = label :credit_card, :verification_value, 'Security (CVV) code'
    = cc.text_field 'verification_value', :size => 4, :max_length => 4
    = make_unsubmitted 'credit_card_verification_value'
    = popup_help_for 'credit_card_verification_value'
  %br
