%fieldset#credit_card
  %legend= defined?(legend) ? legend : 'Credit Card Information'
  %p#payment_errors
  %label{:for => 'credit_card_first_name'} First Name
  = text_field_tag 'credit_card_first_name', (first_name ||= ''), :size => 20, :autocomplete => 'off', :class => 'unsubmitted'
  %br
  %label{:for => 'credit_card_last_name'} Last Name
  = text_field_tag 'credit_card_last_name', (last_name ||= ''), :size => 20, :autocomplete => 'off', :class => 'unsubmitted'
  %br
  = hidden_field_tag 'credit_card_token', 'DUMMY'
  = hidden_field_tag '_stripe_api_key', Option.stripe_key, :class => 'unsubmitted'

  %label{:for => 'credit_card_number'} Number (no spaces)
  = text_field_tag 'credit_card_number', '', :size => 24, :maxlength => 16, :autocomplete => :off, :class => 'unsubmitted'
  = image_tag 'credit_card_logos_horizontal.png'

  %br
  %label Expiration MM/YYYY
  = text_field_tag 'credit_card_month', '', :size => 2, :maxlength => 2, :autocomplete => :off, :class => 'unsubmitted'
  &nbsp;/&nbsp;
  = text_field_tag 'credit_card_year', '', :size => 4, :maxlength => 4, :autocomplete => :off, :class => 'unsubmitted'

  %br
  %label{:for => 'credit_card_verification_value'} Security (CVV) code
  = text_field_tag 'credit_card_verification_value', '', :size => 4, :maxlength => 4, :class => 'unsubmitted'
  = popup_help_for 'credit_card_verification_value'
  %br

