#miniStoreLogin
  - if @gCustomer
    %p
      You're signed in as
      %span.emphasis= h @gCustomer.full_name
      = link_to 'Sign out', :controller => 'customers', :action => 'logout'
      or
      = link_to 'sign in as a different patron', :controller=>'customers', :action => 'login'
      to track your order or redeem Subscriber benefits.
  - else
    %p
      You're not signed in.
      = link_to 'Sign in', :controller=>'customers', :action => 'login'
      or 
      = link_to 'create an account', :controller => 'customers', :action => 'user_create'
      to track your order or redeem Subscriber benefits.
      
      
