#ticket_menus_inner
  = javascript_tag "recalc_total = function() { recalculate('total', '.itemQty', '#{@gAdmin.is_boxoffice ? '' : 'submit'}') }"
  = render :partial => 'enter_promo_code'
  %br/

  %label{:for => "show"}= @special_shows_only ? 'Event' : 'Show'
  = select_tag('show', options_with_default(@sh, @all_shows))
  = spinner('wait_show')
  %br/

  %label{:for => "showdate"} Date
  = select_tag('showdate', options_with_default(@sd, @all_showdates))
  = spinner('wait_showdate')
  - content_for :staff do
    - if (@sd.kind_of?(Showdate))
      %span.admin= "Available: #{@sd.saleable_seats_left} saleable/#{@sd.total_seats_left} total"
  %br/

  #voucher_menus
    - if @vouchertypes.empty? && @sd

      %p.explanation No tickets on sale for this performance

    - else

      - ticket_menus(@vouchertypes) do |vid,name,qty,price|
        - fieldname = "vouchertype[#{vid}]"
        %label{:for => name}= name
        - if @gAdmin.is_boxoffice
          = text_field_tag fieldname, '', :size => 3, :onChange => 'recalc_total()', :class => 'itemQty'
        - else
          = select_tag(fieldname, options_for_select(qty), :onChange => 'recalc_total()', :class => 'itemQty')
        %br/
        = hidden_field_tag "price[#{vid}]", price, {:id => "vouchertype_#{vid}_price"}

    - unless @vouchertypes.empty?
      %label.emphasis ADA-accessible seating required?
      = checkbox_guard_for 'comments_div', !(@cart.comments.blank?)
      #comments_div{:style => @cart.comments.blank? ? 'display: none' : ''}
        %label{:for => :comments} Please describe (wheelchair, walker, cane, etc.)
        = text_area_tag('comments', @cart.comments, :rows => 1, :cols => 30)

  = hidden_field_tag 'redirect_to', 'index'
  = watch_show_and_showdate_fields
  = watch_comment_field
