#ticket_menus
  - form_tag :action => 'add_tickets_to_cart' do
    %table.ticketSelect{:width=>'100%'}
      %tr
        - choose = @sh ? "" : options_for_select({"Select..." => 0})
        %td.label{:width=>'30%'} Show
        %td#selectShow.l= select_tag('show', choose + options_from_collection_for_select(@all_shows, :id, :name, (@sh ? @sh.id : 0)))
      %tr
        - choose = @sd ? "" : options_for_select({"Select..." => 0})
        %td.label{:width=>'30%'} Date
        %td#selectShowdate.l= select_tag('showdate', choose + options_from_collection_for_select(@all_showdates, :id, :printable_date, (@sd ? @sd.id : 0)))
      - @vouchertypes.each do |av|
        %tr
          %td.label= av.vouchertype.name
          %td.l= select_tag("vouchertype[#{av.vouchertype.id}]", options_for_select((0..[av.howmany,10].min).to_a))
      - unless @vouchertypes.empty?
        %tr
          %td.label Special seating needs
          %td.l= text_field_tag('comments', '', :maxlength => 100, :size => 60)
        %tr
          %td
          %td.l
            = submit_tag 'Add to Cart', :class => 'genButton'
            - unless flash[:ticket_error].blank?
              %span.infoMsg= flash[:ticket_error]

= observe_field('show', :update => :ticket_menus,:with => 'show_id', :url => {:controller => 'store', :action => :show_changed})

= observe_field('showdate',:update => :ticket_menus,:with => 'showdate_id', :url => {:controller => 'store', :action => :showdate_changed} )
        
