#ticket_menus_inner
  = hidden_field_tag 'referer', 'index'
  = hidden_field_tag 'what', @show_type
  = render :partial => 'enter_promo_code'

  %br/

  - if !(@sh.try(:description).blank?)
    #show_description.explanation= @sh.description

  .form-group.form-row
    %label.col-form-label.text-right.col-sm-4{:for => "show"}= label_for_event_type(@what)
    = select_tag('show', options_with_default(@sh, @all_shows),                |
      :onchange => "window.location = '#{@show_url}'.replace(/XXXX/,$('#show').val())", :class => 'form-control col-sm-4') |
    .col-sm-4
  .form-group.form-row
    %label.col-form-label.text-right.col-sm-4{:for => "showdate"} Date
    = select_tag('showdate', options_with_default(@sd, @all_showdates),        |
      :onchange => "window.location = '#{@showdate_url}'.replace(/XXXX/,$('#showdate').val())", :class => 'form-control col-sm-4') |
    .col-sm-4
      - if @gAdminDisplay &&  (@sd.kind_of?(Showdate))
        %label.col-form-label.alert-warning= "#{@sd.saleable_seats_left} saleable/#{@sd.total_seats_left} in house"

  #voucher_menus
    - if @valid_vouchers.empty? && @sd
      %p.text-center.border-danger= @sd.show.sold_out_customer_info
    - else
      - @valid_vouchers.each do |v|
        %div{:id => "vouchertype_#{v.vouchertype_id}",:class => 'form-group form-row'}
          - fieldname = "valid_voucher[#{v.id}]"
          - max_sales = [30, v.max_sales_for_this_patron].min
          %label.col-form-label.text-right.col-sm-4{:for => "valid_voucher_#{v.id}"}= v.name_with_price
          - ticket_class = if v.vouchertype.reservable? then 'ticket' else '' end
          - if @gAdminDisplay
            .col-sm-1
              = text_field_tag fieldname, '', :size => 3, 'data-price' => v.price, :class => "itemQty #{ticket_class} form-control form-control-sm"
            .col-sm-7
              %label.col-form-label.form-control-sm.alert-warning.s-explain= v.explanation
          - else
            = select_tag(fieldname, options_for_select(0..max_sales), 'data-price' => v.price, :class => "itemQty #{ticket_class} form-control form-control-sm col-sm-1")
            - if max_sales.zero?
              %span.text-info.col-sm-7.border.border-danger.s-explain= v.explanation
          = hidden_field_tag "price[#{v.id}]", v.price, {:id => "valid_voucher_#{v.id}_price"}

    - if ! @valid_vouchers.empty? && !@sd.stream?
      .form-group.form-row
        %label.col-form-label.text-right.col-sm-4= t('store.accessible_seating_prompt')
        = text_area_tag 'comments', '', :rows => 1, :class => 'form-control col-sm-6', :placeholder => t('store.accessible_seating_description')
        .col-sm-2
