#checkout_message.hidden= @checkout_message

- if @cart.gift?
  #gift_recipient
    %h2 This Order is a Gift For...
    = render :partial => 'customers/form', :locals => {:customer => @cart.customer, :passive => true, :hide => [:opt_out], :legend => 'Gift Recipient Info' }

- form_tag place_order_path(@cart.purchaser), :id => '_stripe_payment_form' do
  - if @cart.include_vouchers? &&  !@cart.gift?
    #someone_else
    %h2 Who's Attending?
    %p
      - if @cart_contains_class_order
        For classes, you <strong>must</strong> enter enrollee's name(s) here:
      - else
        If someone <strong>other than the purchaser</strong> will be attending 
        this event or picking up this order, please enter his/her name here:
      = text_field_tag 'pickup', '', :size => 30

  %h2.floatleft#purchaser Purchaser: #{@cart.purchaser.full_name_with_email}
    
  %p.notice.clear
    We do not store or access your card number.
    Our transactions are securely processed 
    through #{link_to 'Stripe', 'http://stripe.com'}.

  - if @cart.total_price > 0

    = render :partial => 'credit_card', :locals => {:first_name => @cart.purchaser.first_name, :last_name => @cart.purchaser.last_name}

    - unless Option.terms_of_sale.blank?
      #terms_of_sale
        %label{:for => 'sales_final'} TERMS OF SALE:
        = check_box_tag 'sales_final',1,(@sales_final_acknowledged = true)
        %strong 
          I understand and agree to the
          = link_to_function "terms of sale.", "alert('#{escape_javascript(Option.terms_of_sale)}')"
        %br
        %br

    %p.strong 
      YOUR PURCHASE IS NOT COMPLETE UNTIL YOU CLICK HERE >>>
      = submit_tag 'Charge Credit Card', :id => '_stripe_submit', :onclick => 'A1.stripeSubmit()'
      -# hidden field 'commit' filled in by javascript on cc purchase
      = hidden_field_tag 'commit', '', :name => 'commit', :id => '_stripe_commit'
      = link_to "Cancel", store_path(@cart.customer), {:id => 'cancel',:class => 'genButton'} 

  - if @is_admin
    #other_payments.adminDiv
      - if @cart.total_price > 0
        Or pay with check number: 
        = text_field_tag 'check_number', '', :size => 6
        = submit_tag "Accept Check Payment" if @cart.total_price > 0
        = submit_tag "Accept Cash Payment"
      - else
        No payment required
        = submit_tag "Complete Comp Order"
      - if @cart.purchaser.valid_email_address?
        = check_box_tag('email_confirmation', 1, true)
        Send email confirmation
  - elsif @cart.purchaser.valid_email_address?
    = hidden_field_tag 'email_confirmation', 1
