= themed

#checkout_message.hidden= @checkout_message

- if @cart.gift?
  #gift_recipient
    %h2 This Order is a Gift For...
    = render :partial => 'customers/billing_address', :locals => {:customer => @cart.customer, :passive => true, :legend => 'Gift Recipient Info' }

= form_tag place_order_path(@cart.purchaser), :id => '_stripe_payment_form' do

  %h2#purchaser Purchaser: #{@cart.purchaser.full_name_with_email}

  = render :partial => 'pickup_by' if @allow_pickup_by_other
    
  - if @cart.total_price > 0

    = hidden_field_tag 'email_confirmation', 1
    #street_city_only= render :partial => 'customers/street_city_only', :locals => {:customer => @cart.purchaser}
    = render :partial => 'credit_card', :locals => {:name => @cart.purchaser.full_name}

  - unless @is_admin || Option.terms_of_sale.blank?
    #terms_of_sale
      %label{:for => 'sales_final'} TERMS OF SALE:
      = check_box_tag 'sales_final',1,(@sales_final_acknowledged == true)
      %strong 
        I understand and agree to the
        = link_to "terms of sale.", :onclick => "alert('#{escape_javascript(Option.terms_of_sale)}')"
      %br
      %br

  - if @is_admin
    #other_payments.adminDiv
      - if @cart.total_price > 0
        Or pay with check number: 
        = text_field_tag 'check_number', '', :size => 6
        = submit_tag "Accept Check Payment", :class => 'btn btn-warning'
        = submit_tag "Accept Cash Payment", :class => 'btn btn-warning'
      - if @cart.purchaser.valid_email_address?
        = check_box_tag('email_confirmation', 1, true)
        Send email confirmation
  - else 
    = hidden_field_tag 'email_confirmation', 1

  %p.strong 
    YOUR ORDER IS NOT COMPLETE UNTIL YOU CLICK HERE >>>
    - if @cart.total_price > 0
      = submit_tag 'Charge Credit Card', :id => '_stripe_submit', :class => 'btn btn-success', :onclick => 'A1.stripeSubmit()'
      = hidden_field_tag '_stripe_commit'
    - else
      = submit_tag "Complete Comp Order"

    = link_to "Cancel", store_path(@cart.customer), {:id => 'cancel',:class => 'btn btn-secondary'} 

