%script{:type => 'text/javascript', :src => 'https://js.stripe.com/v1/'}
= javascript_include_tag 'stripe'

:javascript
  function whenReady() {
     $('credit_card_first_name').setValue($$('#billing #customer_first_name')[0].getValue());
     $('credit_card_last_name').setValue($$('#billing #customer_last_name')[0].getValue());
     if (checkForStripe('_stripe_submit')) {
       alert("#{escape_javascript @checkout_message}");
     }
  }
  jQuery(document).ready(whenReady);
  
- if @cart.include_vouchers? &&  @recipient.id != @cust.id
  %h2 This Order is a Gift For...
  = render :partial => 'customers/form', :locals => {:customer => @recipient, :passive => true, :hide_opt_out => true, :legend => 'Gift Recipient Info' }
  = gen_button "Change Recipient Info", :action => :shipping_address, :gift => true

- form_tag({:action => 'place_order'}, {:id => '_stripe_payment_form'}) do
  - if @cart.include_vouchers? &&  @recipient.id == @cust.id
    #someone_else
    %h2 Who's Attending?
    %p
      - if @cart_contains_class_order
        For classes, you <strong>must</strong> enter enrollee's name(s) here:
      - else
        If someone <strong>other than the purchaser</strong> will be attending this event or picking up this order, please enter his/her name here:
      = text_field_tag 'pickup', '', :size => 30

  %h2.floatleft Please Review Billing Information
  .floatright.h2
    %strong= link_to "Cancel", {:action => 'index'}, {:id => 'cancel',:class => 'genButton'} 
    |
    %strong= gen_button "This Isn't Me", change_user_path
    | 
    %strong= gen_button "Change Billing Address", :action => 'edit_billing_address'
  .clear
  #billing= render :partial => 'customers/form', :locals => {:customer=>@cust, :passive => true, :hide_opt_out => true }

  %p.notice
    We do not store or access your card number.
    Our transactions are securely processed 
    through #{link_to 'Stripe', 'http://stripe.com'}.

  = render :partial => 'credit_card'
  
  - unless Option.value(:terms_of_sale).blank?
    #terms_of_sale
      %label{:for => 'sales_final'} TERMS OF SALE:
      = check_box_tag 'sales_final',1,(@sales_final_acknowledged = true)
      %strong 
        I understand and agree to the
        = link_to_function "terms of sale.", "alert('#{escape_javascript(Option.value(:terms_of_sale))}')"
      %br
      %br
  
  %p.strong 
    YOUR PURCHASE IS NOT COMPLETE UNTIL YOU CLICK HERE >>>
    = submit_tag 'Charge Credit Card', :name => 'commit', :id => '_stripe_submit', :onclick => 'stripeSubmit()'
    = link_to "Cancel", {:controller => 'store',:action => 'index'}, {:id => 'cancel',:class => 'genButton'} 
  - if @is_admin
    #other_payments.adminDiv
      Or pay with check number: 
      = text_field_tag 'check_number', '', :size => 6
      = submit_tag "Accept Check Payment"
      = submit_tag "Accept Cash Payment"
      - if @cust.valid_email_address?
        = check_box_tag('email_confirmation', 1, true)
        Send email confirmation
  - elsif @cust.valid_email_address?
    = hidden_field_tag 'email_confirmation', 1
= observe_field 'credit_card_number', :function => 'checkPlaceOrderForm()'
= observe_field 'credit_card_verification_value', :function => 'checkPlaceOrderForm()'
= observe_field 'sales_final', :function => 'checkPlaceOrderForm()'
