- if @recipient.id != @cust.id
  %h2 This Order is a Gift For...
  = render :partial => 'customers/form', :locals => {:customer => @recipient, :passive => true, :hide_opt_out => true, :legend => 'Gift Recipient Info' }
  = gen_button "Change Recipient Info", :action => :shipping_address, :gift => true

- form_tag :action => 'place_order' do
  %h2 Please Verify Billing Info
  %p
    %strong= gen_button "This Isn't Me", :action => 'not_me'
    | 
    %strong= gen_button "Change Billing Address", :action => 'edit_billing_address'
  = render :partial => 'customers/form', :locals => {:customer=>@cust, :passive => true }
  %br/
  %br/
  
  %h2 Credit Card Information
  %p.notice
    We do not store your card number after completing your purchase.
    %br/
    Our transactions are securely processed through Authorize.net.
  %br/
  = render :partial => 'credit_card'
  
  %label{:for => 'sales_final'} TERMS OF SALE:
  = check_box_tag 'sales_final',1,@sales_final_acknowledged
  %strong 
    I understand and agree that
    = link_to_unless Option.value(:terms_of_sale).blank?, |
        "all ticket sales are final and there are no refunds or exchanges.", |
        "javascript:alert('#{escape_javascript(Option.value(:terms_of_sale))}')" |
  %br
  %br
  
  = submit_tag APP_CONFIG[:cc_purch], :disable_with => "Processing, Please Wait..."
  = link_to "Cancel", {:action => 'index'}, {:id => 'cancel',:class => 'genButton' } 
= observe_field 'credit_card_number', :function => 'checkPlaceOrderForm()'
= observe_field 'credit_card_verification_value', :function => 'checkPlaceOrderForm()'
= observe_field 'sales_final', :function => 'checkPlaceOrderForm()'
