= themed
= set_active_tab '#t_store_donate'

:javascript
  // Expunge any nondigit characters in payment field, and confirm
  // payment amount before continuing.
  function confirmAndSubmit() {
    var amount_field = '#donation';
    var amountStr = $(amount_field).val();
    // ignore leading '$' sign if patron entered one
    amountStr = amountStr.replace(/^\$/, '');
    // delete everything after the first nondigit character
    amountStr = amountStr.replace(/[^0-9].*$/, '');
    $(amount_field).val(amountStr);
    var amountInt = parseInt(amountStr);
    if (isNaN(amountInt) || amountInt == 0) {
        alert("Please specify an amount.");
        return false;
    }
    if (confirm("Please confirm amount: OK to continue with payment of $" + amountInt.toString() + ".00 ?")) {
        A1.stripeSubmit();
    } 
    return false;   // disable form submission, since stripeResponseHandler will do it
  } 


#store
  #quick_donation
    %h1.text-center= sanitize(Option.quick_donation_banner)
    %p.text-center.lead-= sanitize(Option.quick_donation_explanation)

    - if session[:guest_checkout] == true
      #content.a1-plain.col-md-12
        = render :partial => 'layouts/login_form', locals: {head: @head}
          
    = form_tag(process_donation_path, {:id => '_stripe_payment_form', :onsubmit => 'return confirmAndSubmit()' }) do
      = hidden_field_tag 'referer', 'donate'
      = hidden_field_tag 'customer_id', @customer.id
      #billing= render :partial => 'customers/billing_address', :locals => {:customer => @customer}

      %fieldset#donation_info
        %legend Donation Information
        .form-group.form-row
          %label.col-form-label.text-right.col-sm-6{:for => :donation} Donation amount
          .input-group.col-sm-6.col-md-2
            = text_field_tag 'donation', @amount, :type => :number, :class => 'text-right form-control form-control-sm'
            .input-group-append
              %span.input-group-text.form-control-sm .00
        - if Option.allow_recurring_donations
          .form-group.form-row
            %label.col-form-label.text-right.col-sm-6{:for => :donation} Donation frequency
            .radio-group.col-sm-6.col-md-2.form-inline
              = radio_button_tag 'donation_type', 'one', Option.default_donation_type == 'one', class: 'form-control', id: 'one'
              = label_tag 'donation_type_one_time', 'One Time', class: 'form-control', for: 'one'
              = radio_button_tag 'donation_type', 'monthly', Option.default_donation_type == 'monthly', class: 'form-control', id: 'monthly'
              = label_tag 'donation_type_monthly', 'Monthly', class: 'form-control', for: 'monthly'
        .form-group.form-row
          %label.col-form-label{:for => :donation_comments} 
            If you'd like to be recognized as Anonymous, or if you'd like to donate in honor
            of someone else, please provide that information here:
          = text_area_tag 'donation_comments', '', :rows => 4, :class => 'form-control form-control-sm'

      = render :partial => 'credit_card', :locals => {:name => @customer.full_name }

      -# hidden field necessary for Stripe submit handler to fill in
      = hidden_field_tag 'commit', '', :name => 'commit', :id => '_stripe_commit'
      .row.py-3
        .col-md-4.offset-md-8= submit_tag 'Charge Donation to Credit Card', :id => '_stripe_submit', :class => 'btn btn-success btn-block'
