#store
  #quick_donation
    %h1.page_heading.center= sanitize(Option.quick_donation_banner)
    %p.explanation= sanitize(Option.quick_donation_explanation)

    - form_tag(quick_donate_path, {:id => '_stripe_payment_form'}) do
      = hidden_field_tag 'referer', 'donate'
      #billing= render :partial => 'customers/form', :locals => {:customer => @customer, :hide => [:opt_out, :birthday]}

      %fieldset#donation_info
        %legend Donation Information
        %label{:for => :donation} Donation amount
        = text_field_tag 'donation', @amount, :size => 5
        \.00
        %br
        %label.wide_label{:for => :donor_listing} If you'd like to be recognized as Anonymous, or if you'd like to donate in honor of someone else, please provide that information here:
        %br.clear
        = text_area_tag 'comments', '', :size => '40x5'

      %p.notice
        We do not store or access your card number.
        Our transactions are securely processed 
        through #{link_to 'Stripe', 'http://stripe.com'}.

      = render :partial => 'credit_card', :locals => {:first_name => @customer.first_name, :last_name => @customer.last_name }

      -# hidden field necessary for Stripe submit handler to fill in
      = hidden_field_tag 'commit', '', :name => 'commit', :id => '_stripe_commit'
      = submit_tag 'Charge Donation to Credit Card', :id => '_stripe_submit', :onclick => 'stripeSubmit()'
