#store
  #donation_panel
    = form_tag process_cart_path(@customer) do
      - if @is_admin
        %h1.text-center Record Donation
        %label{:for => :account_code_id} Fund or Account:
        = select_tag 'account_code_id', options_from_collection_for_select(AccountCode.all, :id, :name_with_code, @account_code.id)
      - else
        %h1.text-center Donation to #{@account_code.name}
        - if @account_code.description
          %p.text-center= @account_code.description
        = hidden_field_tag 'account_code_id', @account_code.id

      - unless @account_code.donation_prompt.blank?
        %label{:for => :donation_comments}= @account_code.donation_prompt
        = text_field_tag 'donation_comments', '', :size => 40
        %br
        %br

      %label{:for => :donation} Your tax-deductible donation
      = text_field_tag 'donation', '', :size => 5, :class => 'currency'
      \.00
      %br
      %br
      = hidden_field_tag 'referer', 'donate_to_fund'
      = submit_tag 'CONTINUE >>', {:id => 'submit', :class => 'btn  btn-success'}
      %span#nextstep to Billing Information

