= render :partial => 'store/check_javascript'
= sales_banners_for((@special_shows_only ? :special_event : :single_ticket), @subscriber, @next_season_subscriber)

- if @gNobodyReallyLoggedIn
  %p.subscription_msg2
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

#store
  - if @special_shows_only
    %h1.page_heading.center
      Select Event
      %span.small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code
    %p.center= link_to "Click here for regular show tickets", :action => 'index'
  - else
    %h1.page_heading.center
      Select Tickets
      %span.small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code
    %p.center= link_to "Click here for special events", :action => 'special'

  #ticket_menus
    - form_tag :action => 'shipping_address' do
      = render :partial => 'ticket_menus'

      %label{:for => :donation} Additional tax-deductible donation
      = text_field_tag 'donation', '', :size => 5, :onchange => 'recalc_total()', :class => 'itemQty'
      \.00
      %br
      #orderTotal
        %label.strong{:for=>:total} Order Total
        = text_field_tag 'total', '0.00', :size => 6, :disabled => true
      - unless Option.value(:allow_gift_tickets).blank?
        %label.emphasis{:for=>:gift} Is this order a <strong>gift?</strong>
        = check_box_toggle 'gift', false, 'nextstep','to enter Recipient information', |
          'to Billing information' |
      %br
      %label &nbsp;
      = hidden_field_tag 'redirect_to', 'index'
      = submit_tag 'CONTINUE >>', {:disabled => !(@gAdmin.is_boxoffice), :id => 'submit'}
      %span#nextstep to Billing Information
