= error_messages_for 'store'

- cid = (@customer ? @customer.id : nil)

%h1.bannerHead= link_to 'Click Here for 2008 Season Subscriptions!',:action=>'subscribe_2008'

#store

  - unless @cart.is_empty?
    #shoppingCart.pageDiv

      %h1 My Shopping Cart
      - form_tag :action => 'checkout', :id => cid do
        = render :partial => 'cart', :locals => {:editable => true, :id => cid}
        = gen_button  'Empty Cart', {:action => 'empty_cart', :id => cid}
        = submit_tag 'Checkout'
  
  #promo_entry.pageDiv

    = render :partial => 'promo_entry', :locals => {:promo_code => @promo_code.to_s, :id => cid}

  #purchaseIndividualTickets.pageDiv

    %h1
      Purchase Individual Tickets
      = "(Using Promo Code: #{h(@promo_code)}" if @promo_code

    - if @subscriber
      %p.storeText
        %strong Thanks for being a subscriber!
        You get a 10% discount on ticket purchases for your guests (be sure
        to select the 
        %em Guest of Subscriber
        ticket type) and exclusive access to subscriber-only tickets.  

    = render :partial => 'buy_tickets', :locals => {:subscriber => @subscriber, :id => cid }

  = render :partial => 'donate'
