= render :partial => 'store/check_javascript'
= sales_banners_for(@what, @subscriber, @next_season_subscriber)

- unless current_user
  %p.subscription_msg2
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

#store
  %h1.page_heading.center
    = label_for_page_header @what
    %span.small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code

  #event_types.center
    - (Show::TYPES - [@what]).each do |type|
      = link_to label_for_page_header(type), store_path(@customer, :what => type), :class => 'genButton'

  #ticket_menus
    = form_tag process_cart_path(@customer) do
      = hidden_field_tag 'what', h(@what)
      - if @valid_vouchers.empty? && @all_shows.length == 1
        #show_description.explanation There are no #{label_for_page_header @what} on sale at this time.
      - else
        = render :partial => 'ticket_menus'

      = render :partial => 'retail' if @is_admin

      %label{:for => :donation} Additional tax-deductible donation
      = text_field_tag 'donation', '', :size => 5, :class => 'itemQty'
      \.00
      %br
      #orderTotal
        %label.strong{:for=>:total} Order Total
        = text_field_tag 'total', '0.00', :size => 6, :disabled => true
      - if Option.allow_gift_tickets?
        %label.emphasis{:for=>:gift} Is this order a <strong>gift?</strong>
        = check_box_toggle 'gift', false, 'nextstep','to enter Recipient information', |
          'to Billing information' |
      %br
      %label &nbsp;
      = submit_tag 'CONTINUE >>', {:disabled => true, :id => 'submit'}
      %span#nextstep to Billing Information
