- if @next_season_subscriber
  = sanitize_option_text :single_ticket_sales_banner_for_next_season_subscribers, 'div', :id => 'storeBannerNextSeasonSubscriber', :class => 'storeBanner'
- elsif @subscriber
  = sanitize_option_text :single_ticket_sales_banner_for_current_subscribers, 'div', :id => 'storeBannerSubscriber', :class => 'storeBanner'
- else
  = sanitize_option_text :single_ticket_sales_banner_for_nonsubscribers, 'div', :id => 'storeBannerNonSubscriber', :class => 'storeBanner'

- if @gNobodyReallyLoggedIn
  %p.subscription_msg2
    %strong Already a subscriber?
    = link_to "Sign in to your account", :controller => 'customers', :action => 'login'
    to manage your reservations and get your Subscriber benefits.

#store
  
  / #promo_entry.pageDiv
  /  = render :partial =>'promo_entry',:locals=>{:promo_code=>@promo_code.to_s}

  %h1.page_heading.center
    Select Tickets
    %span.small= "(Using Promo Code: #{h(@promo_code)}" if @promo_code

  = sanitize_option_text((@next_season_subscriber ? :next_season_subscriber_store_message : @subscriber ? :subscriber_store_message : :nonsubscriber_store_message), 'p', :class => 'storeText')
  = sanitize_option_text(:store_message, 'p', :class => 'storeText')
  = sanitize_option_text(:single_ticket_purchase_message, 'p', :class => 'storeText')
  
  #ticket_menus
    - form_tag :action => 'shipping_address' do
      = render :partial => 'ticket_menus', :locals => {:donation_field => 'donation', :submit_button => 'submit'}

      %label{:for => :donation} Additional tax-deductible donation
      = text_field_tag 'donation', '', :size => 5, :onBlur => 'recalc_total()'
      \.00
      %br
      #orderTotal
        %label.strong{:for=>:total} Order Total:
        = text_field_tag 'total', '0.00', :size => 6, :disabled => true
      - unless Option.value(:allow_gift_tickets).blank?
        %label.emphasis{:for=>:gift} Is this order a <strong>gift?</strong>
        = check_box_toggle 'gift', false, :nextstep, 'to enter Recipient information', |
          'to Billing information' |
      %br
      %label &nbsp;
      = hidden_field_tag 'redirect_to', 'index'
      = submit_tag 'CONTINUE >>', {:disabled => true, :id => 'submit'}
      %span#nextstep to Billing Information
