= themed
= render :partial => 'store/check_javascript'
= sales_banners_for(@what, @subscriber, @next_season_subscriber)

- unless current_user
  %p.subscription_msg2
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

#store
  %h1.text-center
    = label_for_page_header @what
    %span.small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code

  #event_types.text-center
    - (Show::TYPES - [@what]).each do |type|
      = link_to label_for_page_header(type), store_path(@customer, :what => type), :class => 'btn btn-secondary'

  #ticket_menus
    = form_tag process_cart_path(@customer) do
      = hidden_field_tag 'what', h(@what)
      - if @valid_vouchers.empty? && @all_shows.length == 1
        #show_description.explanation There are no #{label_for_page_header @what} on sale at this time.
      - else
        = render :partial => 'ticket_menus'

      = render :partial => 'retail' if @is_admin

      .form-row  
        .col-md-4.text-right
          %label.col-form-label{:for => :donation} Additional tax-deductible donation
        .col-md-2
          .input-group
            = text_field_tag 'donation', '', :size => 5, :class => 'itemQty form-control form-control-sm'
            .input-group-append
              %span.input-group-text.form-control-sm .00
        .col-md-6

      .form-row#orderTotal
        .col-md-4.text-right
          %label.col-form-label.strong{:for=>:total} Order Total
        .col-md-2
          = text_field_tag 'total', '0.00', :size => 6, :disabled => true, :class => 'form-control form-control-sm'
        .col-md-6

      - if Option.allow_gift_tickets?
        .form-row
          .col-md-4.text-right
            %label.col-form-label.strong{:for=>:gift} Is this order a <strong>gift?</strong>
          .col-md-1
            = check_box_toggle 'gift', false, 'nextstep','to enter Recipient information','to Billing information'
          .col-md-7
      .form-row  
        .col-md-4
        .col-md-4
          = submit_tag 'CONTINUE >>', :disabled => true, :id => 'submit', :class => 'btn btn-success'
          %span#nextstep to Billing Information
        .col-md-4
