= themed
= render :partial => 'store/check_javascript'
= sales_banners_for(@what, @subscriber, @next_season_subscriber)

- unless current_user
  %p.lead.text-center.bg-light.py-4
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

#store
  %h1.text-center
    = label_for_page_header @what
    %span.small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code

  = render :partial => 'event_types'

  #ticket_menus
    = form_tag process_cart_path(@customer) do
      = hidden_field_tag 'what', h(@what)
      - if @valid_vouchers.empty? && @all_shows.length == 1
        #show_description.text-center.border.border-danger There are no #{label_for_page_header @what} on sale at this time.
      - else
        = render :partial => 'ticket_menus'

      = render :partial => 'retail' if @is_admin

      .form-group.form-row  
        %label.col-form-label.text-right.col-sm-4{:for => :donation} Additional tax-deductible donation
        .input-group.col-md-2.col-xs-2
          = text_field_tag 'donation', '', :type => :number, :class => 'itemQty text-right form-control form-control-sm'
          .input-group-append
            %span.input-group-text.form-control-sm .00
        .col-sm-6

      .form-group.form-row#orderTotal
        %label.col-form-label.text-right.col-sm-4.strong{:for=>:total} Order Total
        = text_field_tag 'total', '0.00', :size => 6, :disabled => true, :class => 'text-right form-control form-control-sm col-md-1 col-sm-2'
        .col-sm-6

      - if Option.allow_gift_tickets? and @logged_in
        .form-group.form-row
          .col-md-4
          .form-check.col-md-8
            = check_box_toggle 'gift', false, 'submit','Continue to Recipient Information','Continue to Billing Information',:class => 'form-check-input'
            %label.form-check-label{:for=>:gift} This order is a gift
      .form-group.form-row  
        .col-md-4.offset-md-4
          = submit_tag 'Continue to Billing Information', :disabled => true, :id => 'submit', :class => 'btn btn-block btn-success text-center'
