= render :partial => 'store/check_javascript'
= sales_banners_for((@special_shows_only ? :special_event : :single_ticket), @subscriber, @next_season_subscriber)

- unless current_user
  %p.subscription_msg2
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

#store
  %h1.page_heading.center
    Select #{@what}
    %span.small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code

  #event_types.center
    = gen_button 'Regular Tickets', store_path(@customer)
    = gen_button 'Special Events', store_path(@customer, :what => 'Special Events')
    = gen_button 'Camps & Classes', store_path(@customer, :what => '

  #ticket_menus
    - form_tag process_cart_path(@customer) do
      = render :partial => 'ticket_menus' unless @valid_vouchers.empty?

      -# = render :partial => 'retail' if @is_admin

      %label{:for => :donation} Additional tax-deductible donation
      = text_field_tag 'donation', '', :size => 5, :onchange => 'recalc_total()', :class => 'itemQty'
      \.00
      %br
      #orderTotal
        %label.strong{:for=>:total} Order Total
        = text_field_tag 'total', '0.00', :size => 6, :disabled => true
      - if Option.allow_gift_tickets?
        %label.emphasis{:for=>:gift} Is this order a <strong>gift?</strong>
        = check_box_toggle 'gift', false, 'nextstep','to enter Recipient information', |
          'to Billing information' |
      %br
      %label &nbsp;
      = submit_tag 'CONTINUE >>', {:disabled => true, :id => 'submit'}
      %span#nextstep to Billing Information
