= themed
= render :partial => 'store/check_javascript'
= sales_banners_for(@what, @subscriber, @next_season_subscriber)

= hidden_field_tag 'showdates_with_reserved_seating', @showdates_with_reserved_seating

- unless current_user
  %p.lead.text-center.bg-light.py-4
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

#store
  %h1.text-center
    = label_for_page_header @what
    %span.a1-text-small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code

  = render :partial => 'event_types'

  #ticket_menus
    = form_tag process_cart_path(@customer) do
      = hidden_field_tag 'what', h(@what)
      - if @nothing_to_buy
        #show_description.text-center.border.border-danger There are no #{label_for_page_header @what} on sale at this time.
      - else
        = render :partial => 'ticket_menus'

      = render :partial => 'retail' if @is_admin

      .form-group.form-row  
        %label.col-form-label.text-right.col-sm-4{:for => :donation} Additional tax-deductible donation
        .input-group.col-md-2.col-xs-2
          = text_field_tag 'donation', '', :type => :number, :class => 'itemQty text-right form-control form-control-sm'
          .input-group-append
            %span.input-group-text.form-control-sm .00
        .col-sm-6

      .form-group.form-row#orderTotal
        %label.col-form-label.text-right.col-sm-4.strong{:for=>:total} Order Total
        = text_field_tag 'total', '0.00', :size => 6, :disabled => true, :class => 'text-right form-control form-control-sm col-md-1 col-sm-2'
        .col-md-6
          
      .form-row.reserved-seating.d-none
        .col-sm-2.col-offset-4= button_tag 'Choose Seats...', :class => 'btn btn-outline-primary btn-small show-seatmap'
        .col-sm-3.text-center= text_field_tag 'seats', '', :readonly => 'readonly', :class => 'seat-display shadow-none a1-passive-text-input'

      = render :partial => 'gift_options_and_continue'

.d-none#seating-charts-wrapper
  #seatmap.seatCharts-container
  %img.seating-charts-overlay
