= themed

%h1.text-center Thank You for Your Purchase!

.notice
  %p 
    You have paid a total of 
    %span.strong= number_to_currency @order.total_price
    - if @order.total_price > 0 
      by 
      %span.strong= humanize(@order.purchase_medium)
    for order number
    %span.strong= @order.id
  %p.strong Please print this confirmation for your records:
  %pre= @order.summary

  - if @order.gift?
    #gift
      %fieldset#gift_recipient
        %legend This order is a gift for:
        %label= h @recipient.full_name
        %br
        %label= h @recipient.street
        %br
        %label= "#{h @recipient.city}, #{h @recipient.state} #{h @recipient.zip}"
      %p.emphasis Note: Recipient has NOT been notified of this gift.

  = sanitize_option_text(:checkout_notices, 'div', :id => 'checkout_notices')

  - unless @order.comments.blank?
    #order_notes
      %p <strong>Order notes:</strong> #{@order.comments}

%p.text-center
  - if @is_admin
    = link_to 'Back to Customer List', customers_path, :class => 'btn btn-outline-primary'
    = link_to 'Back to This Customer', customer_path(@order.customer), :class => 'btn btn-outline-primary'
  - else
    = link_to 'Make Another Purchase', store_path(@order.purchaser), :class => 'btn btn-success'
    - if @order.purchaser.has_ever_logged_in?
      = link_to 'Back to My Tickets', customer_path(@order.purchaser), :class => 'btn btn-primary'
      = link_to 'Log Out', logout_path, :class => 'btn btn-primary'
