%h1.page_heading.center Thank You for Your Purchase!

.notice
  %p 
    Your credit card ending in 
    %strong= h(@cc_number[-4..-1])
    has been charged 
    %strong= number_to_currency @amount

  %p.strong Please print this confirmation for your records:
  %pre= @order_summary

  #checkout_notices= sanitize_option_text(:checkout_notices)

%p.center
  - if @is_admin
    = admin_button('Back to Customer List', {:controller => 'customers', :action => 'list'})
    = admin_button('Back to This Customer', {:controller => 'customers', :action => 'welcome' })
  - else
    = gen_button('Back to My Tickets', {:controller => 'customers', :action => 'welcome' })
    = gen_button('Make Another Purchase', {:controller => 'store', :action => 'index'})
