%h1.page_heading.center Thank You for Your Purchase!

.notice
  %p 
    Your credit card ending in 
    %strong= h(@cc_number[-4..-1])
    has been charged 
    %strong= h(sprintf("%0.2f",@amount.to_f))

  %p.strong Please print this confirmation for your records:
  %pre= @order_summary

  %ul
    %li All ticket sales are final. No refunds or exchanges permitted.
    %li Tickets will be held at will-call and may be picked up 1 hour prior to curtain.
    %li Seating begins 30 minutes prior to curtain.
    %li Latecomers will be seated at the discretion of the House Manager. Please arrive early.


%p.center
  - if @is_admin
    = admin_button('Back to Customer List', {:controller => 'customers', :action => 'list'})
    = admin_button('Back to This Customer', {:controller => 'customers', :action => 'welcome' })
  - else
    = gen_button('Back to My Tickets', {:controller => 'customers', :action => 'welcome' })
    = gen_button('Make Another Purchase', {:controller => 'store', :action => 'index'})
