= render :partial => 'cart', :editable => false

#store
  %h1.page_heading.center Gift Order

  %p 
    Please enter the gift recipient's full name, and if s/he is not already an 
    Altarena patron, provide recipient's mailing address and phone or email.

  - if @includes_donation
    %p.strong Note: Donations will be credited to buyer, not to gift recipient.

  - form_tag :action => 'set_shipping_address' do
    = render :partial => 'customers/form', :locals => {:customer => @recipient, :legend => "Gift Recipient", :hide_opt_out => false}
    = submit_tag '<< Go Back', :onClick => "location.href='#{url_for :action => :index}'"
    to change or cancel order, or
    = submit_tag 'CONTINUE >>'
    %span#nextstep to Billing Information

