#store
  %h1.text-center Gift Order

  = form_tag shipping_address_path(@customer) do
    - if @mailable
      = hidden_field_tag 'mailable_gift_order', 1
      .alert.alert-warning
        If part of this order needs to be mailed, where should it be mailed?
        (We will not otherwise notify recipient of their gift, but we need
        their mailing address even if you want us to mail order to you.)
      = radio_button_tag 'ship_to_purchaser', '1', true
      %label{:for => :ship_to_purchaser_1} To the purchaser (you)
      %br
      = radio_button_tag 'ship_to_purchaser', '0', false
      %label{:for => :ship_to_purchaser_0} To the gift recipient
    - else
      .alert.alert-warning
        We won't notify the recipient of their gift, but we do need
        the gift recipient's full name, mailing address, and at least
        one phone number or email address.

    - if @gOrderInProgress.includes_donation?
      %p.strong Note: Donations will be credited to buyer, not to gift recipient.

    = render :partial => 'customers/billing_address', :locals => {:customer => @recipient, :legend => "Gift Recipient"}
    = render :partial => 'customers/extra'        
    .row
      .col-md-3= link_to 'Cancel/Start Over', store_cancel_path, { :class => 'btn btn-danger btn-block' }
      .col-md-5
      .col-md-4.text-right= submit_tag 'Continue to Billing Information', :class => 'btn btn-success', :id => 'submit'
