= themed
= sales_banners_for :subscription, @subscriber, @next_season_subscriber

- if @nobody_really_logged_in
  %p.lead.text-center.bg-light.py-4
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

#store
  = render :partial => 'event_types'

  %h1.text-center 
    Become A Subscriber
    %span.a1-text-small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code

  #subscription_menus
    = form_tag process_cart_path(@customer) do
      = hidden_field_tag 'what', h(@what)
      = render :partial => 'enter_promo_code'

      - @subs_to_offer.each do |v|
        .form-row
          .col-md-4.text-right
            %label.col-form-label{:for => "valid_voucher_#{v.id}"}= v.name_with_price
          .col-md-1
            = select_tag("valid_voucher[#{v.id}]", options_for_select(0..20), :class => 'itemQty form-control form-control-sm', 'data-price' => v.price)
          .col-md-6

      .form-group.form-row  
        %label.col-form-label.text-right.col-md-4{:for => :donation} Additional tax-deductible donation
        .input-group.col-md-2.col-xs-2
          = text_field_tag 'donation', '', :type => 'number', :size => 4, :class => 'itemQty text-right form-control form-control-sm a1-no-spinner'
          .input-group-append
            %span.input-group-text.form-control-sm .00
        .col-md-6

      .form-group.form-row#orderTotal
        .col-md-4.text-right
          %label.col-form-label.strong{:for=>:total} Order Total:
        .col-md-1.col-xs-1
          = text_field_tag 'total', '0.00', :size => 6, :disabled => true, :class => 'form-control form-control-sm'

      - if Option.allow_gift_subscriptions?
        .form-group.form-row
          .col-md-4
          .form-check.col-md-8
            = check_box_toggle 'gift', false, 'submit','Continue to Recipient Information','Continue to Billing Information',:class => 'form-check-input'
            %label.form-check-label{:for=>:gift} This order is a gift

      .form-group.form-row  
        .col-md-4.offset-md-4
          = hidden_field_tag 'referer', 'subscribe'
          = submit_tag 'Continue to Billing Information', :disabled => true, :id => 'submit', :class => 'unreserved btn btn-block btn-success text-center'

