= sales_banners_for :subscription, @subscriber, @next_season_subscriber

- if @gNobodyReallyLoggedIn
  %p.subscription_msg2
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

= javascript_tag "recalc_total = function() { recalculate('total', '.itemQty', '#{@gAdmin.is_boxoffice ? '' : 'submit'}') }"

#store
  #subscription_menus
    %h1.page_heading.center 
      Buy Subscriptions
      %span.small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code

    - form_tag :action => 'shipping_address' do
      %br
      = render :partial => 'enter_promo_code'
      %br

      - @subs_to_offer.each do |s|
        %label.wide_label{:for => "vouchertype[#{s.id}]"}= s.name_with_price
        = select_tag("vouchertype[#{s.id}]", options_for_select((0..20).to_a), :onchange => 'recalc_total()', :class => 'itemQty')
        %br/
        = hidden_field_tag "vouchertype_#{s.id}_price", s.price
      %label.wide_label{:for => :donation} Additional tax-deductible donation
      = text_field_tag 'donation', '', :size => 5, :onchange => 'recalc_total()', :class => 'itemQty'
      \.00
      %br
      #orderTotal
        %label.strong.wide_label{:for=>:total} Order Total:
        = text_field_tag 'total', '0.00', :size => 6, :disabled => true
      - if Option.allow_gift_subscriptions?
        %label.emphasis.wide_label{:for=>:gift} Is this order a <strong>gift?</strong>
        = check_box_toggle 'gift', false, :nextstep, 'to enter Recipient information', 'to Billing information'
      %br
      %label.wide_label &nbsp;
      = hidden_field_tag 'redirect_to', 'subscribe'
      = submit_tag 'CONTINUE >>', {:disabled => !(@gAdmin.is_boxoffice), :id => 'submit'}
      %span#nextstep to Billing Information

