= themed

= sales_banners_for :subscription, @subscriber, @next_season_subscriber

- if @nobody_really_logged_in
  %p.subscription_msg2
    %strong Already a subscriber?
    = link_to "Sign in to your account", login_path
    to manage your reservations and get your Subscriber benefits.

#store
  #subscription_menus
    %h1.text-center 
      Buy Subscriptions
      %span.small= "(Using Promo Code: #{h(@promo_code)})" if @promo_code

    = form_tag process_cart_path(@customer) do
      = hidden_field_tag 'what', h(@what)
      %br
      = render :partial => 'enter_promo_code'
      %br

      - @subs_to_offer.each do |v|
        .form-row
          .col-md-5.text-right
            %label.col-form-label{:for => "valid_voucher_#{v.id}"}= v.name_with_price
          .col-md-1
            = select_tag("valid_voucher[#{v.id}]", options_for_select(0..20), :class => 'itemQty form-control form-control-sm', 'data-price' => v.price)
          .col-md-6

      .form-row  
        .col-md-5.text-right
          %label.col-form-label{:for => :donation} Additional tax-deductible donation
        .col-md-2
          .input-group
            = text_field_tag 'donation', '', :size => 3, :class => 'itemQty form-control form-control-sm'
            .input-group-append.form-control-sm
              %span.input-group-text .00
        .col-md-5

      .form-row#orderTotal
        .col-md-5.text-right
          %label.col-form-label.strong{:for=>:total} Order Total:
        .col-md-2
          = text_field_tag 'total', '0.00', :size => 6, :disabled => true, :class => 'form-control form-control-sm'
        .col-md-5

      - if Option.allow_gift_subscriptions?
        .form-row
          .col-md-5.text-right
            %label.col-form-label.strong{:for=>:gift} Is this order a <strong>gift?</strong>
          .col-md-1
            = check_box_toggle 'gift', false, 'nextstep', 'to enter Recipient information', 'to Billing information'
          .col-md-6

      .form-row
        .col-md-5
        .col-md-4
          = hidden_field_tag 'referer', 'subscribe'
          = submit_tag 'CONTINUE >>', {:disabled => !@is_admin, :id => 'submit', :class => 'btn btn-success'}
          %span#nextstep to Billing Information
        .col-md-3



