<%= javascript_include_tag 'swipe' %>

<h1>Walk-up Sale (from <%=h @ip %>)</h1>

<%= error_messages_for 'store', :header_message => default_validation_error_message %>
                  
<%= search_panel('customers', 'list', {
                   :label => "Walk-up subscriber search:",
                   :newpage => true,
                   :submit => "Search in new window"}) %>

<%= start_form_tag :action => 'do_walkup_sale' %>
<%= hidden_field_tag 'otp', @otp %>
<% js,showmenu,showdatemenu =
   dependent_js_selects(@shows, 'show', 'name', 'showdate', 'printable_date',
   :selected_parent => @show_id, :selected_child => @showdate_id) %>
<%= js %>
<% js_fields = to_js_array(@vouchertypes.map { |v| v.id }) %>
<% onChg = "javascript:recalculate('total',#{js_fields})" %>

<table border="1">
  <tr>
    <td class="help" valign="top">
      <p> 1. Select show, date, tickets &amp; donation</p>
    </td>
    <td class="help" valign="top">
      <p> 2. Type information or swipe card</P>
    </td>
  </tr>

  </tr>
  <tr>
    <td valign="top">
      <table border=0>
        <tr>
          <td  align='right'><label for="show_name">Show:</label></td>
          <td><%= showmenu %></td>
        </tr>
        <tr>
          <td align='right'><label for="showdate_thedate">Date:</label></td>
          <td><%= showdatemenu %></td>
        </tr>
      </table>
      <table border=0>
        <tr>
          <td colspan='2' align='right'>
            <label for="donation">Additional donation:</label>
          </td>
          <td>
            <%= text_field_tag 'donation', '0', :maxlength => 7, :size => 5,
            :id => 'donation', :onChange => onChg %>
          </td>
        </tr>

        <% @vouchertypes.each do |v| %>
        <tr>
          <td align="right"><%=h v.name %></td>
          <td align="center">$
            <%= text_field_tag "price#{v.id}", sprintf("%.02f", v.price),
                :disabled => true, :size => 6, :id => "price#{v.id}" %> 
          </td>
          <td>
            <%= select_tag "qty[#{v.id}]", options_for_select((0..8),0),
                {:id => "select#{v.id}", :onChange => onChg} %>
          </td>
        </tr>
        <% end %>    
        <tr>
          <td align="right">TOTAL</td>
          <td></td>
          <td>
            <%= text_field_tag 'total', 0, :id => 'total', :size => 6,
            :disabled => true, :style => "font-weight: bold;" %>
          </td>
        </tr>
      </table>

    </td>

    <td valign="top">

      <p id="ccReady" class="genButton">
        <a href='javascript:waitForSwipe();'>Click Here Before Swiping Card</a>
      </p>
      <p id="ccWaiting" class="ccWaiting" style="display:none;">
        <a href='javascript:resetSwipe();'>
          Swipe Card Now or Click Here to Cancel
          <img valign='center' border='none' src='/images/wait18trans.gif'/>
        </a>
      </p>
      <div id="credit_card">
      <%= render :partial => 'credit_card', :locals => {'name_needed'=>true} %> 
      </div>

      <%= submit_tag APP_CONFIG[:cc_purch],
          :disable_with => 'Processing, Please Wait...' %>
      <%= submit_tag 'Paid By Cash or Check' %>
    </td>
  </tr>
</table>
<%= end_form_tag %>

<div class="invisible">

<%= form_remote_tag(:url => {:action => 'process_swipe', :protocol => 'https://'},
                    :update => 'credit_card') %>
<!--
                    :before => "encryptField('swipe_data')",
                    :complete => "encryptField('credit_card_number')") %>
-->

<%= text_field_tag 'swipe_data', '', :size => 1, :maxlength => 128 %>
<%= submit_tag '', :onClick => 'resetSwipe();' %>
<%= end_form_tag %>

</div>
