#footer.center
  %p
    \&copy; 2011
    Secure ticketing by
    = link_to 'A1 Patron Systems', 'http://www.a1patronsystems.com'
    = " - commit #{APP_VERSION} - "
    - unless (s = sanitize_option_text(:privacy_policy_url, 'span')).blank?
      = link_to "Terms of Use &amp; Privacy Policy", s
  %p.small
    Seeing 
    = link_to 'security warnings?', 'http://www.microsoft.com/windows/ie/ie6/using/howto/security/settings.mspx', :target => '_blank'
    Missing the "Login Using Facebook" button?
    Those problems are related to compatibility issues with Internet Explorer 8.
    %br
    You should experience no problems with
    = link_to 'Firefox', 'http://www.mozilla.com/firefox/', :target => '_blank'
    ,
    = link_to 'Safari', 'http://www.apple.com/safari/download', :target => '_blank'
    ,
    = link_to 'Mobile Safari for iPhone/iPad', 'http://www.apple.com/iphone/features/safari.html', :target => '_blank'
    ,
    = link_to 'Chrome', 'http://www.google.com/chrome', :target => '_blank'
    or 
    = link_to 'Opera', 'http://www.opera.com/download', :target => '_blank'

    



