#welcome_header
  Welcome, #{@gLoggedIn.full_name}
  = gen_button 'Log Out', logout_path
  - if @disableAdmin
    = gen_button('Regular Patron View', temporarily_disable_admin_customers_path)
    = popup_help_for :disable_admin
  - elsif @enableAdmin
    = gen_button('Admin View', reenable_admin_customers_path)
    = popup_help_for :disable_admin
