#welcome_header
  = link_to 'Log Out', logout_path, :class => 'btn btn-danger float-right'
  - if @gAdminDisplay
    .float-right
      = popup_help_for :disable_admin
      = link_to 'Regular Patron View', temporarily_disable_admin_session_path, :class => 'btn btn-secondary'
  - elsif current_user().is_staff
    .float-right
      = popup_help_for :disable_admin
      = link_to 'Admin View', reenable_admin_session_path, :class => 'btn btn-secondary'
