#welcome_header
  - if !current_user.has_ever_logged_in?
    = link_to 'Cancel/Start Over', logout_path, :class =>  'btn btn-danger float-right'
  - else
    Signed in as 
    = link_to current_user.full_name, customer_path(current_user)
    = link_to 'Log Out', logout_path, :class => 'genButton'
    - if @gAdminDisplay
      = link_to 'Online Help', 'http://docs.audience1st.com', :class => 'genButton', :target => '_blank'
      = link_to 'Regular Patron View', temporarily_disable_admin_session_path, :class => 'btn btn-secondary float-right'
      = popup_help_for :disable_admin
    - elsif current_user().is_staff
      = link_to 'Admin View', reenable_admin_session_path, :class => 'btn btn-secondary float-right'
      = popup_help_for :disable_admin
