#welcome_header
  Signed in as 
  = link_to current_user.full_name, customer_path(current_user)
  = link_to 'Log Out', logout_path, :class => 'genButton'
  - if @gAdminDisplay
    = link_to 'Regular Patron View', temporarily_disable_admin_session_path, :class => 'genButton'
    = popup_help_for :disable_admin
  - elsif current_user().is_staff
    = link_to 'Admin View', reenable_admin_session_path, :class => 'genButton'
    = popup_help_for :disable_admin
