%table{:width=>'100%'}
  %tr
    %td.l#welcome
      Welcome,
      = h @gLoggedIn.full_name
      = button_to 'Log Out', {:controller=>'customers', :action=>'logout'}
      = button_to('Disable Admin', :controller => 'customers', :action => 'disable_admin') if (@gAdmin.is_staff && controller.controller_name=~/customer|store/)
    %td.r
      = Time.now.to_formatted_s(:short)
      - if @gAdmin.is_admin 
        %br
        = "#{h Session.num_active} users"
