%table{:width=>'100%'}
  %tr
    %td.l#welcome
      Welcome,
      - if @gAdmin.is_staff
        %span.adminField= h("#{logged_in.full_name} <#{logged_in.login}>")
        = button_to 'Disable Admin', :controller => 'customers', :action => 'disable_admin'
      - else
        = h("#{logged_in.full_name} <#{logged_in.login}>")
      = button_to 'Log Out', {:controller=>'customers', :action=>'logout'}, {:class => 'genButton'} 

    %td.r
      - if @gAdmin.is_staff 
        = link_to 'Help', APP_CONFIG[:help_manual], {:class=>:adminButton, :target=>:_blank}
      = Time.now.to_formatted_s(:short)
      - if @gAdmin.is_admin 
        %br
        = "#{h Session.num_active} users logged in"
