#welcome_header
  Welcome, #{@gLoggedIn.full_name}
  = gen_button 'Log Out', logout_path
  - if @disableAdmin
    = gen_button('Regular Patron View', :controller => 'customers', :action => 'temporarily_disable_admin') 
    = popup_help_for :disable_admin
  - elsif @enableAdmin
    = gen_button('Admin View', :controller => 'customers', :action => 'reenable_admin') 
    = popup_help_for :disable_admin
