%ul#store_nav
  = nav_tabs('store_nav',['Buy Tickets', :store, :index],['My Tickets', :customers, :welcome],['Contact Info', :customers, :edit] )

- if @gAdmin.is_staff
  %ul#staff_nav
    = nav_tabs('staff_nav',['Walkup Sales', :store, :walkup],['Customers', :customers, :list],['Shows', :shows, :list],['Voucher Types', :vouchertypes, :list],['Reports', :report, :index],['Donations', :donation, :list]) 

.clear
%br

- if @gAdmin.is_staff
  = render :partial => 'customers/quick_search'

- if @gAdmin.is_staff &&  @gCustomer
  %p.admin_field
    = h "#{@gCustomer.full_name}'s Account:"
    - buttons = [['Contact History', :visits, :list, {}], ['Prospecting Activities', :visits, :list_by_prospector, {}],        ['Database Transactions',:txn, :list,{:params => {:txns_filter => c.id}}],        ['Record donation',:donation,:new, {}]]
    - if @gAdmin.is_boxoffice_manager
      - buttons.push(['Add Vouchers',:vouchers, :addvoucher, {}], ['Force Classic View', :customers, :welcome, {:force_classic => 1}],          ['Donation & Purchase History', :donation, :list, {:use_cid => 1, :commit => 'Go', :cid => c,:show_vouchers => true}])
    = button_bar(buttons)

.clear
