!!! 5
%html
  %head
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => favicon_path}
    = bootstrap_stylesheet_link_tag
    = stylesheet_link_tag :application, :media => 'all'
    = venue_stylesheet_link_tag

    = javascript_include_tag :application
    = javascript_include_tag "#{STRIPE_JS_HOST}/v1/"

    %title= @page_title || h(action_name.humanize)
    %meta{'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}/
    %meta{:name=>:description, :content=>''}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = csrf_meta_tags

  %body{:id=>"#{controller.controller_name}_#{action_name}", :class => ('maintenance' if @gMaintMode)}

    = hidden_field_tag 'autocomplete_route', customer_autocomplete_url
    
    #outer_header
    #outer_wrapper
      #inner_wrapper.container
        - if (url = Option.venue_homepage_url).blank?
          #header= sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
        - else
          %a{:id => 'top_level_banner_link', :href => url}
            #header= sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
        #page_body
          #left_sidebar
          #right_main
            #themed-nav
              - if existing_customer(@customer) && (@customer.has_ever_logged_in? || @gAdminDisplay)
                = render :partial => 'navbars/main_tabs'
              - if @gAdminDisplay
                = render :partial => 'navbars/season_tabs'
            - if current_user && @gAdminDisplay && controller.controller_name !~ /checkins|walkup_sales/
              = render :partial => 'customers/quick_search'
              = render :partial => 'navbars/staff_buttons' if display_customer_actions?
            - if controller.controller_name =~ /checkins|walkup_sales/
              = render :partial => 'checkins/change_showdate'
              = render :partial => 'checkins/show_stats', :locals => {:showdate => @showdate}

            #content.clear
              - if @gCheckoutInProgress && %w(customers store sessions).include?(controller_name)
                %h1.text-center Your Order Is Not Yet Complete
                = render :partial => 'store/cart', :locals => {:editable => false,:cart=>@gCart}
              = render :partial => 'messages/notices'
              = yield
      - if current_user
        #welcome_header.container= render :partial => 'layouts/login_banner'

    #footer
      %p
        Powered by&nbsp;
        = link_to 'Audience1st', 'http://www.audience1st.com', :target => '_blank'
        - unless (s = Option.privacy_policy_url).blank?
          = link_to "&nbsp;&bull;&nbsp; Terms of Use & Privacy Policy".html_safe, s
        \&nbsp;&bull;&nbsp;
        = link_to Option.venue, Option.venue_homepage_url
