!!! 5
%html
  %head
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => favicon_path}
    = bootstrap_stylesheet_link_tag
    = stylesheet_link_tag :application, :media => 'all'
    = venue_stylesheet_link_tag

    = javascript_include_tag :application
    = bootstrap_javascript_tag
    = javascript_include_tag "#{STRIPE_JS_HOST}/v1/"

    %title= @page_title || h(action_name.humanize)
    %meta{'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}/
    %meta{:name=>:description, :content=>''}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = csrf_meta_tags

  %body{:id=>"#{controller.controller_name}_#{action_name}", :class => ('maintenance' if @gMaintMode)}
    %noscript
      %p.lead.text-danger.border.border-danger
        JavaScript appears to be disabled in your browser.  
        This site requires JavaScript.  Please enable 
        JavaScript in your browser and reload this page.

    - if Rails.env.test?
      :javascript
        window.Date.now = function() { return(#{(Time.current.to_f * 1000.0).to_i}); }
    = hidden_field_tag 'autocomplete_route', customer_autocomplete_url
    = hidden_field_tag 'accessibility_advisory_for_reserved_seating', Option.accessibility_advisory_for_reserved_seating
    
    #outer_wrapper
      #inner_wrapper.container-fluid
        - if (url = Option.venue_homepage_url).blank?
          #header= sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
        - else
          %a{:id => 'top_level_banner_link', :href => url}
            #header= sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
        #page_body
          #themed-nav.themed.clearfix
            - if existing_customer(@customer) && (@customer.has_ever_logged_in? || @gAdminDisplay)
              = render :partial => 'components/main_tabs'
            - if @gAdminDisplay
              = render :partial => 'components/season_tabs'
            - if current_user && @gAdminDisplay
              = render :partial => 'components/quick_search'
              = render :partial => 'components/staff_buttons' if display_customer_actions?
          #content.a1-plain.p-3
            - if controller.controller_name =~ /checkins|walkup_sales/
              = render :partial => 'checkins/change_showdate'
              #show_stats.card.m-3= render :partial => 'checkins/show_stats', :locals => {:showdate => @showdate}
            - if display_order_in_progress?
              %h1.text-center Your Order Is Not Yet Complete
              = render :partial => 'store/cart'
            = render :partial => 'components/notices'
            = yield
        - if current_user
          #welcome_header.pt-2.px-3= render :partial => 'layouts/login_banner'

    #footer
      %p
        Powered by&nbsp;
        = link_to 'Audience1st', 'http://www.audience1st.com', :target => '_blank'
        - unless (s = Option.privacy_policy_url).blank?
          \&nbsp;&bull;&nbsp;
          = link_to 'Terms of Use & Privacy Policy', s
        \&nbsp;&bull;&nbsp;
        = link_to Option.venue, Option.venue_homepage_url
