!!! 5
%html
  %head
    %link{:rel => "icon", :type => "image/x-icon", :href => stylesheet_path('venue/favicon.ico')}

    = stylesheet_link_tag 'jquery-ui.min', :media => 'all'
    = stylesheet_link_tag 'jquery.comiseo.daterangepicker', :media => 'all'
    = stylesheet_link_tag 'admin', :media => 'all'
    = stylesheet_link_tag 'venue/default', :media => 'all'

    = javascript_include_tag 'application'
    %script{:type => 'text/javascript', :src => 'https://js.stripe.com/v1'}

    %title= @page_title || h(controller.action_name.humanize)
    %meta{'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}/
    %meta{:name=>:description, :content=>''}/

    = csrf_meta_tags

  %body{:id=>"#{controller.controller_name}_#{controller.action_name}", :class=>(Figaro.env.sandbox ? 'testing.default' : 'default')}

    = hidden_field_tag 'autocomplete_route', customer_autocomplete_url
    
    #outer_header
    #outer_wrapper
      #inner_wrapper
        - if (url = Option.venue_homepage_url).blank?
          #header= sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
        - else
          %a{:id => 'top_level_banner_link', :href => url}
            #header= sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
        #page_body
          #left_sidebar
          #right_main
            #nav
              - if controller.controller_name =~ /checkins|walkup_sales/
                = render :partial => 'navbars/box_office_tabs'
                = render :partial => 'checkins/change_showdate'
                = render :partial => 'checkins/show_stats', :locals => {:showdate => @showdate}
              - elsif controller.controller_name =~ /import|options|bulk_downloads/i
                = render :partial => 'navbars/admin_tabs'
              - elsif existing_customer(@customer)
                = render :partial => 'navbars/main_tabs'
              - if current_user && @gAdminDisplay && controller.controller_name !~ /checkins|walkup_sales/
                = render :partial => 'navbars/season_tabs'
                = render :partial => 'customers/quick_search'
                = render :partial => 'navbars/staff_buttons' if (controller.controller_name == 'customers' && controller.action_name !~ /^index|list_duplicate/)
            #content.clear
              = render :partial => 'messages/notices'
              - if @gCheckoutInProgress && %w(customers store sessions).include?(controller.controller_name)
                %h1.center Your Order Is Not Yet Complete
                = render :partial => 'store/cart', :locals => {:editable => false,:cart=>@gCart}
              = yield
        = render :partial => 'layouts/login_banner' if current_user
    = render :partial => 'layouts/footer'
