!!! Strict
%html
  %head
    = stylesheet_link_tag 'vbo'
    = javascript_include_tag :defaults 

    %title= @page_title || sprintf("%s: %s", controller.controller_name.capitalize,controller.action_name.capitalize) 
    %meta{'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}/
    %meta{'http-equiv'=>:imagetoolbar, :content=>:no}/
    %meta{:name=>:description, :content=>''}/

  %body{:id=>"#{h(controller.controller_name)} - #{h(controller.action_name)}", :class=>(RAILS_ENV != 'production' ? :testing : nil)}

    - if (c=Customer.get_customer(session[:cid])) && session[:cid] != 0 
      = render :partial => 'layouts/login_banner', :locals => {:c => c}
      = render :partial => 'layouts/storenav', :locals => {:is_admin =>c.is_staff,:c => c,:customer => @customer} 
    - unless (flash[:notice].empty? rescue true) 
      %p.infoMsg{:clear=>:both}= flash[:notice]

    = yield 

    #footer
      %p
        \&copy; 2007
        = link_to 'AudienceFirst', 'http://www.audience1st.com'
        = " - "
        = link_to "Terms of Use & Privacy Policy", APP_CONFIG[:privacy_policy_url], :target=>:_blank
