!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml","xml:lang"=>:en,:lang=>:en}
  %head
    = stylesheet_link_tag((s = Option.value(:external_css_file)).blank? ? 'generic' : s)
    = stylesheet_link_tag 'vbo'
    = javascript_include_tag :defaults 

    %title= @page_title || sprintf("%s: %s", controller.controller_name.capitalize,controller.action_name.humanize) 
    %meta{'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}/
    %meta{'http-equiv'=>:imagetoolbar, :content=>:no}/
    %meta{:name=>:description, :content=>''}/

  %body{:id=>"#{h(controller.controller_name)}_#{h(controller.action_name)}", :class=>(RAILS_ENV != 'production' ? :testing : nil)}
    
    #outer_wrapper
      - if @gCustomer
        = render :partial => 'layouts/login_banner', :locals => {:c => @gCustomer,:logged_in=>@gLoggedIn}
        = render :partial => 'layouts/storenav', :locals => {:admin=>@gAdmin,:c=>@gCustomer,:logged_in=>@gLoggedIn}

      - unless flash[:notice].blank?
        %p.feedback.clear= flash[:notice]

      - if @gCheckoutInProgress and controller.controller_name != 'store'
        %h1.center Your Order So Far
        = render :partial => 'store/cart', :locals => {:editable => false,:cart=>@gCart}
      
      #inner_wrapper
        = yield 

    #footer.center
      \&copy; 2008
      = link_to 'A1 Patron Systems', 'http://www.a1patronsystems.com'
      = " - Build #{APP_VERSION} - "
      = link_to "Terms of Use & Privacy Policy", Option.value(:privacy_policy_url)
