!!!
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', |
 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', |
 'xml:lang' => 'en',  |
 'lang' => 'en'}  |
  %head
    = stylesheet_link_tag 'admin', :media => 'all'
    = stylesheet_link_tag 'venue/default', :media => 'all'
    = google_javascripts :prototype, :scriptaculous, :local => true
    = javascript_include_tag 'application'

    %title= @page_title || h(controller.action_name.humanize)
    %meta{'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}/
    %meta{'http-equiv'=>:imagetoolbar, :content=>:no}/
    %meta{:name=>:description, :content=>''}/

  %body{:id=>"#{h(controller.controller_name)}_#{h(controller.action_name)}", :class=>(SANDBOX ? :testing : nil)}
    
    - if USE_FACEBOOK
      = fb_connect_javascript_tag
      = init_fb_connect 'XFBML'
    
    #outer_header
    #outer_wrapper
      #inner_wrapper
        - if (url = Option.value(:venue_homepage_url)).blank?
          #header= sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
        - else
          %a{:id => 'top_level_banner_link', :href => url}
            #header= sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
        #page_body
          #left_sidebar
          #right_main
            #nav
              = render :partial => 'layouts/login_banner' if current_user
              - if controller.controller_name == 'box_office'
                = render :partial => 'layouts/box_office_tabs'
                = render :partial => 'box_office/show_stats'
              - elsif controller.controller_name =~ /import|options|bulk_downloads/i
                = render :partial => 'layouts/admin_tabs'
              - elsif @gCustomer
                = render :partial => 'layouts/main_tabs'
                - if @gAdmin.is_staff
                  = render :partial => 'customers/quick_search'
                  = render :partial => 'messages/staff_buttons' if (controller.controller_name == 'customers' && controller.action_name !~ /^list/)
            #content.clear
              = render :partial => 'messages/notice' unless flash[:notice].blank?
              = render :partial => 'messages/warning' unless flash[:warning].blank?
              = render :partial => 'store/checkout_error' unless flash[:checkout_error].blank?
              - if @gCheckoutInProgress && %w(customers store sessions).include?(controller.controller_name)
                %h1.center Your Order Is Not Yet Complete
                = render :partial => 'store/cart', :locals => {:editable => false,:cart=>@gCart}
              = yield

    = render :partial => 'layouts/footer'
