!!! 5
%html
  %head
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => favicon_path}

    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity: "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin: "anonymous"}
    = stylesheet_link_tag :application, :media => 'all'
    %link{rel: "stylesheet", href: Option.stylesheet_url, :media => 'all'}

    = javascript_include_tag :application
    = javascript_include_tag "#{STRIPE_JS_HOST}/v1/"

    %title= @page_title || h(action_name.humanize)
    %meta{'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}/
    %meta{:name=>:description, :content=>''}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = csrf_meta_tags

  %body{:id=>"#{controller.controller_name}_#{action_name}", :class => ('maintenance' if @gMaintMode)}

    = hidden_field_tag 'autocomplete_route', customer_autocomplete_url
    
    #outer_header.container-fluid
    #outer_wrapper.container-fluid
      #header
        %a{:id => 'top_level_banner_link', :href => Option.venue_homepage_url}
        = sanitize_option_text(:top_level_banner_text, 'p', :id => 'top_level_banner_text')
      #nav
        - if controller.controller_name =~ /checkins|walkup_sales/
          = render :partial => 'navbars/box_office_tabs'
          = render :partial => 'checkins/change_showdate'
          = render :partial => 'checkins/show_stats', :locals => {:showdate => @showdate}
        - elsif controller.controller_name =~ /import|options|bulk_downloads/i
          = render :partial => 'navbars/admin_tabs'
        - elsif existing_customer(@customer) && (@customer.has_ever_logged_in? || @gAdminDisplay)
          = render :partial => 'navbars/main_tabs'
        - if current_user && @gAdminDisplay && controller.controller_name !~ /checkins|walkup_sales/
          = render :partial => 'navbars/season_tabs'
          = render :partial => 'customers/quick_search'
          = render :partial => 'navbars/staff_buttons' if display_customer_actions?
      #content.container-fluid
        - if @gCheckoutInProgress && %w(customers store sessions).include?(controller_name)
          %h1.text-center Your Order Is Not Yet Complete
          = render :partial => 'store/cart', :locals => {:editable => false,:cart=>@gCart}
        = render :partial => 'messages/notices'
        = yield
      #footer.footer.text-center
        = render :partial => 'layouts/login_banner' if current_user
        %p
          \&copy; 2011&ndash;2018
          Secure ticketing by
          = link_to 'Audience1st', 'http://www.audience1st.com'
