!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml","xml:lang"=>:en,:lang=>:en}
  %head
    - if (s = Option.value(:external_css_file)).blank?
      = stylesheet_link_tag 'generic'
    - else
      = stylesheet_link_tag possibly_https(s)
    = stylesheet_link_tag 'vbo'
    = javascript_include_tag :defaults 

    %title
      = Option.value(:venue)
      \- Secure Online Purchase
    %meta{'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}/
  %body#miniStore
    #miniStoreOuter
      = render :partial => 'steps'
      = render :partial => 'login_control'
      #miniStoreInner
        = yield
      #footer.center
        \&copy; 2008
        Secure ticketing by
        = link_to 'A1 Patron Systems', 'http://www.a1patronsystems.com'
        = " - Version #{APP_VERSION} - "
        = link_to "Terms of Use & Privacy Policy", Option.value(:privacy_policy_url)

        

    
