.browsable[voucher]
  %tr
    %td= check_box_tag "vouchers[]", voucher.id, false, :id => "voucher_#{voucher.id}"
    %td= voucher.id
    %td= link_to_unless voucher.order_id.nil?,  voucher.order_id, order_path(voucher.order_id)
    %td
      %label{:for => "voucher_#{voucher.id}"}= voucher.vouchertype.name
    %td= voucher.customer.full_name if voucher.customer
    %td= number_to_currency voucher.amount
    %td= Purchasemethod.get(voucher.order.purchasemethod).description
    %td= voucher.sold_on.to_formatted_s(:long) if voucher.sold_on
    %td= voucher.showdate.printable_name if voucher.showdate
    %td= staff_name(voucher.processed_by)
    %td= voucher.comments
