%h2= "Add Comps for #{h(@customer.full_name)}"

- form_tag({:action => 'process_addvoucher', :customer => @customer}, {:id => 'addcomps'}) do

  %label{:for => 'howmany'} How many:
  = text_field_tag 'howmany', '', :size => 3, :maxlength => 2
  %br

  %label{:for => 'vouchertype_id'} What type:
  = select_tag('vouchertype_id', options_from_collection_for_select(@vouchers,'id','name_with_season'))
  = spinner('wait_showdate')
  %br
    
  %label{:for => 'comments'}  Optional comments:
  = text_field_tag 'comments', '', {:size => 30, :maxlength => 30}
  %br

  #reserve_for= render(:partial => 'reserve_for') if @valid_vouchers
  = observe_form 'addcomps', :url => {:action => 'update_shows'}, |
    :update => 'reserve_for', |
    :before => "Element.show('wait_showdate')", |
    :complete => "Element.hide('wait_showdate')" |
    
  = submit_tag "Add Vouchers"

  = gen_button  "Cancel", {:controller => 'customers', :action => 'welcome', :id => @customer}
