#transfer_to.explain
  %ul
    %li 
      You can only transfer unreserved (open) vouchers.  To transfer a
      %span.attention reserved voucher,
      cancel the reservation first.
    %li Transferring a subscription/bundle will transfer all the vouchers in the bundle.
    %li 
n first.

  - form_tag transfer_multiple_customer_vouchers_path(@customer) do
    %strong Transfer checked vouchers to:
    = customer_search_field 'customer', '', {:size => 20, :autocomplete => :off, :onFocus => 'javascript:$(cid).value=""'}, :also_update => {'customer_id' => :id}, :select_opts => {:indicator => 'wait'}
    = spinner 'wait'
    = submit_tag 'Go'

%table
  %tbody
    - @vouchers.each do |v|
      %tr
        %td= check_box_tag "vouchers[#{v.id}]" unless (v.subscriber_voucher? || v.reserved?)
        %td= v.id
        %td= v.item_description
