.alert.alert-info
  Check the vouchers you want to transfer, then at the bottom of this
  page, fill in the customer name to transfer them to.
  %ul
    %li 
      You can only transfer unreserved (open) vouchers.  To transfer a
      %span.attention reserved voucher,
      cancel the reservation first.
    %li Transferring a subscription/bundle will transfer all the vouchers in the bundle.

%div
  = check_box_tag 'hide', 1, false, :class => 'hide_checkbox', 'data-selector' => '.nontransferable', 'data-ifchecked' => 'hide'
  Show only transferable vouchers

= form_tag transfer_multiple_customer_vouchers_path(@customer) do
  %table.a1-table.table.table-hover#transfer_vouchers_table
    %thead
      %th 
      %th ID
      %th Description
      %th Order#
      %th Original purchaser
    %tbody
      - @vouchers.each do |v|
        %tr{:class => ('nontransferable' unless v.transferable?)}
          %td= check_box_tag "vouchers[#{v.id}]" if v.transferable?
          %td= v.id
          %td{:class => ('attention' if v.reserved?)}
            = raw("&nbsp;&nbsp") if v.part_of_bundle?
            = v.item_description
          %td= link_to v.order_id, order_path(v.order)
          %td= v.purchaser.full_name

  .form-row.border.m-2.bg-light#transfer
    .col-md-4.text-right Transfer checked vouchers to customer:
    .col-md-5= text_field_tag 'customer', '', :size => 20, :class => '_autocomplete form-control', 'data-resultfield' => 'cid', :placeholder => 'Type customer first or last name'
    = hidden_field_tag 'cid'
    .col-md-2= submit_tag 'Transfer', :class => 'btn btn-danger'

