- form_tag :action => 'manage' do
  %p With checked vouchers:
  %p
    Transfer to another customer:
    = customer_search_field 'xfer_name', '', {:size=>20}, |
      :also_update => {:xfer_id => :id}, |
      :select_opts => {:indicator => 'wait2'} |
    = spinner 'wait2'
    = hidden_field_tag 'xfer_id'
    = submit_tag 'Transfer'
  %p= submit_tag 'Destroy Permanently', :confirm => 'Destroying prepaid vouchers DOES NOT cause a refund to be issued and may cause the transaction totals reported by Audience1st to disagree with your credit card transaction reports unless you reconcile them manually.  If this is OK, click OK to PERMANENTLY DESTROY the selected vouchers, or Cancel to leave things as they are.'

  %table#manageVouchers.full_width.hilite
    %thead= render :partial => 'detail_header'
    %tbody= render :partial => 'voucher', :collection => @vouchers

