%h2 Add Comps for #{@customer.full_name}

= form_tag customer_vouchers_path(@customer), :id => 'addcomps' do

  %label{:for => 'howmany'} How many:
  = text_field_tag 'howmany', '', :size => 3, :maxlength => 2
  %br

  %label{:for => 'vouchertype_id'} What type:
  = select_tag('vouchertype_id', disabled_select_default('Select type...') + options_from_collection_for_select(@vouchers,'id','name_with_season'))
  %br
    
  %label{:for => 'comments'}  Optional comments:
  = text_area_tag 'comments', '', {:size => '40x2'}
  %br
  
  #reserve_for= render :partial => 'reserve_for'
  %br
    
  %label{:for => 'customer_email'} Send Email Confirmation
  = check_box_tag 'customer_email', 1, false, :disabled => @email_disabled
  %br
  
  = submit_tag "Add Vouchers", :class => 'btn btn-success'
  = link_to  "Cancel", customer_path(@customer), :class => 'btn btn-secondary'
