%h2 Add Comps for #{@customer.full_name}

= form_tag customer_vouchers_path(@customer), :class => 'form', :id => 'add_comps_form' do

  .form-row
    %label.col-2.text-right.col-form-label{:for => 'comp_order_howmany'} How many:
    = text_field 'comp_order', 'howmany', :class => 'form-control col-1'

  .form-row
    %label.col-2.text-right.col-form-label{:for => 'comp_order_vouchertype_id'} What type:
    = select 'comp_order', 'vouchertype_id', disabled_select_default('Select type...') + options_from_collection_for_select(@vouchers,'id','name_with_season'), {}, {:class => 'col-4 form-control'}
    
  .form-row
    %label.col-2.text-right.col-form-label{:for => 'comp_order_comments'}  Optional comments:
    = text_area 'comp_order', 'comments', :class => 'form-control col-4'

  #reserve_for= render :partial => 'reserve_comps_for'
    
  = render :partial => 'components/seatmap'

  .form-row
    %label.col-2.text-right.col-form-label{:for => 'customer_email'} Send Email Confirmation
    .col-1= check_box_tag 'customer_email', 1, false, :disabled => @email_disabled, :class => 'form-control-sm'

  .form-row  
    = link_to  "Cancel", customer_path(@customer), :class => 'btn btn-secondary offset-2 col-2'
    = submit_tag "Add Vouchers", :class => 'confirm-seats btn btn-success col-2 mx-2'
