%h2 Make Reservation for #{@customer.full_name}

= form_tag confirm_reservation_customer_voucher_path(@customer,@voucher) do
  = render(:partial => 'reserve_for') if @valid_vouchers

  %label.emphasis{:for => 'accessible_seating'} Special seating needs?
  = checkbox_guard_for 'special_seating'
  #special_seating{:style => 'display:none'}
    %label{:for => 'comments'} Please describe special seating needs
    = text_field_tag 'comments', '', :size => '20em', :class => :showdate
  %br

  - unless @valid_vouchers.empty?
    - if @customer.valid_email_address?
      %label{:for => 'email_confirmation'} Send confirmation email?
      = check_box_tag 'email_confirmation', 1, !@customer.is_admin
      %br
    = submit_tag 'Confirm Reservation'
    - back_label = "Don't Make Reservation"
  - else
    - back_label = "Back to My Account"
    %p
      Sorry, but there are no shows for which this ticket can be redeemed
      at this time.  This could be because:
    %ul
      %li All shows for which it's valid may be sold out
      %li All seats allocated for this type of ticket may be sold out 
      %li Seats allocated for this type of ticket may not be available for reservation until a future date
  = link_to back_label, customer_path(@customer), :class => 'genButton'



