= form_for @account_code do |f|
  %fieldset
    %legend Account Code
    %label{:for => 'account_code_name'} Name
    = f.text_field 'name', :size => 20
    %br
    %label{:for => 'account_code_code'} Code
    = f.text_field 'code', :size => 6
    %br
    %label{:for => 'account_code_description'} Brief Description
    = f.text_field 'description', :size => 40
    %br
    %label{:for => 'account_code_donation_prompt'} 
      = popup_help_for 'account_code_donation_prompt'
      Donation prompt
    = f.text_field 'donation_prompt', :size => 40
    %br
    = f.submit
    = link_to 'Cancel', account_codes_path, :class => 'btn btn-secondary'
